<!-- <div style="height: 50%;">
    <table mat-table [dataSource]="leaderboard" class="leaderboardTable">
      <ng-container matColumnDef="Rank" style="padding: 5px;">
        <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
      </ng-container>

      <ng-container matColumnDef="ProfilePic" style="padding: 10px;">
        <td mat-cell *matCellDef="let element"> <img width="50px" src="{{element.profile_url}}"> </td>
      </ng-container>

      <ng-container matColumnDef="Name" style="padding: 10px;">
        <td mat-cell *matCellDef="let element"> {{element.display_name}} </td>
      </ng-container>

      <ng-container matColumnDef="Distance" style="padding: 5px;">
        <td mat-cell *matCellDef="let element"> {{element.total_distance}} </td>
      </ng-container>

      <ng-container matColumnDef="Follow" style="padding: 5px;">
        <td mat-cell *matCellDef="let element">
          <app-user-follow [userID]="element.user_id" [follows]="element.follows">
          </app-user-follow>
        </td>
      </ng-container>

    </table>

  </div> -->


  <mat-accordion>
    <div *ngFor="let group of leaderboard; let i=index">
      <mat-expansion-panel [disabled]="!group.isTeam">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p style="padding-top: 10px; padding-right: 5px;">{{i+1}}</p>
            <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + group.profile_url + ')'}" style="position:relative; padding-top: 5px; float:left;"></div>
            <div style="padding: 10px;">{{group.display_name}}</div>
          </mat-panel-title>
          <mat-panel-description style="padding:8px; float: right;">
            {{group.total_distance}} {{group.distance_type}}
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-card *ngFor="let member of group.child_user_stats">
          <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + member.profile_url + ')'}" style="position: relative; float:left;"></div>
          <div style="padding-left: 50px;">{{member.display_name}}</div>
          <div style="padding-left: 50px;">{{member.total_distance}} {{member.distance_type}}</div>
        </mat-card>

      </mat-expansion-panel>



    </div>
  <mat-accordion>