<div class='UserProfileContainer'>
  
  <!-- user profile info -->
  <div class="UserProfileUserInfoContainer">
    <div class="TucanContainer UserProfileUserInfoInnerContainer">
      <div *ngIf="userData != null; else profileLoadingMessage">
        <div class="UserProfileIdentityContainer">
          <img class="UserProfileImage img-responsive" src="{{userData.profile_url}}" alt=""> 
          <h3 class="UserProfileName">{{userData.first_name}} {{userData.last_name}}</h3>
          <p class="UserProfileEmail" *ngIf="userData.email_visibility||userData.is_me">{{ userData.email }}</p>
        </div>

         <div *ngIf="this._authService.isLoggedIn()" class='margin-bottom-16px'>
          <div *ngIf="userData.is_me">
            <button class='darkButton shadowButton' (click)="openFollowersDialog()">Followers: {{this.followersData.numFollowers}} | Following: {{this.followersData.numFollowing}}</button>
            <!--<app-view-follow></app-view-follow>-->
          </div>
        </div>

        <div *ngIf="userData.about_visibility||userData.location_visibility||userData.is_me" class='margin-bottom-16px'>
          <div>
            <p class='h7' *ngIf="userData.about_visibility && userData.description!='N/A'; else descriptionDefault" class="UserProfileDescription">{{ userData.description }}</p> 
            <ng-template #descriptionDefault><p class='italics h7'>No description available</p></ng-template>
          </div>
          <div>
            <span class='h7' *ngIf="userData.location_visibility && userData.location != 'N/A'; else locationDefault">{{ userData.location }}</span>  
            <ng-template #locationDefault><span class='italics h7'>No location info available</span></ng-template>
          </div>
        </div>

        <div *ngIf="this._authService.isLoggedIn()" class='margin-bottom-16px'>
          <div *ngIf="userData.is_me">
          
            <div>
              <h6>Strava Authentication</h6>
              <app-stravauth></app-stravauth>
            </div>
          </div>
        </div>
        <div *ngIf="!userData.is_me" >
          <app-user-follow [tempLight]="false" [userID]="userData.user_id" [follows]="userData.follows"></app-user-follow>
        </div>

        <!--
        <div *ngIf="userData.location_visibility||userData.is_me">
          <h6>Location:</h6>
          <p *ngIf="userData.location != 'N/A'; else locationDefault">{{ userData.location }}</p>  
          <ng-template #locationDefault>No location info available</ng-template>
        </div>
      -->
      </div>
      <ng-template #profileLoadingMessage><p>Loading...</p></ng-template>

      <div class='UserProfileActions' *ngIf="userData != null && this._authService.isLoggedIn() && userData.is_me">
        <button class="darkButton" (click)="openModal('profileModal')" >Edit</button>
        <a class="button darkButton" (click)="logout()">Log out</a>
      </div>

    </div>
  </div>
  <div class="UserProfileMainContentContainer">

    <div class="Slideshow">
      <div class="SlideshowHeader">
        <button class="SlideshowButton" (click)="SwitchSlideshow('home')" id="home-btn">Home</button>
        <button class="SlideshowButton" (click)="SwitchSlideshow('stats')" id="stats-btn">Stats</button>
        <button *ngIf="!showEdit" class="SlideshowButton" (click)="SwitchSlideshow('feed')" id="feed-btn">Feed</button>
    <!--    <button class="SlideshowButton" (click)="SwitchSlideshow('races')" id="races-btn">Races</button> -->
      </div>
      <div class="SlideshowContents">

        <div id='statsContent' class="SlideshowSlide" [ngClass]="{'Slideshow-CurrentSlide' : currentScreen == 'home'}">
          <div *ngIf="userData != null; else HomeLoadingMessage">
            <h2 *ngIf="userData.is_me; else otherHome">Home</h2>

            <ng-template #otherHome><h2>{{userData.first_name}}'s Profile</h2></ng-template>
            <div class="RaceContainer PageSegment">
                <div *ngIf="userData != null; else RaceLoadingMessage">
                  <div *ngIf="userRaces==null"></div>
                  <div *ngIf="userRaces!=null&&userRaces.length>0; else noRacesDisplay">
                    <app-user-race></app-user-race>
                  </div>
                  <ng-template #noRacesDisplay><p>You currently do not have any races under your belt. To find races you may be interested in, head over to <a routerLink='/races'>Public Races</a>.</p></ng-template>
            </div>
            <ng-template #RaceLoadingMessage><p>Loading user data...</p></ng-template>
            </div>

            <!--
            <div class="RaceContainer PageSegment">
              <div class="FeedContainer">
                <app-feed [use]="'user'" [ID]="username" [hasStoryModalChild]="true"></app-feed>
              </div>
              <div class="StatsContainer">
                <app-user-stats [userID]="userData.user_id"></app-user-stats>
              </div>
            </div>
          </div> -->
          <ng-template #HomeLoadingMessage><p>Retrieving user data...</p></ng-template>
        </div>
      </div>

        <div id='statsContent' class="SlideshowSlide" [ngClass]="{'Slideshow-CurrentSlide' : currentScreen == 'stats'}">
          <div *ngIf="userData != null; else StatsLoadingMessage">
            <h2 *ngIf="userData.is_me; else otherUserStats">Your Stats</h2>

            <ng-template #otherUserStats><h2>{{userData.first_name}}'s Stats</h2></ng-template>
            <app-user-stats [userID]="userData.user_id"></app-user-stats>
          </div>
          <ng-template #StatsLoadingMessage><p>Retrieving user data...</p></ng-template>
        </div>
        <div *ngIf="!showEdit" id='feedContent' class="SlideshowSlide" [ngClass]="{'Slideshow-CurrentSlide' : currentScreen == 'feed'}">
          <div *ngIf="userData != null; else FeedLoadingMessage">
            <h2 *ngIf="userData.is_me; else otherUserFeed">Your Feed</h2>
            <ng-template #otherUserFeed><h2>{{userData.first_name}}'s Feed</h2></ng-template>
            <app-feed [use]="'user'" [ID]="username" [hasStoryModalChild]="true"></app-feed>
          </div>
          <ng-template #FeedLoadingMessage><p>Retrieving user data...</p></ng-template>
        </div>
        <div id='raceContent' class="SlideshowSlide" [ngClass]="{'Slideshow-CurrentSlide' : currentScreen == 'races'}">
          <div *ngIf="userData != null; else RaceLoadingMessage">
            <h2 *ngIf="userData.is_me; else otherUserRaces">Your Races</h2>
            <ng-template #otherUserRaces><h2>{{userData.first_name}}'s Races</h2></ng-template>
            <div *ngIf="userRaces==null"></div>
            <div *ngIf="userRaces!=null&&userRaces.length>0; else noRacesDisplay">
              <app-user-race></app-user-race>
            </div>
            <ng-template #noRacesDisplay><p>You currently do not have any races under your belt. To find races you may be interested in, head over to <a routerLink='/races'>Public Races</a>.</p></ng-template>
          </div>
          <ng-template #RaceLoadingMessage><p>Loading user data...</p></ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
