<!--<div class="container" *ngIf="!this._authService.token">
  <div class="row">
    <div class="column-43">
    </div>

    <div class="column-44">
      <div class="centered">
      <mat-card class="example-card roboto-purple rounded-card">
                <mat-card-header> 
                    
                  <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
         <!--       </mat-card-header>
                <mat-card-content>
                    <h3 class="text-uppercase roboto-purple"><b>Log in to view profiles</b></h3>
                        <hr class="divider my-4" />
                    
                  <app-login></app-login>
                </mat-card-content>
              </mat-card>
            </div>
    </div>

    <div class="column-43">
    </div>

  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="column-31" *ngIf="!showEdit">
        <mat-card class="example-card" >
            <mat-card-header>
            <!--  <div mat-card-avatar style = "background-image: url({{userData.profile_url}});
  background-size: cover;"></div> -->
              <mat-card-title *ngIf="userData.is_me">About Me</mat-card-title>
              <mat-card-title *ngIf="!userData.is_me">About {{userData.first_name}}</mat-card-title>
              <mat-card-subtitle>{{userData.first_name}} {{userData.last_name}}</mat-card-subtitle> <br>
            </mat-card-header>
            <mat-card-content>
             <img style="width:150px;height:150px;" src="{{userData.profile_url}}" class="img-responsive" alt="">
          <p> <span class="material-icons" style="color:#BC164D;">location_city </span> {{ userData.location }}</p>

          <p><span class="material-icons" style="color:#BC164D;">description</span> {{ userData.description }}</p>

          <div *ngIf="userData.is_me">
              <b>Strava Authentication</b>
              <p>
              <app-stravauth></app-stravauth>
            </p>
          </div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button *ngIf="this._authService.token && userData.is_me" (click)="toggleEditView()">EDIT</button>
              <app-user-follow *ngIf="this._authService.token && !userData.is_me" [userID]="userData.user_id" [follows]="userData.follows"></app-user-follow>
            </mat-card-actions>
          </mat-card>

  </div>

  <div class="column-32" id="feedContent" *ngIf="!showEdit">
        <!---<app-user-stats [userID]="userData.user_id"></app-user-stats>-->
        
         <mat-card class="example-card">
            <mat-card-header>
            <!--  <div mat-card-avatar style = "background-image: url({{userData.profile_url}});
  background-size: cover;"></div> -->
              <mat-card-title *ngIf="userData.is_me">My Stats</mat-card-title>
              <mat-card-title *ngIf="!userData.is_me">{{userData.first_name}}'s Stats</mat-card-title>
            </mat-card-header>
            <mat-card-content>

             <app-user-stats [userID]="userData.user_id"></app-user-stats>

            </mat-card-content>
          </mat-card>

           <br>
        
        <mat-card class="example-card">
          <mat-card-header>
            <!--  <div mat-card-avatar style = "background-image: url({{userData.profile_url}});
  background-size: cover;"></div> -->
              <mat-card-title *ngIf="userData.is_me">My Feed</mat-card-title>
              <mat-card-title *ngIf="!userData.is_me">{{userData.first_name}}'s Feed</mat-card-title>
            </mat-card-header>
            
          <div style="max-height: 230px;overflow: auto;">
            
            <mat-card-content>

             <app-feed [use]="'user'" [ID]="username" [hasStoryModalChild]="true"></app-feed>

            </mat-card-content>
            </div>
          </mat-card>
        

     


  </div>

  </div>

 <div class="profile-content">
        <!----<app-user-stats *ngIf="!showEdit" [userID]="userData.user_id"></app-user-stats>---->
        <app-profile-form *ngIf="showEdit" [userData]="userData" (formUpdated)="profileUpdated($event)"></app-profile-form>
      </div>

</div>
