.UserProfileContainer {
    position: relative;
    width:100%;
    height: calc(100vh - 64px);

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
}
.UserProfileUserInfoContainer {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 240px;

    height:100%;
    width:240px;
    background-color:grey;

    box-sizing: border-box;
}
.UserProfileUserInfoInnerContainer, .UserProfileMainContentContainer {
    padding:16px;
    box-sizing: border-box;
}
    img.UserProfileImage {
        width:100%;
        /* width:150px;height:150px; */
    }
    .UserProfileUserInfoInnerContainer {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: nowrap;
    }
.UserProfileMainContentContainer {
    height:100%;
    overflow-y:auto;
}