.UserProfileContainer {
    position: relative;
    width:100%;
    height:auto;
    min-height: 100%;
    overflow-y:auto;
    padding-left:320px;
    box-sizing: border-box;
}
.UserProfileUserInfoContainer {
    position: fixed;
    left:0;
    top:0;
    height:100vh;
    width:320px;
    background-color:grey;

    padding-top: 64px;
    box-sizing: border-box;
}
.UserProfileUserInfoInnerContainer, .UserProfileMainContentContainer {
    padding:16px;
    box-sizing: border-box;
}
    img.UserProfileImage {
        width:100%;
        /* width:150px;height:150px; */
    }
    .UserProfileUserInfoInnerContainer {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: nowrap;
    }

.Slideshow {
    position: relative;

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
}
.SlideshowHeader {
    flex-shrink:0;
    flex-grow:1;
    flex-basis: 32px;

    margin-bottom:32px;

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}

.SlideshowSlide {
    height:0;
    visibility: hidden;
    opacity:0;

    overflow:hidden;
}
.SlideshowSlide.Slideshow-CurrentSlide {
    height:auto;
    visibility: visible;
    opacity:1;
}