.UserProfileContainer {
    position: relative;
    width:100%;
    height: calc(100vh - 64px);

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
}
.UserProfileUserInfoContainer {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 320px;

    height:100%;
    width:320px;
    background-color:var(--primary-darkgrey);

    box-sizing: border-box;
}
    .UserProfileUserInfoContainer h2,
    .UserProfileUserInfoContainer h3,
    .UserProfileUserInfoContainer h6,
    .UserProfileUserInfoContainer p, 
    .UserProfileUserInfoContainer span,
    .UserProfileUserInfoContainer a {
        color:white;
    }
    .UserProfileUserInfoContainer p {
        margin-bottom:0;
    }
    .UserProfileActions {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
.UserProfileUserInfoInnerContainer, .UserProfileMainContentContainer {
    padding:32px;
    box-sizing: border-box;
}
    .UserProfileIdentityContainer {
        margin-bottom:16px;
    }
        img.UserProfileImage {
            width:100%;
            margin-bottom:16px;
            /* width:150px;height:150px; */
        }
        .UserProfileName {
            margin-bottom:4px;
        }
        .UserProfileEmail {
            margin-bottom:0;
        }
    .UserProfileUserInfoInnerContainer {
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: nowrap;
    }
.UserProfileMainContentContainer {
    height:100%;
    
}

.RaceContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    border-bottom: 1px solid var(--primary-darkgrey);
}

.FeedContainer {
    width:30%;
    overflow-y:auto;
    height:200px;
}

.StatsContainer {
    width:70%;
}

