  
<mat-card style="width: 500px;">
  <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + notification.from.profile_url + ')'}" style="position: relative; padding-top: 5px; float:left;"></div>
  <div style="padding-left: 50px;"><p>{{notification.message}}</p></div>
  <!-- <div style="padding-left: 50px;">{{member.total_distance}} {{member.distance_type}}</div> -->
  <button mat-button (click)="approve()" *ngIf="showButton('Accept',notification.type)">Accept</button>
  <button mat-button (click)="approve()" *ngIf="showButton('View',notification.type)">View</button>
  <button mat-button (click)="decline()" *ngIf="showButton('Decline',notification.type)">Decline</button>

  <button mat-button *ngIf="showButton('Hide',notification.type)" (click)="hide()">Hide</button>
</mat-card>