<div class="container" style="padding:1px;">
    <form [formGroup]="settingsForm">

      <h3>Activities</h3>
      <div class="form-group">
        <mat-slide-toggle formControlName="isAutomaticImport">Automatic Activity Import</mat-slide-toggle>
      </div>

    <!--  <h3>Heat Map</h3>
      <div class="form-group">
        <mat-slide-toggle formControlName="heatMapOn">Heat Map On</mat-slide-toggle>
      </div> -->
      
      <h3>Toggle Pins by Gender</h3>
      <div class="form-group">
        <mat-slide-toggle formControlName="malePinsOn">Male Pins On</mat-slide-toggle>
        <mat-slide-toggle formControlName="femalePinsOn">Female Pins On</mat-slide-toggle>
      </div>

      <h3>Toggle Pins by Age</h3>
      <div class="form-group">
        <mat-slide-toggle formControlName="allAgesOn">Show All Ages</mat-slide-toggle>
        <br>
        <p>
          <label for="minAge">Min Age: </label>
          <input type="number" id="minAge" formControlName="minAge" style="width: 3em">

          <label for="maxAge">Max Age: </label>
          <input type="number" id="maxAge" formControlName="maxAge" style="width: 3em">
        </p>
      </div>

      <h3>Show Follower Pins Only</h3>
      <div class="form-group">
        <mat-slide-toggle formControlName="followerPinsOnly">Follower Pins On</mat-slide-toggle>
      </div>

    </form>

      <button mat-button class="btn btn-primary" (click)="apply()">Apply</button>
      
      <div>
        <br>
        <br>
      <div *ngIf="successfulUpdate"
    class="alert alert-primary">
    
    <div>
       Successfully Applied
    </div>
    </div>
  </div>

<div style="font-size:11px;"><span class="material-icons" style="color:#BC164D;">help</span> <b style="color:#2C007E">Need help? </b><b>Email us:</b> admin@tucan.fitness </div>
  </div>

