<div class="container" style="padding:1px;">
    <form [formGroup]="settingsForm">

      <h3>Activities</h3>
      <div class="form-group">
        <mat-slide-toggle formControlName="isAutomaticImport">Automatic Activity Import</mat-slide-toggle>
      </div>

    <!--  <h3>Heat Map</h3>
      <div class="form-group">
        <mat-slide-toggle formControlName="heatMapOn">Heat Map On</mat-slide-toggle>
      </div> -->
      
      <h3>Toggle Pins by Gender</h3>
      <div class="form-group">
        <mat-slide-toggle formControlName="malePinsOn">Male Pins On</mat-slide-toggle>
        <mat-slide-toggle formControlName="femalePinsOn">Female Pins On</mat-slide-toggle>
      </div>

      <h3>Toggle Pins by Age</h3>
      <div class="form-group">
        <mat-slide-toggle formControlName="allAgesOn">Show All Ages</mat-slide-toggle>
        <br>
        <div style="display: inline-block">
          <select class="form-control" formControlName="ageRange" style="display: inline-block">
            <option class="dropdown-placeholder" style="display: none" value="-1">Select Age</option>
            <option *ngFor="let ageRange of ageRangeOptions" [value]="ageRange">
              {{ ageRange }}
            </option>
          </select>
        </div>
      </div>

      <h3>Show Follower Pins Only</h3>
      <div class="form-group">
        <mat-slide-toggle formControlName="followerPinsOnly">Follower Pins On</mat-slide-toggle>
      </div>

    </form>

      <button mat-button class="btn btn-primary" (click)="apply()">Apply</button>
      
      <div>
        <br>
        <br>
      <div *ngIf="successfulUpdate"
    class="alert alert-primary">
    
    <div>
       Successfully Applied
    </div>
    </div>
  </div>

<div style="font-size:11px;"><span class="material-icons" style="color:#BC164D;">help</span> <b style="color:#2C007E">Need help? </b><b>Email us:</b> admin@tucan.fitness </div>
  </div>

