<div class="container">

  <form [formGroup]="profileForm">

    <div class="form-group" style="text-align: left; padding: 5px;">
      <label name="ProfilePic">Profile Picture</label>
      <br>
      <input type="file" formControlName="ProfilePic" (change)="onSelectFile($event)"/>
      <i class="material-icons" *ngIf="profilePicURL" (click)="deleteProfilePic()">close</i>

      <br>
      <div class="wrapper" *ngIf="profilePicURL">
        <img [src]="uploadedProfPicSrc()" width="300px">
      </div>
    </div>

    <div class="form-group" style="text-align: left; padding: 5px;">
      <label name="FirstName">First Name</label>
      <input class="form-control" type="text" placeholder="First Name" formControlName="FirstName">
      <br>
      <div *ngIf="profileForm.get('FirstName').invalid && (profileForm.get('FirstName').dirty || profileForm.get('FirstName').touched)"
        class="alert alert-danger">

        <div *ngIf="profileForm.get('FirstName').errors.required">
          First Name is required.
        </div>

      </div>
    </div>

    <div class="form-group" style="text-align: left; padding: 5px;">
      <label name="LastName">Last Name</label>
      <input class="form-control" type="text" placeholder="Last Name" formControlName="LastName">
      <br>
      <div *ngIf="profileForm.get('LastName').invalid && (profileForm.get('LastName').dirty || profileForm.get('LastName').touched)"
        class="alert alert-danger">

        <div *ngIf="profileForm.get('LastName').errors.required">
          Last Name is required.
        </div>
      </div>
    </div>

    <div class="form-group" style="text-align: left; padding: 5px;">
      <label name="About">About</label>
      <input class="form-control" type="text" placeholder="About" formControlName="About">
    </div>

    <div class="form-group" style="text-align: left; padding: 5px;">
      <label name="Location">Location</label>
      <input class="form-control" type="text" placeholder="Location" formControlName="Location">
      <br>
      <div *ngIf="profileForm.get('Location').invalid && (profileForm.get('Location').dirty || profileForm.get('Location').touched)"
        class="alert alert-danger">

        <div *ngIf="profileForm.get('Location').errors.required">
          Location is required.
        </div>
      </div>
    </div>

    <div class="form-group" style="text-align: left; padding: 5px;">
      <label name="DistanceType">Distance Type</label>
      <select class="form-control" formControlName="DistanceType">
        <option *ngFor="let typeOption of distanceTypeOptions" [value]="typeOption">
          {{ typeOption }}
        </option>
      </select>
    </div>

    <div style="padding: 5px; position: relative; float: left;">
      <button class="btn btn-primary" mat-raised-button (click)="updateProfile()">Update</button>
    </div>

  </form>
</div>
