<div class='AboutRaceImageContainer'>
  <img 
    *ngIf="this.aboutData != null && this.aboutData.race_image != null" 
    src="{{aboutData.race_image}}" 
    alt="race_img"
    class='AboutRaceImage'
  />
</div>

<div class="PageContainer">
  <div class='PageSegment'>
    <a class="nav-link" routerLink='/races'><span class="material-icons" inline=true>keyboard_arrow_left</span> <span class="aligned-with-icon">Return to Public Races</span></a>
    <ng-template [ngIf]="this.aboutData == null" [ngIfElse]="RaceHeaderBlock" >
      <p>Loading race description and dates...</p>
    </ng-template>
    <ng-template #RaceHeaderBlock>
      <div class='RaceHeader'>
        <h1>{{aboutData.name}} </h1>
        <div class='CalendarDaysContainer'>
          <div class='CalendarDay'>
            <div class='CalendarDayM'><p class='h7'>{{aboutData.start_date.month}}</p></div>
            <div class='CalendarDayD'><p>{{aboutData.start_date.day}}</p></div>
          </div>
          <div class='CalendarDaysLine'>
            <p class='h7'>to</p>
          </div>
          <div class='CalendarDay'>
            <div class='CalendarDayM'><p class='h7'>{{aboutData.end_date.month}}</p></div>
            <div class='CalendarDayD'><p>{{aboutData.end_date.day}}</p></div>
          </div>
        </div>
      </div>
      <p [innerHTML]="aboutData.description"></p>
    </ng-template>
  </div>

  <div class='PageSegment'>
    <h3>Interested in participating?</h3>
    <ng-template [ngIf]="this.aboutData == null" [ngIfElse]="RaceActionsBlock">
      <p>Waiting for race data...</p>
    </ng-template>
    <ng-template #RaceActionsBlock>
      <div class='RaceButtonsContainer'>
        <button (click)="this.viewRace()" *ngIf="this.hasStarted && this.hasJoined">Go to race</button>
        <button (click)="this.viewRace()" *ngIf="this.hasStarted && !this.hasJoined ">Preview race</button>
        <button (click)="this.goToRaceDashboard()" *ngIf="this.isOwner || this.isModerator">Go to dashboard</button>      
  
        <button *ngIf="!this._authService.isLoggedIn() &&!this.hasJoined" (click)="openModal('custom-modal-2')">Register for race</button>
        <button *ngIf="this._authService.isLoggedIn() &&!this.hasJoined" (click)="openModal('custom-modal-3')">Register for race</button>

        <p *ngIf="this._authService.isLoggedIn() && this.hasJoined" class='margin-bottom-8px'><b>You've registered for this race.</b></p>
        <p *ngIf=" !hasStarted && this.hasJoined" class='margin-bottom-8px italics'> Come back on race day ({{aboutData.start_date.month}}, {{aboutData.start_date.day}}).</p>
        <p *ngIf=" !hasStarted && !this.hasJoined" class='margin-bottom-8px italics'>Join by race day ({{aboutData.start_date.month}}, {{aboutData.start_date.day}}).</p>
      </div>
    </ng-template>
  </div>
    
  <div class='PageSegment'>
    <h3>Race Details</h3>

    <div class='Slideshow'>
      <div class="SlideshowHeader">
        <button class="SlideshowButton" (click)="SwitchSlideshow('map')" id="map-btn">Route Details</button>
        <button class="SlideshowButton" (click)="SwitchSlideshow('logistics')" id="logistics-btn">Rules &amp; requirements</button>
        <button class="SlideshowButton" (click)="SwitchSlideshow('race_director')" id="race_director-btn">About the race director</button>
      </div>
      <div class="SlideshowContents RaceSlideshowContents">
        <div class="SlideshowSlide" [ngClass]="{'Slideshow-CurrentSlide' : currentScreen == 'map'}">
          <div class='MapContainer'>
            <app-map [raceIDs]="raceIDs" [parentRaceID]="raceID" [displayUsers]="false" zoom="true"></app-map>
          </div>
          <div class="RaceRoutesContainer">
            <ng-template [ngIf]="this.aboutData == null" [ngIfElse]="RaceRoutesBlock">
              <p>Loading race details...</p>
            </ng-template>
            <ng-template #RaceRoutesBlock>
              
              <div class='RaceLocationsContainer'>
                <p class='RaceLocation'>{{aboutData.start_loc}}</p>
                <div class='RaceDistanceLine'>
                  <p class='h7'>{{aboutData.distance}}mi</p>
                </div>
                <p class='RaceLocation'>{{aboutData.end_loc}}</p>
              </div>
              
              <div class='RaceRouteInfo margin-bottom-8px' *ngIf="aboutData.num_children>1">
                <h6 class='margin-bottom-4px'>Trails ({{aboutData.num_children}} total):</h6>  

                <div *ngFor="let trail of this.trails">           
                    <p class='h7 margin-bottom-0px'>{{trail}}</p>
                </div>          
                
              </div>

            </ng-template>
          </div>
        </div>

        <div class="SlideshowSlide" [ngClass]="{'Slideshow-CurrentSlide' : currentScreen == 'logistics'}">

          <div class='margin-bottom-16px'>
            <h6 class='margin-bottom-4px'>Race type <button class="smallButton" (click)="this.openModal('custom-modal-4')">What does this mean?</button>:</h6>
            <ng-template [ngIf]="this.aboutData.is_hybrid" [ngIfElse]="VirtualText">
              <p  *ngIf="aboutData.race_type == 1" class='h7 margin-bottom-0px'>Hybrid run</p>
              <p  *ngIf="aboutData.race_type == 2" class='h7 margin-bottom-0px'>Hybrid bike</p>
            </ng-template>
            <ng-template #VirtualText>
              <p *ngIf="aboutData.race_type == 1" class='h7 margin-bottom-0px'>Virtual run</p>
              <p *ngIf="aboutData.race_type == 2" class='h7 margin-bottom-0px'>Virtual bike</p>
            </ng-template>
            
          </div>

          <div class='margin-bottom-16px'>
            <h6 class='margin-bottom-4px'>Race requirements:</h6>
            <ng-template [ngIf]="this.raceSettings.isManualEntry" [ngIfElse]="ManualText">
              <p class='h7 margin-bottom-0px'>NONE however, the Strava mobile app is highly recommended for tracking fitness activities!</p>
            </ng-template>
            <ng-template #ManualText>
              <p class='h7 margin-bottom-0px'>Download Strava from the app store to track your fitness activities</p>
            </ng-template>
          </div>

          <div class='margin-bottom-16px'>
            <h6 class=margin-bottom-4px>Teams:</h6>
            <ng-template [ngIf]="this.raceSettings.allowTeams" [ngIfElse]="NoTeamsBlock">
              <p class='h7 margin-bottom-0px'>Teams of up to {{this.raceSettings.max_team_size}} can be formed on race day.</p>
            </ng-template>
            <ng-template #NoTeamsBlock>
              <p class='h7 margin-bottom-0px'>No teams are allowed for this race.</p>
            </ng-template>
          </div>

          <div class='margin-bottom-16px'>
            <h6 class='margin-bottom-4px'>Entry fee</h6>
            <ng-template [ngIf]="this.raceSettings != null" [ngIfElse]="LoadingRaceSettings">
              <p class='h7 margin-bottom-0px'>${{raceSettings.price}}</p>
            </ng-template>
            <ng-template #LoadingRaceSettings>
              <p class='h7 margin-bottom-0px italics'>Loading Race Settings</p>
            </ng-template>
          </div>
        </div>

        <div class="SlideshowSlide" [ngClass]="{'Slideshow-CurrentSlide' : currentScreen == 'race_director'}">
          <div class="RaceDirectorContainer">
              <div class='margin-bottom-16px RaceDirectorPic'>
                <img class="UserProfileImage img-responsive" src="{{this.userData.profile_url}}" alt=""> 
              </div>
              <div class="RaceDirectorInfo">
                <div class='margin-bottom-16px'>
                  <h6 class='margin-bottom-4px'>Race director:</h6>
                  <p class='h7 margin-bottom-0px'>{{this.userData.first_name}} {{this.userData.last_name}}</p>
                  <a [href]='this.userData.email_mailto' class='h7 margin-bottom-0px'>{{this.userData.email}}</a>
                </div>

                <div class='margin-bottom-16px'>
                  <h6 class='margin-bottom-4px'>About the director:</h6>
                  <p class='h7 margin-bottom-0px'>{{this.userData.description}}</p>
                </div>
              </div>
          </div>

        </div>

        <br>
        <br>
        <div *ngIf="raceLogos.length>0">
          <div class="row">
          <div *ngFor="let logo of raceLogos; let i=index">
            <div class="col">
              <img src="{{this.raceLogos[i]}}" height="90"/>
            </div>
          </div>
          </div>
          <p><i>Our sponsors</i></p>
      </div>
  
      </div>
    </div>
  </div>
</div>