    
<div class="row">
    <div *ngFor="let item of items" class="itemPanel">

        <div style="float:right;">
            <button mat-icon-button (click)="editItem(item.id)"><mat-icon>mode_edit</mat-icon></button>
            <button mat-icon-button (click)="deleteItem(item)"><mat-icon>delete_forever</mat-icon></button>
        </div>
    
        <h6>{{item.name}}</h6>

        <div>
            <img style="height: 40%; width: 40%;" src={{item.image}}/>
        </div>

        <div>
            <h6>Description</h6>
            <p style="word-wrap:break-word;">{{item.description}}</p>
        </div>

        <div>
            <h6>Sizes</h6>
            <p *ngIf="item.sizes != null">{{item.sizes}}</p>
            <p *ngIf="item.sizes == null">N/A</p>
        </div>

        <div>
            <h6>Price</h6>
            <p>${{item.price}}</p>
        </div>
    </div>
</div>