<form [style.fontSize.px]="12">
  <div class="form-group" style="text-align: left; padding: 5px;">
    <!-- <input class="form-control" type="text" formControlName="tag" [matAutocomplete]="maxTeamSizeAuto"/> -->

    <mat-form-field appearance="fill" >
      <mat-label>Filter by Route</mat-label>
      <mat-select [(value)]="selectedRoute">
        <mat-option *ngFor="let route of routes" [value]="route" (click)="onRouteSelect(route)">
          {{ route.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
  </div>
</form>