<footer class="footer-container" style="padding-bottom: 100px;">

  <!-- <div class="container">
    <div class="row"> -->

            <!-- <div class="col"> -->
              <div class="stats-area section-adding">
                <!-- <div class="container"> -->
                  <div class="row">

                    <div class="col">
                      <div class="single-stats">
                        <i class="fas fa-clock" style="font-size:25px"></i>
                        <h2 id="goal_distance">Distance Travelled</h2>
                        <p>{{progress.distance}} {{progress.distance_type}}</p>
                      </div>
                    </div>
                    <div class="col">
                      <div class="single-stats">
                        <i class="fas fa-flag" style="font-size:25px"></i>
                        <h2>Distance Remaining</h2>
                        <p id="togo">{{progress.distance_remaining}} {{progress.distance_type}}</p>
                      </div>
                    </div>
                    <div class="col">
                      <div class="single-stats">
                        <i class="fas fa-tachometer-alt" style="font-size:25px"></i>
                        <h2 id="goal_pace">Pace</h2>
                        <p>{{progress.pace}}</p>
                      </div>
                    </div>
                    <div class="col">
                      <div class="single-stats">
                        <i class="fas fa-map" style="font-size:25px"></i>
                        <h2>Current City</h2>
                        <p id="curr_city"></p>
                      </div>
                    </div>

              <!-- &copy; Bootstrap 4 Template with Sidebar Menu. Download it for free on <a href="https://azmind.com">AZMIND</a>. -->
            </div>
          </div>
        <!-- </div> -->
      <!-- </div> -->

</footer>