<footer class="footer-container">
  <i class="material-icons"  style="color:#BC164D; font-size: 16px;" >person_pin</i>
  <span id="txt1" style="text-align:left;" ><b>Distance Traveled </b>{{progress.distance}} {{ progress.distance_type }}</span>
  <br>
  <i class="material-icons"  style="color:#BC164D;font-size: 16px;">directions_run</i><span id="txt1" style="text-align:left;"><b>Distance Remaining </b>{{progress.distance_remaining}} {{ progress.distance_type }}</span>
  <br>
  <i class="material-icons"  style="color:#BC164D;font-size: 16px;">access_time</i><span id="txt1" style="text-align:left;"><b>Average Pace </b> {{progress.pace}} </span>
  <br>
</footer>