<footer class="footer-container">


<mat-card class="example-card" >
      <mat-card-header>
              <mat-card-title> My Name Here<!--{{userData.first_name}} {{userData.last_name}} Test-->
            </mat-card-title>

        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
        <i class="material-icons"  style="color:#16697a;" >person_pin</i><span id="txt1" style="text-align:left;" ><b>Distance Traveled </b>{{progress.distance}} {{ progress.distance_type }}</span>
        <br>
        <i class="material-icons"  style="color:#16697a;">directions_run</i><span id="txt1" style="text-align:left;"><b>Distance Remaining </b>{{progress.distance_remaining}} {{ progress.distance_type }}</span>
        <br>
        <i class="material-icons"  style="color:#16697a;">access_time</i><span id="txt1" style="text-align:left;"><b>Average Pace </b> {{progress.pace}} </span>
        <br>
        <i class="material-icons" style="color:#16697a;">location_city</i><span id="txt1" style="text-align:left;"><b>Current City </b> N/A</span>
        
        <!--<p id="curr_city">-->

        
                  <!-- </div> -->   
      </mat-card-content>

    </mat-card>





            <!-- <div class="container">
              <div class="row"> -->

                      <!-- <div class="col"> -->
                       
                <!-- </div> -->

          </footer>