.TucanRaceItem {
  display:block;
  /*
  padding:16px;
  box-sizing: border-box;
  */
  margin-bottom:8px;
  
  box-shadow: 0px 0px 5px 2px rgb(200,200,200);
}

.TucanRaceItemContents {
  position: relative;
  width:100%;
  height:auto;
  padding:32px;
  box-sizing: border-box;
}
  .TucanRaceItemHeader {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom:16px;
  }
  .TucanRaceItemDescription {
    margin-bottom:16px;
  }
  .TucanRaceItemDetails {
    width:100%;
    height:auto;
    margin-bottom:16px;

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
  }
    .TucanRaceItemSpecificInfo {
      flex-grow:1;

      display:flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: nowrap;
    }
      .TucanRaceItemRaceInfoBlock {
        position:relative;

        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
      }
        .TucanRaceItemRaceInfoBlockItem {
          position: relative;
          z-index: 2;
          flex-grow:0;
          flex-shrink:0;
        }
        .TucanRaceItemRaceLine {
          flex-grow: 1;
          width:100%;
          border-bottom:1px solid rgb(200,200,200);
          margin-left:32px;
          margin-right:32px;
        }
          .TucanRaceItemRaceLine p {
            text-align:center;
            margin:0 !important;
            opacity:0.5;
          }
    .TucanRaceItemButtons {
      flex-shrink:0;
      flex-grow: 0;
      flex-basis: 200px;
      margin-left:32px;

      display:flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: nowrap;
    }
    .TucanRaceItemButtons button, .TucanRaceItemButtons .button {
      margin-bottom:8px;
    }

    .TucanRaceItemBasicInfo, .TucanRaceItemBasicButtons {}
    .TucanRaceItemSpecificButtons {
      flex-shrink: 0;
      width:25%;
      min-width:240px;

      margin-right:8px;
      box-sizing: border-box;
    }

.TucanRaceItemImageContainer {
  position: relative;
  width:100%;
  height:160px;
  overflow:hidden;
}
    .TucanRaceItemImage {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      /*
      width:160px;
      margin-left:16px;
      float:right;
      */
    }
    .TucanRaceItemSpecificInfo h3 {
      margin:0;
      font-weight: bold;
    }
    .TucanRaceItemSpecificInfo p {
      margin-top:0;
      margin-bottom:8px;
    }


table {
    width: 100%;
  }

.column1{
    width: 20%;
    margin: 1px;
  }
.column2{
    width: 77%;
    margin: 1px;
  }
    .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
 
.nav-link.active{
background-color: #2C00A5;
}
  tr.example-detail-row {
    height: 0;
  }
  
  
  .roboto-white
{
  font-family: "Roboto";
  color:#effaf7;
}

.roboto-purple
{
  font-family: "Roboto";
  color:#2C007E;
}

.roboto-black
{
  font-family: "Roboto";
}

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  .material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-flex;
  vertical-align: top;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
    min-width: 50px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .example-card {
    max-width: 300px;
  }
  
  .example-header-image {
    background-size: cover;
  }


@media only screen and (max-width: 992px) {
  .TucanRaceItemDescription {
    flex-direction: column;
    align-items: stretch;
  }
}