.masthead {

  height: calc(100vh - 64px);

  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: stretch;
}

.split {
  position:relative;
  width:50%;

  padding-left:16px;
  padding-right:16px;
  box-sizing: border-box;
}

.split.right {
  background-image: url("../../assets/landing/main.jpg");
  
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width:100%;
}

article, aside, figcaption, figure, footer,b header, hgroup, main, nav, section {
  display: block;
}

.btn-outline {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 10px 22px;
  font-size: 16px;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  .masthead {
    flex-direction: column;
    justify-content: flex-end;
  }
  .split {
    width:100%;
  }
  .split.left {
    position: relative;
    z-index: 1;
  
    height:300px;

    background:linear-gradient(0deg, white, white 75%, transparent);
  }
  .split.right {
    position: absolute;
    top:0;
    left:0;
    right:0;
    z-index: 0;

    height:100vh;
  }
}