<!-- Masthead-->
<ng-template [ngIf]="!this._authService.isLoggedIn()" [ngIfElse]="LoggedInLanding">
    <div class="masthead" id="race">
        <div class="split left">
            <div class='TucanContainer'>
                <div class="centered">
                    <img src= "../../assets/logos/logo-white.png" class="TucanLogo LandingTucanLogo">
                    <h3 class='LandingHeaderText'>We bring community to virtual racing</h3>
                    <div class='LandingSubheading'>
                        <p>Tucan fitness is a social fitness platform for race and fundraiser organizers to engage their community virtually.</p>
                        <a class="button lightButton LandingAboutButton" routerLink='/about-tucan'>About Tucan Fitness</a>
                    </div>
    
                    <div *ngIf="!this._authService.isLoggedIn()">
                        <button class='darkButton shadowButton' (click)="openModal('custom-modal-1')">Log In</button>
                         
                        <button class='darkButton shadowButton' (click)="openModal('custom-modal-2')">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="split right">
            <img class='landingImage' src='../../assets/landing/collage.jpg' alt='Background Image'>
        </div>
    </div>
</ng-template>
<ng-template #LoggedInLanding>
    <app-user-page></app-user-page>
</ng-template>