<div *ngIf="use=='like'">
  <div role="button" (click)="changeLikeStatus()">
    <span *ngIf="likes"  ><i class="material-icons" style="color:#BC164D">favorite</i> </span>
    <span *ngIf="!likes"  ><i class="material-icons" style="color:#BC164D">favorite_border</i> </span>
    <span *ngIf="likesCount != 1">{{ likesCount }}</span>
  <span *ngIf="likesCount == 1">{{ likesCount }}</span>
  </div>
  
</div>

<button *ngIf="use=='delete'" type="button" class="btn btn-danger btn-sm" (click)="deleteStory()" style="background-color:#F6BF78;border-color:#F6BF78;">
  <span class="ui-button-text"  >Delete</span>
</button>
