<div *ngIf="use=='like'">
  <button type="button" class="btn btn-success btn-sm" (click)="changeLikeStatus()" style="width:55px;max-width: 55px;background-color:#2C00A5;border-color:#2C00A5;">
    <span class="ui-button-text"  >{{likes ? 'Unlike' : 'Like'}}</span>
  </button>
  <span *ngIf="likesCount != 1">{{ likesCount }} Likes</span>
  <span *ngIf="likesCount == 1">{{ likesCount }} Like</span>
</div>

<button *ngIf="use=='delete'" type="button" class="btn btn-danger btn-sm" (click)="deleteStory()" style="background-color:#F6BF78;border-color:#F6BF78;">
  <span class="ui-button-text"  >Delete</span>
</button>
