.FeedContainer {
  position: relative;
  overflow-y:auto;
  padding-bottom:75px;
}

.small{
  font-size:10px;
  }

  .Feed { /* empty for now, just to show parenting of elements in this code */ }
    .FeedItem {
      padding:8px;
      box-sizing: border-box;

      display:flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: nowrap;
      font-size:12px;
    }
    .FeedItem:nth-child(2n) {
      background-color:#EBEBEB
    }
      .FeedProfileImgCell {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 30px;

        width:30px;
        height:30px;
        margin-right:8px;
      }
        .FeedProfileImgContainer {
          position: relative;
          width:30px;
          height:30px;
          border-radius: 15px;
          overflow:hidden;

          border:0.5px solid grey;
          box-sizing: border-box;
        }
          .FeedProfileImg {
            position: absolute;
            width:100%;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
          }
      .FeedProfileContentCell {
        flex-grow: 1;
        flex-basis: 0;

        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        flex-wrap: nowrap;
      }
        .FeedMessageHeader {
          display:flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          flex-wrap: nowrap;
        }
          .FeedMessageName {
            font-weight:bold;
            margin-bottom:0;
          }
        .FeedMessageContent {}
        .FeedMessageActionsContainer {
          display:flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          flex-wrap: nowrap;
        }
          .FeedMessageActionsSocialContainer {
            display:flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: nowrap;
          }

        .FeedMessageOptionsDropdown {
          position: relative;
        }
          .FeedMessageOptions {
            position: absolute;
            right:0;
            left:unset;
            top:100%;

            width:max-content;
          }
            .FeedMessageOptionsContent {
              position: relative;
              width:100%;
              height:100%;
              padding:8px;
              box-sizing: border-box;

              background-color:white;
              border-radius: 10px;
              border:0.5px solid var(--primary-lightgrey);
            }
              .FeedMessageOption {
                margin-bottom:0px;
                border-bottom:0.5px solid var(--primary-lightgrey);
              }
              .FeedMessageOption:last-child {
                border-bottom:none;
              }
  

.mat-row {
  height: auto;
}

.table-container{
 overflow:auto; 
 max-height:300px;
}

.mat-cell {
  padding-left: 10px;
  padding-right: 10px;
  max-width:340px;
}

.mat-column-ProfilePic {
  vertical-align: top;
}

.mat-column-Data {
  justify-content: center;
}

.mat-row:nth-child(even){
      background-color:white;
      border:none;
      }

.mat-row:nth-child(odd){
      background-color:#EBEBEB;
      border:none;
      }

div.ex3 {
  overflow: auto;
}

.paginate-button { 
  width:auto;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
  display:block;
  text-align:center; /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
}

.material-icons{
  font-size: 18px;
  color:rgba(169,169,169,80%);
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-status {
  padding:20px;
  display: flex;
  flex-wrap: wrap;
}

.me-col {
  width:30%;
}

.story-col {
  width:70%;
}


.main-col {
  width:62%;
   word-wrap: break-word;
}

.side-col {
  width:38%;
  display:flex;
  align-content: right;
  right:0;
}

.refreshSection{
   width:100%;
}