.AboutRaceImageContainer {
	position:relative;
	height:280px;
	overflow:hidden;
}
.AboutRaceImage {
	display:block;
	width:100%;

	margin-left:auto;
	margin-right:auto;
}
.RaceHeader {
	display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	flex-wrap: wrap;
	
	margin-bottom:16px;
}

.MapPreview {
	position: relative;
	width:100%;
	height:auto;

	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.MapContainer {
	width:100%;
	height:320px;
}
.RaceLocationsContainer {
	width:100%;
	margin-bottom:16px;
}

.RaceButtonsContainer {
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}