
<div class="hero-image" [style.background-image]="'url(' + aboutData.race_image + ')'">
  <div class="hero-text">
      <h1>{{aboutData.name}}</h1>
  </div>
  
</div>

<br>

<div class="container">
  <button class="btn btn-primary" style="float:right" (click)="toggleForm()" *ngIf="isOwner">Edit</button>
  <button class="btn btn-primary" style="float:right" (click)="viewRace()">Go To Map!</button>
</div>

<br>
<br>

<div class="container" *ngIf="showForm">
  <form [formGroup]="AboutForm">
    <div class="form-group" style="text-align: left; padding: 5px;">
      <label name="Name">Name</label>
      <input class="form-control" type="text" placeholder="Name" formControlName="name"/>
      <br>
      <div *ngIf="AboutForm.get('name').invalid && (AboutForm.get('name').dirty || AboutForm.get('name').touched)"
    class="alert alert-danger">
    
    <div *ngIf="AboutForm.get('name').errors.required">
       Name is required.
    </div>
    </div>
    </div>

    <div class="form-group" style="text-align: left; padding: 5px;">
      <label name="description">Description</label>
      <textarea class="form-control" type="text" placeholder="Description" formControlName="description"></textarea>
      <br>
      <div *ngIf="AboutForm.get('description').invalid && (AboutForm.get('description').dirty || AboutForm.get('description').touched)"
    class="alert alert-danger">
    
    <div *ngIf="AboutForm.get('description').errors.required">
       Description is required.
    </div>
    </div>
    </div>

    <div class="form-group" style="text-align: left; padding: 5px;">
      <label name="raceImage">Race Image</label>
      <input type="file" formControlName="raceImage" (change)="onSelectFile($event)"/>
    </div>

    <div formGroupName="rules"> 
      <div class="form-group">
        <mat-slide-toggle formControlName="isManual">Allow Manual Entry</mat-slide-toggle>
      </div>
      <div class="form-group">
        <mat-slide-toggle formControlName="allowTeams">Allow Teams</mat-slide-toggle>
      </div>

      <div class="form-group" style="text-align: left; padding: 5px;" *ngIf="AboutForm.get('rules').get('allowTeams').value == true">
        <label>Max Team Size</label>
        <input class="form-control" type="text" formControlName="maxTeamSize" [matAutocomplete]="maxTeamSizeAuto"/>
  
        <mat-autocomplete #maxTeamSizeAuto="matAutocomplete">
          <mat-option *ngFor="let option of teamSizeOptions" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
  
        <div *ngIf="AboutForm.get('rules').get('maxTeamSize').invalid && (AboutForm.get('rules').get('maxTeamSize').dirty || AboutForm.get('rules').get('maxTeamSize').touched)"
      class="alert alert-danger">
      
      <div *ngIf="AboutForm.get('rules').get('maxTeamSize').errors.max">
         Max Team Size is 10
      </div>
      </div>
      </div>
    </div>

    

    <div style="padding: 5px; position: relative; float: left;">
      <button class="btn btn-primary" mat-raised-button (click)="update()">Update</button>
      <button class="btn btn-danger" mat-raised-button style="left: 5px;" (click)="toggleForm()">Cancel</button>
    </div>

    
  </form>
</div>



<div class="container" style="text-align: left;" id="raceView" *ngIf="!showForm">

  <h2>
    Race Coordinator
  </h2>

  <p>
    {{aboutData.owner.first_name}} {{aboutData.owner.last_name}}
  </p>

  <h2>
      Description
  </h2>

  <p>
    {{aboutData.description}}
  </p>

  <h2>
    Manual Entry Allowed?
  </h2>

  <p *ngIf="raceSettings.isManualEntry">
    Yes
  </p>

  <p *ngIf="!raceSettings.isManualEntry">
    No
  </p>

  <h2>
    Teams Allowed?
  </h2>

  <p *ngIf="raceSettings.allowTeams">
    Yes, max size: {{raceSettings.max_team_size}}
  </p>

  <p *ngIf="!raceSettings.allowTeams">
    No
  </p>

</div>

  <br>
  <br>
  <br>

  <div class="container" style="text-align: left;">
    
  </div>

  <style>
    .hero-image {
 /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
 /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(); */

 /* Set a specific height */
 height: 50%;

 /* Position and center the image to scale nicely on all screens */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}

/* Place text in the middle of the image */
.hero-text {
 text-align: center;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: white;
}
  </style>
  
  
