<div class="TucanContainer">
  <button class="CloseLogin" (click)="closeDialog()">Cancel</button>
  <form *ngIf="formSegmentIndex==0" id='registerCredentialsForm' [formGroup]="credentialsForm" (ngSubmit)="onCredentialsSubmit($event)">
    
    <h2>Sign Up</h2>
    <p>Your Credentials</p>
  
    <div class="TucanFormSegment">
      <h6 class="InputLabel">Email <sup class="redText">*</sup></h6>
      <input 
        type="email"
        name="email" 
        formControlName="email" 
        class="form-control" 
        placeholder="ex. john.doe@email.com" 
        [ngClass]="{ 'is-invalid': credentialsSubmitted && c.email.errors }"
        (keyup)="onKeyUpEvent($event)"
      />
      <div *ngIf="credentialsSubmitted && c.email.errors" class="invalid-feedback">
        <div *ngIf="c.email.errors.required">Email address is required</div>
        <div *ngIf="c.email.errors.email" class="text-danger">Please provide a valid email address</div>
      </div>
    </div>
    
    <div class="TucanFormSegment">
      <h6 class="InputLabel">Password <sup class="redText">*</sup></h6>
        <input 
          type="password" 
          name="password"
          formControlName="password" 
          class="form-control" 
          placeholder="Must be at least 6 characters long" 
          [ngClass]="{ 'is-invalid': credentialsSubmitted && c.password.errors }" 
          (keyup)="onKeyUpEvent($event)"
        />
        <div *ngIf="credentialsSubmitted && c.password.errors" class="invalid-feedback">
          <div *ngIf="c.password.errors.required">Password is required</div>
          <div *ngIf="c.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
    </div>
    
    <div class="TucanFormSegment">
      <h6 class="InputLabel">Confirm Password <sup class="redText">*</sup></h6>
      <input 
        type="password" 
        name="confirmPassword"
        formControlName="confirmPassword" 
        class="form-control" 
        placeholder="Must match your chosen password" 
        [ngClass]="{ 'is-invalid': credentialsSubmitted && c.confirmPassword.errors }" 
        (keyup)="onKeyUpEvent($event)"
      />
      <div *ngIf="credentialsSubmitted && c.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="c.confirmPassword.errors.required">Confirm Password is required</div>
        <div *ngIf="c.confirmPassword.errors.mustMatch">Passwords must match</div>
      </div>
    </div>
    
    <div class="TucanFormSegment">
      <input [disabled]="loading" type="submit" name='submit' form='registerCredentialsForm' value='Next' />
    </div>
  </form>
  
  <form *ngIf="formSegmentIndex==1" id='registerPersonalForm' [formGroup]='personalForm' (ngSubmit)="onPersonalSubmit($event)">
    
    <h2>Sign Up</h2>
    <p>About Yourself</p>

    <div class="TucanFormSegmentContainer">
      <div class="TucanFormSegment">
        <h6 class="InputLabel">First Name <sup class="redText">*</sup></h6>
        <input 
          type="text" 
          name='first_name'
          formControlName="first_name" 
          placeholder="ex. John" 
          class="form-control" 
          [ngClass]="{ 'is-invalid': personalSubmitted && p.first_name.errors }"
          (keyup)="onKeyUpEvent($event)"
        />
        <div *ngIf="personalSubmitted && p.first_name.errors" class="invalid-feedback">
          <div *ngIf="p.first_name.errors.required">First Name is required</div>
        </div>
      </div>
  
      <div class="TucanFormSegment">
        <h6 class="InputLabel">Last Name <sup class="redText">*</sup></h6>
        <input 
          type="text" 
          name='last_name'
          formControlName="last_name" 
          placeholder="ex. Doe"
          class="form-control" 
          [ngClass]="{ 'is-invalid': personalSubmitted && p.last_name.errors }"
          (keyup)="onKeyUpEvent($event)"
        />
        <div *ngIf="personalSubmitted && p.last_name.errors" class="invalid-feedback">
          <div *ngIf="p.last_name.errors.required">Last Name is required</div>
        </div>
      </div>
    </div>
  
    <div class="TucanFormLabelSegment">
      <h6 class="InputLabel">Birthday <sup class="redText">*</sup></h6>
      <app-why-info></app-why-info>
    </div>
    <div class="TucanFormSegmentContainer">
      <div class="TucanFormSegment">
        <input 
          type="number" 
          name='month_of_birth'
          formControlName="month_of_birth" 
          min="1"
          max="12"
          placeholder="MM" 
          class="form-control" 
          [ngClass]="{ 'is-invalid': personalSubmitted && p.month_of_birth.errors }"
          (keyup)="onKeyUpEvent($event)"
        />
        <div *ngIf="personalSubmitted && p.month_of_birth.errors" class="invalid-feedback">
          <div *ngIf="p.month_of_birth.errors.required">Month is required</div>
        </div>
      </div>
            
      <div class="TucanFormSegment">
        <input 
          type="number" 
          name='day_of_birth'
          formControlName="day_of_birth" 
          min="1"
          max="31"
          placeholder="DD"
          class="form-control" 
          [ngClass]="{ 'is-invalid': personalSubmitted && p.day_of_birth.errors }" 
          (keyup)="onKeyUpEvent($event)"
        />
        <div *ngIf="personalSubmitted && p.day_of_birth.errors" class="invalid-feedback">
          <div *ngIf="p.day_of_birth.errors.required">Day is required</div>
        </div>
      </div>
            
      <div class="TucanFormSegment">
        <input 
          type="number" 
          name='year_of_birth'
          formControlName="year_of_birth" 
          min="1990"
          max={{this.currentYear}}
          placeholder="YYYY" 
          class="form-control" 
          [ngClass]="{ 'is-invalid': personalSubmitted && p.year_of_birth.errors }"
          (keyup)="onKeyUpEvent($event)"
        />
        <div *ngIf="personalSubmitted && p.year_of_birth.errors" class="invalid-feedback">
          <div *ngIf="p.year_of_birth.errors.required">Year is required</div>
        </div>
      </div>
    </div>
            
    <div class="TucanFormSegment">
      <h6 class="InputLabel">Gender <sup class="redText">*</sup></h6>
      <select
        class="form-control" 
        name='gender'
        formControlName="gender" 
        [ngClass]="{ 'is-invalid': personalSubmitted && p.gender.errors }"
      >
        <option value="" label=" -Gender *- " selected ></option>
        <option *ngFor="let typeOption of genderOptions" [value]="typeOption">
          {{ typeOption }}
        </option>
      </select>
      <div *ngIf="personalSubmitted && p.gender.errors" class="invalid-feedback">
        <div *ngIf="p.gender.errors.required">Please select a gender.</div>
      </div>
    </div>
  
    <p>By signing up, you agree to our <app-terms-of-service></app-terms-of-service>.</p>
  
    <div class="container">
      <span *ngFor="let error of errors">{{ error }}<br /></span>
    </div>
  
    <div class="TucanFormSegment">
      <button (click)="this.ChangeFormSegment(0)">Back</button>
      <input [disabled]="loading" type="submit" name='submit' form='registerPersonalForm' value='Sign Up' />
      <!-- <button [disabled]="loading" class="btn btn-primary">Sign Up</button> -->
      <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </form>
  
  <!--
    <mat-horizontal-stepper linear #stepper> 
        <mat-step [stepControl]>
            
            <ng-template matStepLabel>Basic Credentials</ng-template>
  
            <div class="TucanFormSegment">
                <h6 class="InputLabel">Email <sup class="redText">*</sup></h6>
                <input type="text" formControlName="email" class="form-control" placeholder="Email Address *" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email address is required</div>
                    <div *ngIf="f.email.errors.email" class="text-danger">Please provide a valid email address</div>
                </div>
            </div>
        
            <div class="TucanFormSegment">
                <h6 class="InputLabel">Password <sup class="redText">*</sup></h6>
                <input type="password" formControlName="password" class="form-control" placeholder="Password *" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
  
            <div class="TucanFormSegment">
                <h6 class="InputLabel">Confirm Password <sup class="redText">*</sup></h6>
                <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password *" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                </div>
            </div>
  
            <button mat-button matStepperNext>Next</button>
            <app-login (click)="closeDialog()"></app-login>
        </mat-step>
  
        <mat-step>
            <ng-template matStepLabel>About Yourself</ng-template>
  
            <div class="TucanFormSegmentContainer">
                <div class="TucanFormSegment">
                    <h6 class="InputLabel">First Name <sup class="redText">*</sup></h6>
                    <input type="text" formControlName="first_name" placeholder="First Name *" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
                    <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                        <div *ngIf="f.first_name.errors.required">First Name is required</div>
                    </div>
                </div>
    
                <div class="TucanFormSegment">
                    <h6 class="InputLabel">Last Name <sup class="redText">*</sup></h6>
                    <input type="text" formControlName="last_name" placeholder="Last Name *" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }" />
                    <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                        <div *ngIf="f.last_name.errors.required">Last Name is required</div>
                    </div>
                </div>
            </div>
  
  ---------------------------
            <div class="form-group" style="border-color:#ced4da;">
                    <input matInput [matDatepicker]="picker" formControlName="date_of_birth" placeholder="Birthday (MM/DD/YYYY) *" [ngClass]="{ 'is-invalid': submitted && f.date_of_birth.errors }">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <div *ngIf="submitted && f.date_of_birth.errors" class="invalid-feedback">
                        <div *ngIf="f.date_of_birth.errors.required">Please enter your date of birth (MM/DD/YYYY).</div>
                    </div>
                </div> 
  ---------------------------
  
            <div class="TucanFormLabelSegment">
                <h6 class="InputLabel">Birthday <sup class="redText">*</sup></h6>
                <app-why-info></app-why-info>
            </div>
            <div class="TucanFormSegmentContainer">
                <div class="TucanFormSegment">
                    <input type="text" formControlName="month_of_birth" placeholder="Month *" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.month_of_birth.errors }" />
                    <div *ngIf="submitted && f.month_of_birth.errors" class="invalid-feedback">
                        <div *ngIf="f.month_of_birth.errors.required">Month is required</div>
                    </div>
                </div>
                
                <div class="TucanFormSegment">
                    <input type="text" formControlName="day_of_birth" placeholder="Day *" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.day_of_birth.errors }" />
                    <div *ngIf="submitted && f.day_of_birth.errors" class="invalid-feedback">
                        <div *ngIf="f.day_of_birth.errors.required">Day is required</div>
                    </div>
                </div>
                
                <div class="TucanFormSegment">
                    <input type="text" formControlName="year_of_birth" placeholder="Year *" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.year_of_birth.errors }" />
                    <div *ngIf="submitted && f.year_of_birth.errors" class="invalid-feedback">
                        <div *ngIf="f.year_of_birth.errors.required">Year is required</div>
                    </div>
                </div>
            </div>
                
            <div class="TucanFormSegment">
                <h6 class="InputLabel">Gender <sup class="redText">*</sup></h6>
                <select class="form-control" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                    <option value="" label=" -Gender *- " selected ></option>
                    <option *ngFor="let typeOption of genderOptions" [value]="typeOption">
                    {{ typeOption }}
                    </option>
                </select>
                <div *ngIf="submitted && f.gender.errors" class="invalid-feedback">
                    <div *ngIf="f.gender.errors.required">Please select a gender.</div>
                </div>
            </div>
  
            By signing up, you agree to our <app-terms-of-service></app-terms-of-service>.
                
            <div class="container">
                <span *ngFor="let error of errors">{{ error }}<br /></span>
            </div>
  
            <div class="form-group">
  ---------------------------
  <span class="material-icons" style="background-color:#2C007E;">keyboard_backspace</span>
  ---------------------------
                <button [disabled]="loading" class="btn btn-primary" style="background-color:#2C007E; border:#2C007E;">Sign Up</button>
                <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  ---------------------------
  <a routerLink="/login" class="btn btn-link text-white" style="text-align:right; float: right;">Cancel</a>
  ---------------------------
            </div>
  
            <button mat-button matStepperPrevious>Back</button>
            <app-login (click)="closeDialog()"></app-login>
        </mat-step>
  
    </mat-horizontal-stepper>
  -->
</div>
