  <div class="row" *ngIf="!isOrder">
    <img style="height: 15%; width: 15%;" src={{item.image}}>
    <div class="column" style="padding-left: 10%;">
      <p>{{item.name}} - ${{item.price}}</p>
      <p>{{item.description}}</p>
    </div>

    <div class="column">
      
      <h6>Size:</h6>
      <mat-form-field appearance="fill">
        <mat-select [(ngModel)]="selectedSize">
          <mat-option *ngFor="let size of sizes" [value]="size" (click)="onSizeSelect(size)">
            {{ size }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <button class="btn" [disabled]="btnDisabled" (click)="addToCart()">Add to Cart <mat-icon>shopping_cart</mat-icon></button>
    </div>
    
  </div>



  <div class="row" *ngIf="isOrder">
    <img style="height: 15%; width: 15%;" src={{order.item.image}}/>
    <div class="col-md-3" style="padding-left: 10%;">
      <p>{{order.item.name}} - ${{order.item.price}}</p>
    </div>

    <div class="col-md-3" *ngIf="isOrder">       
      <p>Size: {{order.details}}</p>  
    </div>
    <div class="col-md-2" *ngIf="isOrder">      
      <button class="btn" (click)="removeFromCart()">Remove<mat-icon>shopping_cart</mat-icon></button> 
    </div>
  </div>
  
