<!-- Item type 1= entry; 2=swag 3=entry+swag-->
<div class="cartItem" *ngIf="!isOrder">
  <div class='cartItemContents'>
    <div class='cartItemImageContainer'>
      <img class='cartItemImage' src={{item.image}} alt={{item.name}} />
    </div>
    <div class='cartItemDescription'>
      <h6 class='margin-bottom-0px'>{{item.name}}</h6>
      <p class='margin-bottom-8px'>{{item.description}}</p>
      <p class='margin-bottom-8px bold-text'>${{item.price}}</p>
      <div class='cartSizeContainer' *ngIf="item.type!=1">
        <p class='margin-bottom-0px'>Size:</p>
        <select class='cartSelectSize' [(ngModel)]="selectedSize">
          <option *ngFor="let size of item.sizes" [value]="size" (click)="onSizeSelect(size)">{{size}}</option>
        </select>
      </div>
      <div class='cartSizeContainer' *ngIf="item.type!=1">
        <button class='h7 buttonWithIcon' (click)="addToCart()">Add to Cart <mat-icon>shopping_cart</mat-icon></button>
      </div>
      <div class='cartSizeContainer' *ngIf="item.type==1">
        <button class='h7 buttonWithIcon' (click)="addEntryToCart()">Add to Cart <mat-icon>shopping_cart</mat-icon></button>
      </div>
    </div>
  </div>
</div>


<div class="orderItem" *ngIf="isOrder">
  <div class='orderItemContents'>
    <div class='orderItemImageContainer'>
      <img class='orderItemImage' src={{order.item.image}} alt={{order.item.name}} />
    </div>
    <div class='orderItemDescription'>
      <h6 class='margin-bottom-0px' *ngIf="order.item.type!=1">{{order.item.name}} - {{order.details}}</h6>
      <h6 class='margin-bottom-0px' *ngIf="order.item.type==1">{{order.item.name}}</h6>
      <p class='margin-bottom-8px'>${{order.item.price}}</p>
      <button class='h7 lightButton buttonWithIcon' (click)="removeFromCart()">Remove<mat-icon>shopping_cart</mat-icon></button>
    </div>
  </div>
</div>
  
