<div class='Footer'>
  <div class='FooterColumn MainNavigationColumn'>
    <h5 class='FooterHeader'>Main Navigation</h5>
    <ul class='FooterList'>
      <li>
        <div class='FooterURL' (click)="navigateTo('/')"><span>Home Page</span></div>
      </li>
      <li>
        <div class='FooterURL' (click)="navigateTo('/for-race-creators')"><span>For Race Creators</span></div>
      </li>
      <li>
        <div class='FooterURL' (click)="navigateTo('/for-racers')"><span>For Racers</span></div>
      </li>
      <li>
        <div class='FooterURL' (click)="navigateTo('/faqs')"><span>FAQs</span></div>
      </li>
      <li>
        <div class='FooterURL' (click)="navigateTo('/races')"><span>Public Races</span></div>
      </li>
    </ul>
  </div>
  <div class='FooterColumn SupportColumn'>
    <h5 class='FooterHeader'>Support</h5>
    <ul class='FooterList'>
      <li>
        <div class='FooterURL' (click)="navigateTo('/about-tucan')"><span>About the Team</span></div>
      </li>
      <li>
        <div class='FooterURL' (click)="navigateTo('/contact')"><span>Contact Us</span></div>
      </li>
      <li>
        <div class='FooterURL' (click)="openTOS()"><span>Terms of Service</span></div>
      </li>
    </ul>
  </div>
  <div class='FooterColumn GetInTouchColumn'>
    <h5 class='FooterHeader'>Get In Touch!</h5>
    <ul class='FooterList'>
      <li>
        <a class='FooterURL FooterSocialMediaURL' href="https://www.facebook.com/tucanfit" target="_blank">
          <img class="FooterSocialMedia" src="https://www.flaticon.com/svg/static/icons/svg/174/174848.svg" />
          <span>Facebook</span>
        </a>
      </li>
      <li>
        <a class='FooterURL FooterSocialMediaURL' href="https://www.linkedin.com/company/tucan-fitness/" target="_blank">
          <img class="FooterSocialMedia" src= "https://www.flaticon.com/svg/static/icons/svg/174/174857.svg" />
          <span>LinkedIn</span>
        </a>
      </li>
    </ul>
    <p class='h7 italics'>Icons from "flaticon"<br /><span class='nobr'>and "Angular"</span></p>
  </div>
</div>

