<section class="page-section">
  <div class="container">
    <h2><br>Password Reset Request</h2>
    <p>Enter the email address of your account to receive a password change link.</p>
    <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    
      <div class="form-group">
          <input type="text" formControlName="email" class="form-control" placeholder="ex. john.doe@email.com" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email address is required</div>
              <div *ngIf="f.email.errors?.pattern" class="text-danger">Please provide a valid email address</div>
          </div>
      </div>

      <div class="container">
          <span *ngFor="let error of errors">{{ error }}<br /></span>
      </div>

      <div class="form-group">
          <button [disabled]="loading">Request Link</button>
      </div>

      <div *ngIf="this.emailSent">
        Please check your inbox or spam folder for a password reset link.
      </div>
    
    </form>
  </div>
</section>