<!-- Table, each row is : [name, distance, time, activity date, activity type, manual/strava, (delete)] -->
<tr *ngFor="let row of activityData">
  <td class="pad10Px">
    {{ row.name }}
  </td>

  <td class="pad10Px">
    {{ row.distance }} {{ row.distance_type }}
  </td>

  <td class="pad10Px">
    {{ row.moving_time }} seconds
  </td>

  <td class="pad10Px">
    {{ row.start_date }}
  </td>

  <td class="pad10Px">
    {{ row.type }}
  </td>

  <td class="pad10Px">
    <!----TODO: HOW BEST TO REPRESENT THIS INFO?-->
    <span *ngIf="row.is_manual">Manual</span>
    <span *ngIf="!row.is_manual">Strava</span>
  </td>

  <td>
    <button mat-raised (click)="removeActivityByID(row.id)">Delete Activity</button>
  </td>
</tr>