<tr *ngFor="let row of activityData">
  <td style="padding:10px;">
    {{ row.name }}
  </td>

  <td style="padding:10px;">
    {{ row.distance }} {{ row.distance_type }}
  </td>

  <td style="padding:10px;">
    {{ row.moving_time }} seconds
  </td>

  <td style="padding:10px;">
    {{ row.start_date }}
  </td>

  <td style="padding:10px;">
    {{ row.type }}
  </td>

  <td style="padding:10px">
    <!----TODO: HOW BEST TO REPRESENT THIS INFO?-->
    <span *ngIf="row.is_manual">Manual</span>
    <span *ngIf="!row.is_manual">Strava</span>
  </td>

  <td>
    <button mat-raised (click)="removeActivityByID(row.id)">Delete Activity</button>
  </td>
</tr>