<div class='PageContainer'>
  
  <div class='formGroup formGroupHeader'>
    <h2>Update Race Map</h2>
    <div>
      <button class="formButton resetButton" (click)="this.resetForm()">Reset Changes</button>
    </div>
  </div>

  <ng-template [ngIf]="this.raceID == null || this.raceData == null" [ngIfElse]="FormView">
    <p>MISSING RACE INFORMATION</p>
  </ng-template>
  <ng-template #FormView>
    <ng-template [ngIf]="this.loading" [ngIfElse]="LoadedForm">
      <p>Loading Race Map Update form...</p>
    </ng-template>

    <ng-template #LoadedForm>
      <form [formGroup]="this.form" class="form" name="MapForm" (ngSubmit)="this.onFormSubmit()">
        
        <p>Tucan Races require the following information:</p>
        <ul>
          <li>Starting and ending locations (written out by you), and </li>
          <li>a JSON / GPX file that contains your race route data.</li>
        </ul>
        <p class="italics">If you do not have a JSON or GPX file with you, we can generate one for you.</p>
        
        <h6>Race Starting Location: <span class="color-red">*</span></h6>
        <div class='formGroup formGroupAlignedTop'>
          <div class='formInputContainer'>
            <label for="startLoc" class='margin-bottom-4px'>Location Name:</label>
            <input 
              id="startLoc" 
              class='formTextInput'
              [ngClass]="{'errorTextInput':this.form.controls.startLoc.errors != null}"
              type='text'
              formControlName="startLoc" 
              autocomplete="off"
              (keyup)="this.findClosestLocations('startLoc');"
            >
            <div *ngIf="this.locationOptions.startLoc!=null" class='locationOptions'>
              <div class='locationOptionsInnerContainer'>
                <div class="locationOptionsHeaderContainer">
                  <p class="italics margin-0px locationOptionsHeader">Please select one of the options below:</p>
                  <p class="italics h7 margin-left-8px locationOptionsClose" (click)="this.clearLocationOptions('startLoc');">Close Dropdown</p>
                </div>
                <option *ngFor="let option of this.locationOptions.startLoc" class='locationOption' [value]="option.place_name" (click)="this.selectLocationOption(option,'startLoc')">
                  {{ option.place_name }}
                </option>
              </div>
            </div>
            <div class='formErrorMessage redText' *ngIf="(this.form.get('startLoc').invalid || this.form.get('startLat').invalid || this.form.get('startLon').invalid)">
              <p *ngIf="this.form.get('startLoc').errors!=null" class="margin-0px">A race starting location is required.</p>
              <p *ngIf="(this.form.get('startLat').errors!=null || this.form.get('startLon').errors!=null)" class="margin-0px">Invalid starting coordinates.</p>
            </div>
          </div>
          <div class='formInputContainer autoWidth'>
            <label for="startLat" class='margin-bottom-4px'>Latitude:</label>
            <input
              id="startLat" 
              class='formTextInput coordinateInput'
              [ngClass]="{'errorTextInput':this.form.controls.startLat.errors != null}"
              type='number'
              formControlName="startLat"
              (keyup)="this.valueChange('startLat')"
              (change)="this.valueChange('startLat')"
            />
          </div>
          <div class='formInputContainer autoWidth'>
            <label for="startLon" class='margin-bottom-4px'>Longitude:</label>
            <input
              id="startLon" 
              class='formTextInput coordinateInput'
              [ngClass]="{'errorTextInput':this.form.controls.startLon.errors != null}"
              type='number'
              formControlName="startLon" 
              (keyup)="this.valueChange('startLon')"
              (change)="this.valueChange('startLon')"
            />
          </div>
        </div>
        
        <h6>Race Ending Location: <span class="color-red">*</span></h6>
        <div class='formGroup formGroupAlignedTop'>
          <div class='formInputContainer'>
            <label for="endLoc" class='margin-bottom-4px'>Location Name:</label>
            <input 
              id="endLoc" 
              class='formTextInput'
              [ngClass]="{'errorTextInput':this.form.controls.endLoc.errors != null}"
              type='text' 
              formControlName="endLoc" 
              (keyup)="this.findClosestLocations('endLoc');"
              autocomplete="off"
            />
            <div *ngIf="this.locationOptions.endLoc!=null" class='locationOptions'>
              <div class='locationOptionsInnerContainer'>
                <div class="locationOptionsHeaderContainer">
                  <p class="italics margin-0px locationOptionsHeader">Please select one of the options below:</p>
                  <p class="italics h7 margin-left-8px locationOptionsClose" (click)="this.clearLocationOptions('endLoc');">Close Dropdown</p>
                </div>
                <option *ngFor="let option of this.locationOptions.endLoc" class='locationOption' [value]="option.place_name" (click)="selectLocationOption(option,'endLoc')">
                  {{ option.place_name }}
                </option>
              </div>
            </div>
            <div class='formErrorMessage redText' *ngIf="(this.form.get('endLoc').invalid || this.form.get('endLat').invalid || this.form.get('endLon').invalid)">
              <p *ngIf="this.form.get('endLoc').hasError('required')" class="margin-0px">A race end location is required.</p>
              <p *ngIf="this.form.get('endLat').hasError('sameAsStart') || this.form.get('endLon').hasError('sameAsStart')" class='margin-0px'>Your starting and ending coordinates cannot be the same.</p>
              <p *ngIf="this.hasErrors('endLat',['required','isEmpty','notNumber']) || this.hasErrors('endLon',['required','isEmpty','notNumber'])" class="margin-0px">Invalid ending coordinates.</p>
            </div>
          </div>
          <div class='formInputContainer autoWidth'>
            <label for="endLat" class='margin-bottom-4px'>Latitude:</label>
            <input
              id="endLat" 
              class='formTextInput coordinateInput'
              [ngClass]="{'errorTextInput':this.form.controls.endLat.errors != null}"
              type='number'
              formControlName="endLat" 
              (keyup)="this.valueChange('endLat')"
              (change)="this.valueChange('endLat')"
            />
          </div>
          <div class='formInputContainer autoWidth'>
            <label for="endLon" class='margin-bottom-4px'>Longitude:</label>
            <input
              id="endLon" 
              class='formTextInput coordinateInput'
              [ngClass]="{'errorTextInput':this.form.controls.endLon.errors != null}"
              type='number'
              formControlName="endLon" 
              (keyup)="this.valueChange('endLon')"
              (change)="this.valueChange('endLon')"
            />
          </div>
        </div>

        <h6>Map File Upload</h6>
        <p><strong>NOTE:</strong> Your map route is separate from your starting and ending locations. Changing your map route will not update your starting and ending locations, and vice versa. For example, you can change your starting and/or ending locations without uploading a <span class='nobr'>new route.</span></p>
        <p>However, we highly recommend that you update your route data whenever you alter your starting and/or ending <span class='nobr'>location information.</span></p>
        <div class='formGroup formGroupWithLeftBorder formGroupAlignedTop formGroupColumn'>
          <h6 class="margin-0px">Need to generate a route file? Click below to generate a <span class='nobr'>route file.</span></h6>
          <p class='margin-0px'>The newly-generated route file will be automatically attached to this form, free to download and ready <span class='nobr'>to submit.</span></p>
          <p class="italics margin-bottom-8px">Note: For a route file to successfully generate, you must provide the coordinates for your starting and <span class='nobr'>ending locations.</span></p>
          <div>
            <button class="formButton margin-top-8px" (click)="this.generateRouteFile($event);">Generate route file</button>
            <span class="margin-left-8px italics" *ngIf="this.generatingRoute">Generating route file...</span>
          </div>
          <p class='italics redText margin-bottom-0px' *ngIf="this.generateError!=null">{{this.generateError}}</p>
        </div>

        <div class='formGroup formGroupAlignedTop formGroupColumn'>
          <div class='formInputContainer'>
            <input 
              id="MapFileUpload"
              type="file" 
              class="mapFileUpload"
              formControlName="mapFile"
              accept=".json,.gpx"
              (change)="onSelectMapFileChange($event)"
            />
            <div class='mapUploadActions'>
              <ng-template [ngIf]="this.mapFile.data == null" [ngIfElse]="MapFileUploaded">
                <div class="mapFileUploadButton" (click)="this.triggerMapFileUpload()">
                  <div class="uploadFileIcon"></div>
                  <div class="mapFileActions">
                    <p class="margin-bottom-0px italics">Click to upload a file (".json" or ".gpx")</p>
                  </div>
                </div>
              </ng-template>
              <ng-template #MapFileUploaded>
                <div class="mapFileUploadedButton" (click)="this.downloadRouteFile()">
                  <img class="mapFileIcon" src="../../../assets/icons/map-file.svg">
                  <div class="mapFileActions">
                    <p class="margin-bottom-4px">{{this.mapFile.filename}}</p>
                    <p class="margin-bottom-0px italics">Click to download file</p>
                  </div>
                </div>
                <div class='mapFileUploadedOtherActions'>
                  <div class="mapFileSmallUploadButton" (click)="this.triggerMapFileUpload()">
                    <div class="uploadFileIcon"></div>
                    <div class="mapFileActions">
                      <p class="margin-bottom-0px italics">Upload a different file</p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>

        <div class='formGroup submitButtonGroup'>
          <input 
            type="submit" 
            class="button formButton formSubmitButton" 
            [ngClass]="{'disabled':(this.changedValues.length==0 || !this.isFormValid(this.form))}"
            value="Update Map Details" 
            [disabled]="this.changedValues.length==0 || this.checkingValidityOfSubmission || !this.isFormValid(this.form)"
            [readonly]="this.changedValues.length==0 || this.checkingValidityOfSubmission || !this.isFormValid(this.form)"
          />
          <div class="margin-top-16px" *ngIf="this.hasSubmitted">
            <p class="italics margin-0px" *ngIf="this.validForm && this.updatingSettings">Updating Map Details...</p>
            <p class="italics redText margin-0px" *ngIf="!this.validForm">Errors have been found above. Check each of your inputs for errors.</p>
          </div>
        </div>

        <hr />

        <h6>Race Map Preview:</h6>

        <div class="MapRoutePreview">
          <app-map [useLoader]="false" [routeData]="this.routeData" [raceIDs]="[this.raceID]" [parentRaceID]="this.raceID" [displayUsers]="false" [zoom]="false"></app-map>
          <div class="MapRoutePreviewUnavailable" *ngIf="!this.raceData.valid_route_file && (this.routeData == null || (this.routeData | json) == '{}')">
            <p class="margin-0px">A preview of the race will appear when a route file is uploaded and saved.</p>
          </div>
        </div>

        <!--
        <ng-template [ngIf]="this.routeData || this.raceData.valid_route_file" [ngIfElse]="InvalidRoute">
            <div class="MapRoutePreview">
              <app-map [routeData]="this.routeData" [raceIDs]="[this.raceID]" [parentRaceID]="this.raceID" [displayUsers]="false" [zoom]="false"></app-map>
            </div>

            <div *ngIf="this.routeData">
              <button class="SlideshowButton" (click)="this.resetRouteDataFromCoords()">
                Reset
              </button>
            </div>
            
          </ng-template>

          <ng-template #InvalidRoute>
            <p class='italics redText'>Either a route file has not been uploaded yet or the uploaded route file is invalid. Please upload a route file to preview the race map.</p>
          </ng-template>
        -->
      </form>
    </ng-template>
  </ng-template>

</div>
