<div class='PageContainer'>
      <div class="PageSegment PageHeaderSegment">
         <!--   <img class='PageHeaderSegmentImage' src='../../assets/logos/logo-white.png' alt='Tucan Fitness Logo'> -->
            <h1 class="PageHeaderSegmentTitle">About Tucan Fitness</h1>
      </div>
      <div class='PageSegment'>
            <h2>What is Tucan Fitness?</h2>
            <p>Tucan Fitness enables more people to pursue fitness and raise funds via a borderless community that is not possible with traditional physical constraints. We are an inclusive online environment where anyone and everyone can participate in virtual and hybrid races, whether they are competitive or working towards their own fitness goals. Our social features enable your community to experience a fitness adventure together, while raising money for a good cause. Let’s get moving today! </p>
      </div>
      <div class='PageSegment'>
            <h2>Our Races</h2>
            <h3>What is a virtual race?</h3>
            <p>Whether you’re running in the city, your neighborhood, or your own backyard, you’re also sharing a digital route with other participants and racers. Tucan Fitness removes borders and boundaries of race participation so that racers can participate from anywhere in the world, without all the hassle of parking, scheduling, traffic, (and port-a-potties) but with the benefit of a worldwide community working together towards common fitness and fundraising goals.</p>
             <h3>What is a hybrid race?</h3>
            <p>Race directors wanted to take virtual racing to the next level, and we listened. Introducing… a whole new kind of race, hybrid racing. You have a set time period to run real physical trails in a selected city. You choose the timing and the order in which you complete each trail in-person. You can run the distance in one day or you can take the entire race duration. Our platform brings together participants with social features, statistics, and leaderboards. Compete with friends, the clock, and yourself!</p>
      </div>
      
      <div class='PageSegment'>
            <h2>Our Value</h2>
            <div class='AboutTucanValuesContainer'>
                  <div class='AboutTucanValue'>
                        <h3>To Race Directors:</h3>
                        <p><b>Replace canceled races or create new events.</b> Engage your community virtually, all without the extreme costs and headaches required to put on in-person events. Take your event 100% virtual or create hybrid events to take racing to the next level. </p>  
                  </div>
                  <div class='AboutTucanValue'>
                        <h3>To Fundraisers:</h3>
                        <p><b>A turn-key fundraising solution.</b> Quickly set up a race, share with your community and get people moving together, all for a good cause. Choose your own custom route and engage your sponsors to make a personalized fundraiser.</p>  
                  </div>
                  <div class='AboutTucanValue'>
                        <h3>To Racers:</h3>
                        <p><b>Fit fitness into your own schedule.</b> Do not let your busy schedule stop you from climbing the leaderboard or raising funds for a good cause. Connect with other racers in your community and be social from a distance.</p>  
                  </div>
            </div>
      </div>
      <div class='PageSegment'>
            <h2>The Team</h2>
            <div class="AboutTucanTeam">
                  <div class="AboutTucanMember">
                        <img src= "../../assets/landing/billy.jpeg">
                        <h5 class="roboto-purple">
                              Billy<br />Grenis
                        </h5>
                        <p class="roboto-purple">
                              CEO, marathon runner
                        </p>
                        <a class="btn" href="https://www.linkedin.com/in/grenis/" target="_blank">
                              <img src= "https://image.flaticon.com/icons/svg/1384/1384046.svg" width="20" height="20">
                        </a>
                  </div>
                  <div class="AboutTucanMember">
                        <img src= "../../assets/landing/nathan.JPG">
                        <h5 class="roboto-purple">
                              Nathan<br />Cinnamond
                        </h5>
                        <p class="roboto-purple">
                              Engineer, avid runner
                        </p>
                        <a class="btn" href="https://www.linkedin.com/in/nathancinnamond/" target="_blank">
                              <img src= "https://image.flaticon.com/icons/svg/1384/1384046.svg" width="20" height="20">
                        </a>
                  </div>
                  <div class="AboutTucanMember">
                        <img src= "../../assets/landing/katie.jpg">
                        <h5 class="roboto-purple">
                              Katie<br />Donahoe
                        </h5>
                        <p class="roboto-purple">
                              Engineer, daily walker
                        </p>
                        <a class="btn" href="https://www.linkedin.com/in/katie-donahoe-90a241121/" target="_blank">
                              <img src= "https://image.flaticon.com/icons/svg/1384/1384046.svg" width="20" height="20">
                        </a>
                  </div>
                  <div class="AboutTucanMember">
                        <img src= "../../assets/landing/alex.JPG">
                        <h5 class="roboto-purple">
                              Alex<br />Popeil
                        </h5>
                        <p class="roboto-purple">
                              Engineer, likes to code
                        </p>
                        <a class="btn" href="https://www.linkedin.com/in/alexander-popeil-b4440410b/" target="_blank">
                              <img src= "https://image.flaticon.com/icons/svg/1384/1384046.svg" width="20" height="20">
                        </a>
                  </div>
            </div>
      </div>
</div>