/****** NavBar *****/

a.navbar-brand {
    padding-top: 0px ; 
    padding-bottom: 0px ;
 }

.navbar a {border-bottom:none;}

.navbar ul li a {border-bottom:none;}


.navbar-nav {position: relative;
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }
  
  /* Fixes dropdown menus placed on the right side */
  .ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
  }

.right {
  position: absolute;
  right: 0;
}

