<nav class="navbar navbar-expand-lg navbar-light">
  <button class="lightButton TucanNavigationToggler" (click)="ToggleNavigation()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="TucanNavigationContents" [ngClass]="navigationOpen ? 'open' : ''">
    <div class='TucanContainer'>
      <div class="TucanNavigationBlackTransparent" (click)="ToggleNavigation()"></div>
      <div class="TucanNavigationButtons">
        <div class="TucanNavigationButtonSegment">
          <div class='NavItem'>
            <a class="TucanNavigationLogo" routerLink='/'><img src= "../../assets/logos/logo-white-small.png"></a>
          </div>
           
          <div class="NavItem active" (click)="NavItemClick()">
            <a class="NavLink" routerLink='/about-tucan'>ABOUT<span class="sr-only">(current)</span></a>
          </div>
          
          <div class="NavItem active" (click)="NavItemClick()">
            <a class="NavLink" routerLink='/races'>PUBLIC RACES<span class="sr-only">(current)</span></a>
          </div>
          
          <div class="NavItem active" (click)="NavItemClick()">
            <a class="NavLink" routerLink='/faqs'>FAQs<span class="sr-only">(current)</span></a>
          </div>

          <div class="NavItem active" (click)="NavItemClick()">
            <a class="NavLink" routerLink='/contact'>CONTACT<span class="sr-only">(current)</span></a>
          </div>
        </div>

        <div class="TucanNavigationButtonSegment">
          <ng-template [ngIf]="this._authService.isLoggedIn()" [ngIfElse]="NavButtonsBlock">
              <a class="NavItem dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="showNotifications()">
                <div class='NavNotifImgContainer'>
                  <ng-template [ngIf]="notifications.length>0" [ngIfElse]="NoNotificationsIcon">
                    <mat-icon matBadge="{{notifications.length}}" matBadgeColor="warn" matBadgeSize="small" matBadgePosition="below">circle_notifications</mat-icon>
                  </ng-template>
                  <ng-template #NoNotificationsIcon>
                    <mat-icon class='NavNotifIm'>circle_notifications</mat-icon>
                  </ng-template>
                </div>
              </a>
              <div class='NavItem dropdown dropdownVisible NavProfileDropdown' [ngClass]="{dropdownOpen : this.profileOpen}" (click)="this.ToggleProfileDropdown()">
                <div class='dropdownSelected NavProfileDropdownSelected'>
                  <div class='NavProfileImgContainer'>
                    <img class='NavProfileImg' src= "{{this.picURL}}" />
                  </div>
                  <span class="NavLink" >MY PROFILE</span>
                </div>
                <div class='dropdownContents NavDropdownContents'>
                  <div class="dropdownItem NavDropdownItem">
                    <!--<a [routerLink]="['/profile', {username: this._authService.username}]">Go to Profile</a>-->
                    <a [routerLink]="['/']">Go to Profile</a>
                  </div>
                  <div class="dropdownItem NavDropdownItem">
                    <a (click)="logout()">Log out {{this._authService.username}}</a>
                  </div>
                </div>
              </div>
              <!--
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="NavItemClick()">
                  <img src= "{{this.picURL}}" style="border-radius:50%;width:20px;"> My Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" [routerLink]="['/profile', {username: this._authService.username}]">My profile</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" (click)="logout()">Log out {{this._authService.username}}</a>
                  </div>
              -->
          </ng-template>
          <ng-template #NavButtonsBlock>
            <div class='NavItem'>
              <button class='darkButton' (click)="openModal('custom-modal-1')">Log In</button>
            </div>
            <div class='NavItem'>
              <button class='darkButton' (click)="openModal('custom-modal-2')">Sign Up</button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</nav>

<custom-modal class='custom-modal-container' id="custom-modal-1">
  <app-login2 id="custom-modal-1"></app-login2>
</custom-modal>