/****** NavBar *****/

a.navbar-brand {
    padding-top: 0px ; 
    padding-bottom: 0px ;
 }

.navbar a {border-bottom:none;}

.navbar ul li a {border-bottom:none;}


.navbar-nav {position: relative;
}