<nav 
  class="navbar navbar-expand-lg navbar-light" 
>
  <button 
    class="TucanNavigationToggler"
    (click)="ToggleNavigation()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div 
    class="TucanNavigationContents"
    [ngClass]="navigationOpen ? 'open' : ''"
  >
    <div class='TucanContainer'>
      <div 
        class="TucanNavigationBlackTransparent"
        (click)="ToggleNavigation()"
      ></div>
      <div class="TucanNavigationButtons">
        <div class="TucanNavigationButtonSegment">
          <a class="TucanNavigationLogo" routerLink='/'><img src= "../../assets/landing/tucan_purple-02.png"></a>
           
          <div class="nav-item active" (click)="NavItemClick()">
            <a class="nav-link" routerLink='/about-tucan'>About Tucan<span class="sr-only">(current)</span></a>
          </div>
          
          <div class="nav-item active" (click)="NavItemClick()">
            <a class="nav-link" routerLink='/races'>Public Races <span class="sr-only">(current)</span></a>
          </div>
          
          <div class="nav-item active" (click)="NavItemClick()">
            <a class="nav-link" routerLink='/faqs'>FAQs<span class="sr-only">(current)</span></a>
          </div>

          <div class="nav-item active" (click)="NavItemClick()">
            <a class="nav-link" routerLink='/contact'>Contact Us<span class="sr-only">(current)</span></a>
          </div>
        </div>

        <div class="TucanNavigationButtonSegment">
          <div *ngIf="this._authService.isLoggedIn()">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="showNotifications()">
                <mat-icon *ngIf="notifications.length>0" class="roboto-purple" matBadge="{{notifications.length}}" matBadgeColor="warn" matBadgeSize="small" matBadgePosition="below">circle_notifications</mat-icon> 
                 <mat-icon *ngIf="notifications.length==0" class="roboto-purple" >circle_notifications</mat-icon>
                Notifications
              </a>
          </div>

         <div *ngIf="this._authService.isLoggedIn()">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="NavItemClick()">
              <img src= "{{this.picURL}}" style="border-radius:50%;width:20px;"> My Profile
            </a>
             <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" [routerLink]="['/profile', {username: this._authService.username}]">My profile</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logout()">Log out {{this._authService.username}}</a>
              </div>
          </div>

          <div *ngIf="!this._authService.isLoggedIn()">
            <app-login></app-login>
           <!-- <app-dialog-skeleton type=1 (click)="NavItemClick()"></app-dialog-skeleton> <!--login-->
          </div>
          
          <div *ngIf="!this._authService.isLoggedIn()">
            <app-register></app-register>
          <!--  <app-dialog-skeleton type=2 (click)="NavItemClick()"></app-dialog-skeleton> <!--register-->
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>