<form [formGroup]="tagSelectForm">
  <div class="form-group" style="text-align: left; padding: 5px;">
    <h4>{{title}}</h4>
    <mat-form-field appearance="fill">
      <mat-select formControlName="tag">
        <mat-option *ngFor="let tag of tags" [value]="tag" (click)="onTagSelect(tag)">
          {{ tag.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    

    <div *ngIf="tagSelectForm.get('tag').invalid && (tagSelectForm.get('tag').dirty || tagSelectForm.get('tag').touched)"
  class="alert alert-danger">
  
  <div *ngIf="tagSelectForm.get('tag').errors">
     Must Select a Tag
  </div>
  </div>
  </div>
</form>