<!-- The Modal -->
<div class="modal fade" id="storyModal" >
  <div class="modal-dialog">
    <div class="modal-content" >

      <div class="modal-body" *ngIf="storyItem" >

        <div class="column" style="vertical-align: middle;">
          <img src="{{ storyItem.story_image }}" id="storyImg">
        </div>

        <div class="column">
          <img width="50px" src="{{ storyItem.profile_url }}">
          <app-user-profile-nav [username]=storyItem.username [displayName]=storyItem.display_name></app-user-profile-nav>

          <button type="button" class="close" (click)="hideModal()">&times;</button>
          <br><br>
          <b style="color:#2C00A5;">Status : </b>{{ storyItem.story_text }}

          <br>
          <app-story-btn *ngIf="this._authService.isLoggedIn()" [use]="'like'" [storyID]=storyItem.story_id [likes]=storyItem.likes [likesCount]=storyItem.likes_count></app-story-btn>
          <app-story-btn *ngIf="storyItem.is_mine" [use]="'delete'" [storyID]=storyItem.story_id></app-story-btn>
          <br>

          <!--<div style="overflow-y: auto;max-height:75vh;">-->
          <div>
            <app-comments [comments]="storyItem.comments" [storyID]="storyItem.story_id"></app-comments>
          </div>
        </div>

        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>

      </div>

    </div>
  </div>
</div>
