<!-- The Modal -->
<div class="modal fade" id="storyModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="center" *ngIf="storyItem">
        <div class="modal-body">

          <img width="50px" src="{{ storyItem.profile_url }}">
          <app-user-profile-nav [username]=storyItem.display_name></app-user-profile-nav>
          <button type="button" class="close" (click)="hideModal()">&times;</button>

          <p>{{ storyItem.story_id }}</p>
          <img src="{{ storyItem.story_image }}">
          <h3 style="text-align:center;">{{ storyItem.story_text }}</h3>

          <app-comments [comments]="storyItem.comments" [storyID]="storyItem.story_id"></app-comments>

        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <app-story-btn [use]="'like'" [storyID]=storyItem.story_id [likes]=storyItem.likes [likesCount]=storyItem.likes_count></app-story-btn>
          <app-story-btn *ngIf="storyItem.is_mine" [use]="'delete'" [storyID]=storyItem.story_id></app-story-btn>
          <!-- <button type="button" class="btn btn-primary" (click)="sendModal()" >Send</button> -->
          <!-- <button type="button" class="btn btn-danger" (click)="hideModal()">Close</button> -->

          <!-- this button is hidden, used to close from typescript -->
          <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
        </div>

      </div>

    </div>
  </div>
</div>
