.dropdownContainer {
    position:relative;
    z-index: 1;
    width:100%;
    height:auto;
    margin-bottom:16px;
    background-color:inherit;
    color:inherit;
}
    .dropdownContainer .dropdownHeader {
        position:relative;
        z-index: 1;

        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
    }
        .dropdownContainer .dropdownHeader > * {
            flex-shrink: 1;
            flex-basis: 100%;
            margin-left:8px;
            margin-right:8px;
            height:min-content;
        }
        .dropdownContainer .dropdownHeader .dropdownToggle {
            flex-shrink: 0;
            flex-basis: 16px;
            width:16px;
            height:100%;
            min-height: 16px;
            background-image:url(../assets/icons/dropdown-icon.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transform:rotate(180deg);
            transition:transform 0.25s ease-in-out;
        }
        .dropdownContainer .dropdownHeader .dropdownToggle:first-child {
            margin-right:8px;
            margin-left:0px;
        }
        .dropdownContainer .dropdownHeader .dropdownToggle:last-child {
            margin-left:8px;
            margin-right:0px;
        } 
    .dropdownContainer .dropdownContent {
        height:0px;
        overflow:hidden;
        transition:height 0.25s ease-in-out, padding-top 0.25s ease-in-out;
        padding-left:32px;
        padding-right:32px;
    }
    .dropdownContainer .dropdownContent.overlay {
        position:absolute;
        z-index: 1000;
        top:100%;
        left:0;
        box-shadow: none;
        transition:height 0.25s ease-in-out, padding-top 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
        background-color:inherit;
    }
    .dropdownContainer .dropdownHover:hover {
        cursor:pointer;
    }
    .dropdownContainer.open .dropdownContent {
        height:min-content;
        padding-top:4px;
    }
    .dropdownContainer.open .dropdownContent.overlay {
        box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.5);
    }
    .dropdownContainer.open .dropdownHeader .dropdownToggle {
        transform:none;
    }