.form {
    width:100%;
    position:relative;
}
    .form h6 {
        font-weight:bold;
    }

.formPanel {
    background-color: rgb(255,255,255);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    width:100%;
    max-width: 800px;
    padding:32px;
    border-radius: 8px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:32px;
}
    .formPanel label {
      width:100%;
      font-weight: bold;
    }

.formGroup, .formGroupHeader {
    width:100%;
    margin-bottom:24px;

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.formGroupHeader {
    margin-bottom:0px;
    justify-content: space-between;
}
    .formGroup.formGroupColumn {
        flex-direction: column;
    }
    .formGroup.formGroupWithLeftBorder {
        border-left:2px solid rgb(200,200,200);
        padding-left:16px;
    }
    .formGroup.formGroupAlignedTop {
        align-items: flex-start;
    }
    .formGroup.submitButtonGroup {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom:0px;
    }
    
.formInputContainer {
    flex-shrink: 1;
    flex-basis: 100%;
    margin-left:16px;
    margin-right:16px;
}
    .formInputContainer:first-child {
        margin-left:0px;
    }
    .formInputContainer:last-child {
        margin-right:0px;
    }
    .formInputContainer.autoWidth {
        width:auto;
        flex-basis: auto;
    }
    .formInputContainer.formInputContainerSelfAlignedCenter {
        align-self: center;
    }

.formTextInput {
    width:100%;
    padding:4px 8px 4px 8px;
    border:2px solid rgb(200,200,200);
    background-color: white;
    border-radius: 8px;
}
    .formTextInput:focus {
        outline: none;
    }
    .formInputContainer.autoWidth .formTextInput, .formTextInput.autoWidth {
        width:auto;
    }
    .formTextInput.errorTextInput {
        border-color: red;
    }

.formSelectInput {
    width:100%;
    padding:4px 8px 4px 8px;
    border: 2px solid rgb(200,200,200);
    background-color:white;
    border-radius: 8px;
}
    .formInputContainer.autoWidth .formSelectInput, .formSelectInput.autoWidth {
        width:auto;
    }
    .formSelectInput.errorSelectInput {
        border-color: red;
    }

.inputErrorContainer {
    color: red;
    margin-top:4px;
    font-size: var(--h7);
}
    .inputErrorContainer > * {
        margin-bottom:0px;
    }

.formButton {
    background-color: white;
    transition:background-color 0.25s ease-in-out;
}
    .formButton.resetButton {
        background-color:red;
        color:white;
    }
    .formButton:hover, .formButton.resetButton:hover {
        background-color: var(--main-background-color);
        color:white;
    }
    .formButton.disabled:hover {
        cursor:initial;
        background-color: initial;
        color:initial;
    }

.uploadFileIcon {
    width:36px;
    height:36px;

    background-image:url(../assets/icons/upload-icon-white.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.formButton.disabled, .disabledGroup {
    opacity:0.5;
}

@media only screen and (max-width:600px) {
    .formGroup {
        flex-direction:column;
        align-items: stretch;
    }
    .formGroup.formGroupHeader {
        flex-direction:row;
    }
    .formGroup.formGroupAlignedTop {
        align-items: stretch;
    }
    .formGroup.formGroupAlignedTop .formInputContainer {
        margin-bottom:24px;
        margin-left:0px;
        margin-right:0px;
    }
    .formGroup.formGroupAlignedTop .formInputContainer:only-child, .formGroup.formGroupAlignedTop .formInputContainer:last-child {
        margin-bottom:0px;
    }
}