<div >

	<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]>
    <form [formGroup]>
      <ng-template matStepLabel>Navigate to the import menu on the map page</ng-template>
      The menu on the left of the map page has an "Import" button that allows you to manually enter your miles. Click it to add your activity.<br>
      <img src="../../assets/landing/manual-1.png" alt="pic1" style="width:300px;">
    </form>
  </mat-step>

  <mat-step [stepControl]>
    <form [formGroup]>
      <ng-template matStepLabel>Fill out your activity information</ng-template>
      Fill out the name, distance, and time it took to do your activity.<br>
      <img src="../../assets/landing/manual-2.PNG" alt="pic2" style="width:300px;">

    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Apply activity</ng-template>
    Add the activity to your progress by pressing the <img src="../../assets/landing/manual-3.PNG" alt="pic3" style="width:60px;"> button at the bottom. Your pin then will move on the map.
    

  </mat-step>
</mat-vertical-stepper>

</div>


