<div class='PageContainer'>
      <div class="PageSegment PageHeaderSegment">
            <h1 class="PageHeaderSegmentTitle">About Tucan Fitness</h1>
      </div>
      <div class='PageSegment'>
            <h2>What is Tucan Fitness?</h2>
            <p>Tucan Fitness enables more people to pursue fitness and raise funds via a borderless community that is not possible with traditional physical constraints. We are an inclusive online environment where anyone and everyone can participate in virtual and hybrid races, whether they are competitive or working towards their own fitness goals. Our social features enable your community to experience a fitness adventure together, while raising money for a good cause. Let’s get moving today! </p>
      </div>

      <div class='PageSegment'>
            <h2>The Team</h2>
            <div class="AboutTucanTeam">
                  <div class="AboutTucanMember">
                        <img src= "../../assets/landing/billy.jpeg">
                        <h5 class="roboto-purple">
                              Billy<br />Grenis
                        </h5>
                        <p class="roboto-purple">
                              CEO, marathon runner
                        </p>
                        <a class="btn" href="https://www.linkedin.com/in/grenis/" target="_blank">
                              <img src= "https://image.flaticon.com/icons/svg/1384/1384046.svg" width="20" height="20">
                        </a>
                  </div>
                  <div class="AboutTucanMember">
                        <img src= "../../assets/landing/nathan.JPG">
                        <h5 class="roboto-purple">
                              Nathan<br />Cinnamond
                        </h5>
                        <p class="roboto-purple">
                              Engineer, avid runner
                        </p>
                        <a class="btn" href="https://www.linkedin.com/in/nathancinnamond/" target="_blank">
                              <img src= "https://image.flaticon.com/icons/svg/1384/1384046.svg" width="20" height="20">
                        </a>
                  </div>
                  <div class="AboutTucanMember">
                        <img src= "../../assets/landing/katie.jpg">
                        <h5 class="roboto-purple">
                              Katie<br />Donahoe
                        </h5>
                        <p class="roboto-purple">
                              Engineer, daily walker
                        </p>
                        <a class="btn" href="https://www.linkedin.com/in/katie-donahoe-90a241121/" target="_blank">
                              <img src= "https://image.flaticon.com/icons/svg/1384/1384046.svg" width="20" height="20">
                        </a>
                  </div>
                  <div class="AboutTucanMember">
                        <img src= "../../assets/landing/alex.JPG">
                        <h5 class="roboto-purple">
                              Alex<br />Popeil
                        </h5>
                        <p class="roboto-purple">
                              Engineer, likes to code
                        </p>
                        <a class="btn" href="https://www.linkedin.com/in/alexander-popeil-b4440410b/" target="_blank">
                              <img src= "https://image.flaticon.com/icons/svg/1384/1384046.svg" width="20" height="20">
                        </a>
                  </div>
            </div>
      </div>
</div>