<h3 mat-dialog-title>Make a Report</h3>
<mat-dialog-content>

  <div *ngIf="!this.reportSuccess">
    <p>
      You can report the post by checking the box next to the most applicable offence and clicking Report. The person who is being reported will not get a notification from you.
    </p>
    
    <br>
  
    <form [formGroup]="reportForm" (submit)="submit(reportForm.value)">
      <div *ngFor="let offence of offences.controls; let i=index">
        <input type="checkbox" [formControl]="offence"/> {{offencesList[i].type}}
      </div>
  
      <br>
  
      <div *ngIf="!reportForm.valid">
        Please select one checkbox only.
      </div>
  
      <br>
  
      <button [disabled]="!reportForm.valid" class="btn btn-sm btn-danger" type="submit">Report</button>
    </form>
  </div>

  <div *ngIf="this.reportSuccess">
    <p>
      Your report has been received successfully. Thanks for helping to keep our community safe!
    </p>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>