<div class='TucanContainer'>
    <button class="margin-bottom-16px" (click)="this.closeDialog()">Close</button>
    
    <ng-template [ngIf]="this.data != null" [ngIfElse]="LoadingFollowers">
        <div class='Slideshow'>
            <div class="SlideshowHeader">
                <button class="SlideshowButton" (click)="SwitchSlideshow('followers')" id="followers-btn">Followers: {{this.data.followersData.numFollowers}}</button>
                <button class="SlideshowButton" (click)="SwitchSlideshow('following')" id="following-btn">Following: {{this.data.followersData.numFollowing}}</button>
            </div>
            <div class="SlideshowContents">
                <div class="SlideshowSlide" [ngClass]="{'Slideshow-CurrentSlide' : currentScreen == 'followers'}">
                    <h3>Followers</h3>
                    <ng-template [ngIf]='this.numFollowers > 0' [ngIfElse]='NoFollowersBlock'>
                        <div *ngFor="let person of this.followers">
                            <app-show-followers [person]="person"></app-show-followers>
                        </div>
                    </ng-template>
                    <ng-template #NoFollowersBlock>
                        <p>No followers.</p>
                    </ng-template>
                </div>
                <div class="SlideshowSlide" [ngClass]="{'Slideshow-CurrentSlide' : currentScreen == 'following'}">
                    <h3>Following</h3>
                    <ng-template [ngIf]='this.numFollowing > 0' [ngIfElse]='NoFollowingBlock'>
                        <div *ngFor="let person of this.followed">
                            <app-show-followers [person]="person"></app-show-followers>
                        </div>
                    </ng-template>
                    <ng-template #NoFollowingBlock>
                        <p>Not following anybody.</p>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template #LoadingFollowers>
        <p>Loading followers data...</p>
    </ng-template>
</div>