
.MerchForm {
    width:100%;
  }
    .MerchForm h6 {
      font-weight:bold;
    }
    .formPanel {
      background-color: rgb(255,255,255);
      box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
      width:100%;
      max-width: 800px;
      padding:32px;
      border-radius: 8px;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:32px;
    }
      .formPanel label {
        width:100%;
        font-weight: bold;
      }
      .formGroup, .formGroupHeader {
        width:100%;
        margin-bottom:32px;
  
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
      }
      .formGroup.formGroupWithLeftBorder {
        border-left:2px solid rgb(200,200,200);
        padding-left:16px;
      }
      .formGroupHeader {
        margin-bottom:32px;
        justify-content: space-between;
      }
      .formGroup.formGroupAlignedTop {
        align-items: flex-start;
      }
      .formGroup.formGroupColumn {
          flex-direction: column;
      }
        .formInputContainer {
          flex-shrink: 1;
          flex-basis: 100%;
          margin-left:16px;
          margin-right:16px;
        }
        .formInputContainer:first-child {
          margin-left:0px;
        }
        .formInputContainer:last-child {
          margin-right:0px;
        }
        .formInputContainer:only-child, .formInputContainer:only-of-type {
          margin-left:0px;
          margin-right:0px;
        }
        .formInputContainer.autoWidth {
          width:auto;
          flex-basis: auto;
        }
        .formInputContainer.formInputContainerSelfAlignedCenter {
          align-self: center;
        }
          .formTextInput {
            width:100%;
            padding:4px 8px 4px 8px;
            border:2px solid rgb(200,200,200);
            background-color: white;
            border-radius: 8px;
          }
          .formTextInput:focus {
            outline: none;
          }
          .formInputContainer.autoWidth .formTextInput, .formTextInput.autoWidth {
            width:auto;
          }
          .formTextInput.errorTextInput {
            border-color: red;
          }
  
  .congratulationsContainer {
    width:100%;
    margin-bottom:32px;
  
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
    .congratulationsIcon {
      width:120px;
      height:120px;
      margin-right:32px;
    }
    .congratulationsName {
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap;
    }
      .draftNotice {
        flex-shrink: 0;
        flex-basis: auto;
  
        border:2px solid red;
        color:red;
        border-radius: 8px;
        margin-left:8px;
        padding:4px;
      }
    .proceedButton {
      font-size: var(--h6);
      margin-bottom:16px;
    }
  
  .locationOptions {
    width:100%;
    height:0px;
    position:relative;
  }
    .locationOptionsInnerContainer {
      position:absolute;
      left:0;
      top:-8px;
      width:100%;
      height:auto;
      background-color: white;
      padding:8px;
      border-left: 2px solid rgb(200,200,200);
      border-right: 2px solid rgb(200,200,200);
      border-bottom: 2px solid rgb(200,200,200);
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    .locationOptionsHeader {
      height:100%;
      padding-top:4px;
      padding-bottom:4px;
    }
    .locationOptionsHeaderContainer {
      display:flex;
      flex-direction:row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
    }
    .locationOptionsClose:hover {
      cursor:pointer;
      text-decoration: underline;
    }
    .locationOption {
      width:100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow:hidden;
      font-size: var(--h7);
    }
    .locationOption:hover {
      cursor:pointer;
      background-color: rgb(230,230,230);
    }
  .submitButtonGroup {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:0px;
  }
  .formButton {
    background-color: white;
  }
  .formButton:hover {
    background-color: var(--main-background-color);
    color:white;
  }
  .formButton.resetButton {
    background-color: red;
    color:white;
    flex-shrink: 0;
    margin-left:32px;
    }
  .formSubmitButton.disabled {
    opacity:0.5;
  }
  .formSubmitButton.disabled:hover {
    cursor:initial;
    background-color: initial;
    color:initial;
  }

.disabledGroup {
    opacity:0.5;
}
.coordinateInput {
  width:100px !important;
}

.MapRoutePreview {
  position:relative;
  width: 100%;
  max-width: 800px;
  height:400px;
  background-color:rgb(200,200,200);
}
.MapRoutePreviewUnavailable {
  position:absolute;
  width:auto;
  height:auto;
  max-width: 100%;
  max-width: 100%;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);

  padding:32px;
  background-color: rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
  color:white;

}
.mapFileUpload {
  display:none;
}
.mapUploadActions {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.mapFileUploadButton, .mapFileUploadedButton, .mapFileSmallUploadButton {
  position:relative;
  width:min-content;
  min-width:280px;
  height:112px;
  padding:16px;
  background-color:rgb(200,200,200);
  color:white;
  border-radius: 16px;
  margin-bottom:8px;
  transition: background-color 0.25s ease-in-out;

  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
.mapFileUploadedButton {
  margin-right:8px;
}
.mapFileSmallUploadButton {
  height:48px;
  padding:4px;
}
.mapFileUploadButton:hover, .mapFileUploadedButton:hover, .mapFileSmallUploadButton:hover {
  cursor:pointer;
  background-color: rgb(160, 160, 160);
}
  .mapFileIcon {
    flex-shrink: 0;
    opacity:1;
    transition:opacity 0.5s ease-in-out;
  }
  .mapFileUploadButton .mapFileIcon {
    flex-basis: 70px;
    width:70px;
    height:70px;
  }
  .mapFileUploadedButton .mapFileIcon {
    flex-basis: 80px;
    width:80px;
    height:80px;
  }
  .mapFileSmallUploadButton .mapFileIcon {
    flex-basis: 40px;
    width:40px;
    height:40px;
  }
  .mapFileIcon:hover {
    cursor:pointer;
    opacity:0.5;
  }
  .mapFileActions {
    flex-shrink: 1;
    flex-basis: 100%;
    margin-left:16px;
  }
  .mapFileDownloadLink:hover {
    text-decoration: none;
  }
  .mapFileUploadedOtherActions {
    width:min-content;
    margin-left:16px;
    display:flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

.MerchandiseContainer {
  margin-bottom:32px;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.MerchandiseItem {
  position:relative;
  width:160px;
  height:160px;
  background-color: rgb(200,200,200);
  border:1px solid rgb(200,200,200);
  padding:16px;
  margin-right:16px;
  margin-bottom:16px;
  border-radius: 16px;
  text-align: center;
  font-size: var(--h7);
  overflow:hidden;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
  .MerchandiseItem:hover {
    cursor:pointer;
  }
  .MerchandiseItemOverlay {
    position:absolute;
    z-index: 3;
    width:100%;
    height:100%;
    padding:16px;
    color:white;
    background-color: rgba(0,0,0,0.5);
    opacity:0;
    transition:opacity 0.25s ease-in-out;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .MerchandiseItem:hover .MerchandiseItemOverlay {
    opacity:1;
  }
  .MerchandiseItemImage {
    width:80px;
    height:80px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .MerchandiseItemImage.AddItemImage {
    width:40px;
    height:40px;
    background-image: url(../../../../assets/icons/add-icon.svg);
    margin-bottom:8px;
  }
  .MerchandiseItemImage.fullImage {
    position:absolute;
    z-index: 1;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:white;
  }
  .MerchandiseItemText {
    position:absolute;
    z-index: 2;
    bottom:0px;
    padding:8px;
    width:100%;
    height:auto;
    max-height:100%;
    background:linear-gradient(transparent, rgba(0,0,0,0.75) 50% 100%);
    color:white;
  }