<mat-accordion>
  <mat-expansion-panel *ngFor="let team of teams">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + team.profile_url + ')'}" style="position:relative; padding-top: 5px; float:left;"></div>
        <div style="padding: 10px;">{{team.display_name}}</div>
      </mat-panel-title>
      <mat-panel-description style="padding:8px;">
        {{team.total_distance}} {{team.distance_type}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-card *ngFor="let member of team.child_user_stats">
      <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(' + member.profile_url + ')'}" style="position: relative; float:left;"></div>
      <div style="padding-left: 50px;">{{member.display_name}}</div>
      <div style="padding-left: 50px;">{{member.total_distance}} {{member.distance_type}}</div>
    </mat-card>

    <mat-action-row>
      <button mat-button (click)="joinRequest(team)" *ngIf="userStat.team_id == null">Request to Join</button>
      <button mat-button (click)="quitTeam(team)" *ngIf="userStat.team_id == team.team_id">Quit</button>
      <button mat-button (click)="editTeam(team)" *ngIf="userStat.team_id == team.team_id">Edit</button> 
      <!-- Fix edit button so only owner can edit -->
    </mat-action-row>
  </mat-expansion-panel>
<mat-accordion>
