<div class="table-container ex3" style="overflow:auto; max-height:420px;">

  <!---If we are in race view AND we are authenticated, display form to post new stories-->
  <div *ngIf="use=='race' && this._authService.isLoggedIn() && this.progress">
    <button (click)="openModal('custom-modal-6')">Make a Post</button>
  </div>

  <p *ngIf="feedItems.length==0">Nothing yet! </p>
  <table mat-table [dataSource]="feedItems" class="feedTable">
    
    <ng-container matColumnDef="ProfilePic" >
      <td mat-cell *matCellDef="let element" (click)="clickedOnFeedItem(element)" [hidden]="(followOnly && !element.follows) || (storyOnly && !element.story)">
        <img width="35px" src="{{ element.profile_url }}" style="padding-right:20px;">
      </td>
    </ng-container>

    <ng-container matColumnDef="Data" >
      <td mat-cell *matCellDef="let element" [hidden]="(followOnly && !element.follows) || (storyOnly && !element.story)">

        <div class="row">
          <div class = "main-col">
             <div *ngIf="element.message.length < 20"> <!-- NO STORY : FITNESS UPDATE -->
              <app-user-profile-nav [username]=element.username [displayName]=element.display_name></app-user-profile-nav>
              {{ element.message }}  <small>{{ this.get_created_ts(element.created_ts) }}</small>
            </div>

            <div *ngIf="element.message.length >= 20"> <!-- STORY-->
              <app-user-profile-nav [username]=element.username [displayName]=element.display_name></app-user-profile-nav>
              {{ element.story_text }}  {{ element.hot? '🔥🔥🔥' : ' ' }}  <small>{{ this.get_created_ts(element.created_ts) }}</small>

              <div class="container" *ngIf="element.story_image">
                <img width="60px" src="{{ element.story_image }}" (click)="showStoryDialog(element)">
              </div>
            </div>

          </div>
          <div class = "side-col">
             <app-story-btn style="padding-top:5px;" *ngIf="this._authService.isLoggedIn()" [use]="'like'" [storyID]=element.story_id [likes]=element.likes [likesCount]=element.likes_count [likesUsers]=element.likes_users></app-story-btn>

             <div role="button" (click)="element.show_comments=!element.show_comments"> <i class="material-icons" style="padding-top:5px;padding-left:5px">comment</i> {{ element.comments.length }} 
             </div>

             <div class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" style="font-size:8px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">more_horiz</i>
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                  <div role="button" (click)="openReportDialog(element.story_id)"> <i class="material-icons">report</i>
                    <i>Report Story</i> 
                  </div>

                  <div *ngIf="element.is_mine">
                    <div class="dropdown-divider"></div>

                    <div role="button" (click)="openDeleteStoryDialog(element.story_id)"> <i class="material-icons">delete</i>
                      <i>Delete Story</i> 
                    </div>

                  </div>

                </div>
              </div>

          </div>
        </div>
       


        <!---- KATIE THIS IS FOR YOUUUUUU :)-->

        <div *ngIf="element.show_comments">
          <app-comments [comments]="element.comments" [storyID]="element.story_id" (commentPosted)="newCommentPosted($event)"></app-comments>
        </div>

      </td>
    </ng-container>
    <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>

  </table>

  <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

  <div *ngIf="canRefresh" style="width:100%">
    <button paginate-button mat-button (click)="refreshFeed(null, true)">Load more...</button>
  </div>


</div>


