<div class="table-container ex3" style="overflow:hidden;">

  <!---If we are in race view AND we are authenticated, display form to post new stories-->
  <div *ngIf="use=='race' && this._authService.isLoggedIn() && this.progress">
    <table class="mat-table" style="background-color:rgba(44, 0, 126,0.08);">
      <tr class="mat-row">
        <ng-container matColumnDef="ProfilePic" style="padding: 10px;">
          <td mat-cell>
            <img width="50px" src="{{ progress.profile_url }}">
          </td>
        </ng-container>
        <ng-container matColumnDef="Data" style="padding: 10px;">
          <td mat-cell>
            <app-user-profile-nav [username]=progress.username [displayName]=progress.display_name></app-user-profile-nav><b style="">: Post a Story</b>
            <app-story-form [raceID]="ID" (storyPostedEvent)="newStoryPosted($event)"></app-story-form>
          </td>
        </ng-container>
      </tr>
    </table>
  </div>


  <table mat-table [dataSource]="feedItems" class="feedTable">
    <ng-container matColumnDef="ProfilePic" style="padding: 10px;">
      <td mat-cell *matCellDef="let element" (click)="clickedOnFeedItem(element)" [hidden]="(followOnly && !element.follows) || (storyOnly && !element.story)">
        <img width="50px" src="{{ element.profile_url }}">
      </td>
    </ng-container>

    <ng-container matColumnDef="Data" style="padding: 10px;">
      <td mat-cell *matCellDef="let element" [hidden]="(followOnly && !element.follows) || (storyOnly && !element.story)">
        <app-user-profile-nav [username]=element.username [displayName]=element.display_name></app-user-profile-nav>
        {{ element.message }}
        <small>{{ this.get_created_ts(element.created_ts) }}</small>
        <br>
        <div class="center" *ngIf="element.story">
          <div class="container" *ngIf="element.story_image">
            <img width="200px" src="{{ element.story_image }}" (click)="showStoryModal(element.story_id,true)">
          </div>
          <div class="container" *ngIf="element.story_text">
            <p>{{ element.story_text }}</p>
          </div>

          <!---If parent component inputs TRUE, we have a story modal component as a child-->
          <div *ngIf="this.hasStoryModalChild">
            <app-story-modal></app-story-modal>
          </div>

        </div>

        <div class="container" style="display:flex;align-content: right;right:0;">
          <app-story-btn *ngIf="this._authService.isLoggedIn()" [use]="'like'" [storyID]=element.story_id [likes]=element.likes [likesCount]=element.likes_count></app-story-btn>
          <div role="button" (click)="element.show_comments=!element.show_comments"> <i class="material-icons" style="color:#BC164D">comment</i> {{ element.comments.length }} 
            <i style = "color:#2C00A5;" *ngIf="element.comments.length>0 && !element.show_comments">View comments</i> 
            <i style = "color:#2C00A5;" *ngIf="element.comments.length>0 && element.show_comments">Collapse comments</i>
           <i style = "color:#2C00A5;" *ngIf="element.comments.length==0">Add comment</i>
         </div>
        </div>

        <div *ngIf="element.show_comments">
          <app-comments [comments]="element.comments" [storyID]="element.story_id" (commentPosted)="newCommentPosted($event)"></app-comments>
        </div>

      </td>
    </ng-container>

    <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>

  </table>


</div>


