.mat-row {
  height: auto;
}

.mat-cell {
  padding: 1px 1px 1px 0;
}

.mat-column-ProfilePic {
  vertical-align: top;
}

.mat-column-Data {
  justify-content: center;
}

div.ex3 {
  overflow: auto;
}

.h7
{
  font-size:10px;
}

.paginate-button { 
  width:auto;
  margin-left:0;
  margin-right:0;
  padding-left:0;
  padding-right:0;
  display:block;
  text-align:center; /*This will result in centering the link text, which is probably what you want -brianjohnsondesign.com*/
}

.material-icons{
  font-size: 18px;
}