<!--The content below is only a placeholder and can be replaced.-->
<div class='TucanBody'>
	<app-header-nav></app-header-nav>
	<div class="MainContainer">
		<router-outlet></router-outlet>
	</div>
	<!--
	<footer>
	    <div class="TucanContainer">
	        <div class="position_absolute_middle">
	            <p>Copyright © 2020 Tucan Fitness</p>
	        </div>
	    </div>
	</footer>
	-->
</div>

<custom-modal class='custom-modal-container' id="custom-modal-4">
    <app-race-type id="custom-modal-4"></app-race-type>
</custom-modal>

<custom-modal class='custom-modal-container' id="custom-modal-6">
    <app-story-form-standalone id="custom-modal-6" ></app-story-form-standalone>
</custom-modal>

<custom-modal class="custom-modal-container" id="mapSettingsModal">
    <app-map-settings id='mapSettingsModal'></app-map-settings>
</custom-modal>

<custom-modal class='custom-modal-container' id="route-info">
    <app-route-info id="route-info"></app-route-info>
</custom-modal>

<custom-modal class='custom-modal-container' id='mobile-social-feed'>
    <ng-template [ngIf]="this.modalService.checkIfOpen('mobile-social-feed')">
    </ng-template>
</custom-modal>

<custom-modal class='custom-modal-container' id='story-popup'>
   <app-story-popup id="story-popup"></app-story-popup>
</custom-modal>

<custom-modal class='custom-modal-container' id='pin'>
   <app-route-pin-dialog id="pin"></app-route-pin-dialog>
</custom-modal>


<!--
<custom-modal class='custom-modal-container' id="raceSettingsModal">
        <app-race-settings id="raceSettingsModal" ></app-race-settings>
</custom-modal> -->