.TucanBody {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: nowrap;
}
.MainContainer {
	padding-top:64px;
	/*min-height: calc(100vh - 80px);*/
	min-height: 100vh;
}

footer {
	flex-shrink: 0;

	background-color:var(--light);

	position:relative;
	height:80px;
}
	footer p {
		margin:0 !important;
	}