<h6>What is a virtual race?</h6>
<p>Create a path that is significant to your organization or go somewhere you always dreamed of going. Your job is to pick the start and the finish and the path in between. Our job is to remove borders and boundaries of race participation so that racers can participate from anywhere in the world all working towards a common goal. Virtual races are the perfect option for adding motivation and competition to your marathon training or to broaden the reach of your fundraising network. </p>

<h6>What is a hybrid race?</h6>
<p>You have a set time period to run real physical trails in your selected city. You choose the date and the order to complete each trail. You can run the distance in one day or you can take the entire race duration. Our platform brings together participants with social features and leaderboard. Compete with friends, the clock, and yourself! </p>

<button class="CloseLogin" (click)="closeDialog()">Close</button>