<h6>What is a virtual race?</h6>
<p>Whether you’re running in the city, your neighborhood, or your own backyard, you’re also sharing a digital route with other participants and racers. Tucan Fitness removes borders and boundaries of race participation so that racers can participate from anywhere in the world, without all the hassle of parking, scheduling, traffic, (and port-a-potties) but with the benefit of a worldwide community working together towards common fitness and fundraising goals. </p>

<h6>What is a hybrid race?</h6>
<p>You have a set time period to run real physical trails in your selected city. You choose the date and the order to complete each trail. You can run the distance in one day or you can take the entire race duration. Our platform brings together participants with social features and leaderboard. Compete with friends, the clock, and yourself! </p>

<button class="CloseLogin" (click)="closeDialog()">Close</button>