<h2 mat-dialog-title>Purchase Item (${{this.price}})</h2>
<!--<b>All shirt proceeds go to The Jewish Center</b> -->
<mat-dialog-content style="width:650px;"  class="center1">
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [editable]="true" [stepControl]="sizeForm">
      <ng-template matStepLabel aria-disabled="true">Pick a Size</ng-template>
      <div class="form-group" style="padding: 5px;">
        <!--    <label name="start_loc"><input type='date' id='hasta' value='<?php echo date('Y-m-d');?>'></label>--> 

            <img src="{{ this.imageUrl}}" alt="Shirts Image" style="width:80%;" class="center1">

           <input class="form-control" type="text" placeholder="Size" [matAutocomplete]="sizeTypeAuto" />
           <mat-autocomplete #sizeTypeAuto="matAutocomplete">
             <mat-option *ngFor="let option of sizes" [value]="option" (click)="selectSize(option)">
               {{ option }}
             </mat-option>
           </mat-autocomplete>
         </div>
         <div class="center1">
         <button mat-button (click)="confirmSize()" class="btn btn-primary" style="background-color: #2C00A5;">Confirm</button>
       </div>
    </mat-step>
    <mat-step [editable]="false" [stepControl]="paymentForm">
      <ng-template matStepLabel aria-disabled="true">Payment</ng-template>
      <mat-card class="example-card" >
        <mat-card-header>
          <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
          <app-paypal (transactionAlert)="stepCallback($event)" [price]="price" [race_id]="race_id" [paymentType]="paymentType" style="position: relative; width: 100%;"></app-paypal>   
        </mat-card-content>
      </mat-card>
      
    </mat-step>
    <mat-step [editable]="false" [stepControl]="shippingForm">
      <ng-template matStepLabel aria-disabled="true">Shipping Info</ng-template>
      <app-shipping-address-form (addressChanged)="shippingConfirmed($event)"></app-shipping-address-form>
    </mat-step>
    <mat-step [attr.disabled]="stepper.selectedIndex != 2">
      <ng-template matStepLabel aria-disabled="true">Done</ng-template>
      <h2 style="text-align: center;">Your payment is complete and has been recorded</h2>
    </mat-step>
  </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close *ngIf="stepper.selectedIndex != 3">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial style="float: center;" class="btn btn-success" *ngIf="stepper.selectedIndex == 3">Complete Registration</button>
</mat-dialog-actions>