<tr>
  <td style="padding:10px;">
    <img width="50px" src="{{ racerData.profile_url }}">
  </td>
  
  <td style="padding:10px;">
    <app-user-profile-nav [username]=racerData.username [displayName]=racerData.display_name></app-user-profile-nav>
  </td>
  
  <td style="padding:10px;">
    {{ racerData.total_distance }} {{ racerData.distance_type }}
  </td>
  
  <td style="padding:10px;" *ngIf="!racerData.isTeam">
    <button mat-raised (click)="removeUserByID(racerData.user_id)">Remove User</button>            
  </td>

  <td style="padding:10px;" *ngIf="!racerData.isTeam">
    <button mat-raised (click)="toggleActivities()">
      <span *ngIf="showActivities">Hide Activities</span>
      <span *ngIf="!showActivities">Show Activities</span>
    </button>
  </td>
</tr>

<!-- If there are any child races (i.e. this is team) then list them similarly -->
<div class="container" *ngIf="racerData.child_user_stats">
  <app-race-dashboard-racer-row *ngFor="let row of racerData.child_user_stats" [racerData]="row" (removeUserByIDEvent)="removeUserByID($event)"></app-race-dashboard-racer-row>
</div>

<!-- If there are any activities associated with this race stat, list here -->
<div class="container" *ngIf="racerData.activities && showActivities">
  <app-activity-list [activityData]="racerData.activities" (activityDeleted)="activityDeletedEvent.emit($event)"></app-activity-list>
</div>