<div class="TucanContainer">
  <h2 *ngIf="userData.is_me; else otherUserStats">Your stats</h2>
  <ng-template #otherUserStats><h2>{{userData.first_name}}'s stats</h2></ng-template>
 
  <ng-template [ngIf]='userStats!= null' [ngIfElse]="LoadingUserStatsBlock">
      <div class="UserStatsContentContainer">
        <div class="UserStatsCanvasContainer">
          <canvas id="lineCharts" height="120px"></canvas>
        </div>
        <div class="UserStatsTableContainer">
          <div class='Slideshow'>
            <div class="SlideshowHeader">
              <button class="SlideshowButton" (click)="SwitchSlideshow('run')" id="run-btn">Run</button>
              <button class="SlideshowButton" (click)="SwitchSlideshow('walk')" id="walk-btn">Walk</button>
              <button class="SlideshowButton" (click)="SwitchSlideshow('bike')" id="bike-btn">Bike</button>
            </div>
            <div class="SlideshowContents RaceSlideshowContents">
              <div class="SlideshowSlide" [ngClass]="{'Slideshow-CurrentSlide' : currentScreen == 'run'}">
              <table class="table table-striped textControl">
                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">Distance (mi)</th>
                    <td>{{userStats.run_tot_dist}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Time (hrs)</th>
                    <td>{{userStats.run_tot_hrs}}</td>
                  </tr>
                  <tr>
                     <th scope="row"># Runs</th>
                    <td>{{userStats.run_tot_activities}}</td>
                  </tr>
                  </tbody>

                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Best</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">Distance (mi)</th>
                    <td>{{ userStats.run_max_dist }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Time (hrs)</th>
                    <td>{{ userStats.run_max_time }}</td>
                  </tr>
                  <tr>
                     <th scope="row">Pace (min/mi)</th>
                    <td>{{ userStats.run_max_pace}}</td>
                  </tr>
                  </tbody>

                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Average</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">Distance (mi)</th>
                    <td>{{ userStats.run_average_dist }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Time (hrs)</th>
                    <td>{{ userStats.run_average_time }}</td>
                  </tr>
                  <tr>
                     <th scope="row">Pace (min/mi)</th>
                    <td>{{ userStats.run_average_pace }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <div class="SlideshowSlide" [ngClass]="{'Slideshow-CurrentSlide' : currentScreen == 'walk'}">
              <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">Distance (mi)</th>
                    <td>{{userStats.walk_tot_dist}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Time (hrs)</th>
                    <td>{{userStats.walk_tot_hrs}}</td>
                  </tr>
                  <tr>
                     <th scope="row"># walks</th>
                    <td>{{userStats.walk_tot_activities}}</td>
                  </tr>
                  </tbody>

                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Best</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">Distance (mi)</th>
                    <td>{{ userStats.walk_max_dist }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Time (hrs)</th>
                    <td>{{ userStats.walk_max_time}}</td>
                  </tr>
                  <tr>
                     <th scope="row">Pace (min/mi)</th>
                    <td>{{ userStats.walk_max_pace}}</td>
                  </tr>
                  </tbody>

                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Average</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">Distance (mi)</th>
                    <td>{{ userStats.walk_average_dist }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Time (hrs)</th>
                    <td>{{ userStats.walk_average_time}}</td>
                  </tr>
                  <tr>
                     <th scope="row">Pace (min/mi)</th>
                    <td>{{ userStats.walk_average_pace}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>

             <div class="SlideshowSlide" [ngClass]="{'Slideshow-CurrentSlide' : currentScreen == 'bike'}">
              <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">Distance (mi)</th>
                    <td>{{userStats.ride_tot_dist}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Time (hrs)</th>
                    <td>{{userStats.ride_tot_hrs}}</td>
                  </tr>
                  <tr>
                     <th scope="row"># rides</th>
                    <td>{{userStats.ride_tot_activities}}</td>
                  </tr>
                  </tbody>

                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Best</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">Distance (mi)</th>
                    <td>{{ userStats.ride_max_dist }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Time (hrs)</th>
                    <td>{{ userStats.ride_max_time }}</td>
                  </tr>
                  <tr>
                     <th scope="row">Pace (min/mi)</th>
                    <td>{{ userStats.ride_max_pace }}</td>
                  </tr>
                  </tbody>

                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Average</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">Distance (mi)</th>
                    <td>{{ userStats.ride_average_dist }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Time (hrs)</th>
                    <td>{{ userStats.ride_average_time }}</td>
                  </tr>
                  <tr>
                     <th scope="row">Pace (min/mi)</th>
                    <td>{{ userStats.ride_average_pace}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>

            </div>
          </div>
        </div>
      </div>


<!--
      <div class="row">


            <div class='Slideshow'>
            <div class="SlideshowHeader">
              <button class="SlideshowButton" (click)="SwitchSlideshow('run')" id="run-btn">Run</button>
              <button class="SlideshowButton" (click)="SwitchSlideshow('walk')" id="walk-btn">Walk</button>
              <button class="SlideshowButton" (click)="SwitchSlideshow('bike')" id="bike-btn">Bike</button>
            </div>
            <div class="SlideshowContents RaceSlideshowContents">
              <div class="SlideshowSlide" [ngClass]="{'Slideshow-CurrentSlide' : currentScreen == 'run'}">



                  <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Distance (mi) (mi)</th>
                    <th scope="col">Time (hrs) (hrs)</th>
                    <th scope="col">Pace (min/mi) (min/mi)</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">TOTAL</th>
                    <td>{{ userStats.run_tot_dist }}</td>
                    <td>{{ userStats.run_tot_hrs }}</td>
                    <td></td>
                  </tr>
                  </tbody>

                  <tbody>
                  <tr>
                    <th scope="row">AVERAGE</th>
                    <td>{{ userStats.run_average_dist }}</td>
                    <td>{{ userStats.run_average_Time (hrs)}}</td>
                    <td>{{ userStats.run_average_Pace (min/mi) }}</td>
                  </tr>
                  </tbody>

                  <tbody>
                  <tr>
                    <th scope="row">BEST/LONGEST</th>
                    <td>{{ userStats.run_max_dist }}</td>
                    <td>{{ userStats.run_max_Time (hrs)}}</td>
                    <td>{{ userStats.run_max_Pace (min/mi) }} </td>
                  </tr>
                  </tbody>
                </table>
              </div>

               <div class="SlideshowSlide" [ngClass]="{'Slideshow-CurrentSlide' : currentScreen == 'walk'}">
                  <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Distance (mi) (mi)</th>
                    <th scope="col">Time (hrs) (hrs)</th>
                    <th scope="col">Pace (min/mi) (min/mi)</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">TOTAL</th>
                    <td>{{ userStats.walk_tot_dist }}</td>
                    <td>{{ userStats.walk_tot_hrs }}</td>
                    <td></td>
                  </tr>
                  </tbody>

                  <tbody>
                  <tr>
                    <th scope="row">AVERAGE</th>
                    <td>{{ userStats.walk_average_dist }}</td>
                    <td>{{ userStats.walk_average_Time (hrs)}}</td>
                    <td>{{ userStats.walk_average_Pace (min/mi) }}</td>
                  </tr>
                  </tbody>

                  <tbody>
                  <tr>
                    <th scope="row">BEST/LONGEST</th>
                    <td>{{ userStats.walk_max_dist }}</td>
                    <td>{{ userStats.walk_max_Time (hrs)}}</td>
                    <td>{{ userStats.walk_max_Pace (min/mi) }} </td>
                  </tr>
                  </tbody>
                </table>
              </div>

              <div class="SlideshowSlide" [ngClass]="{'Slideshow-CurrentSlide' : currentScreen == 'bike'}">
                  <table class="table table-striped">
                  <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Distance (mi) (mi)</th>
                    <th scope="col">Time (hrs) (hrs)</th>
                    <th scope="col">Pace (min/mi) (min/mi)</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">TOTAL</th>
                    <td>{{ userStats.ride_tot_dist }}</td>
                    <td>{{ userStats.ride_tot_hrs }}</td>
                    <td></td>
                  </tr>
                  </tbody>

                  <tbody>
                  <tr>
                    <th scope="row">AVERAGE</th>
                    <td>{{ userStats.ride_average_dist }}</td>
                    <td>{{ userStats.ride_average_Time (hrs)}}</td>
                    <td>{{ userStats.ride_average_Pace (min/mi) }}</td>
                  </tr>
                  </tbody>

                  <tbody>
                  <tr>
                    <th scope="row">BEST/LONGEST</th>
                    <td>{{ userStats.ride_max_dist }}</td>
                    <td>{{ userStats.ride_max_Time (hrs)}}</td>
                    <td>{{ userStats.ride_max_Pace (min/mi) }} </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

      </div> -->
  </ng-template>
  <ng-template #LoadingUserStatsBlock>
    <p>Nothing yet! Check back when you start logging activities.</p>
  </ng-template>
  
</div>