<div class="TucanContainer">
  <h2 *ngIf="userData.is_me; else otherUserStats">Your Stats</h2>
  <ng-template #otherUserStats><h2>{{userData.first_name}}'s Stats</h2></ng-template>

  <ng-template [ngIf]='userStats!= null' [ngIfElse]="LoadingUserStatsBlock">
    <div class="row">
      <div class="column2">
          <canvas id="lineCharts"></canvas>
      </div>

      <div class="column2">
        <div class="tab">
          <button *ngIf="userStats!=null && userStats.run_tot_activities > 0" style="background-color:rgba(0, 51, 204,0.2);" class="tablinks" (click)="openStats(event, 'run_stats')">Run Stats</button>
          <button *ngIf="userStats!=null && userStats.walk_tot_activities > 0" style="background-color:rgba(153, 204, 255,0.2);" class="tablinks" (click)="openStats(event, 'walk_stats')">Walk Stats</button>
          <button *ngIf="userStats!=null && userStats.ride_tot_activities > 0" style="background-color:rgba(204, 0, 204,0.2);" class="tablinks" (click)="openStats(event, 'ride_stats')">Ride Stats</button>
        </div>
  
        <div id="run_stats" class="tabcontent" style="display:block" *ngIf="userStats!=null && userStats.run_tot_activities > 0">
          <div class="row">
            <div class="column1">
              <p>Total Runs</p>
              <p  ><b>{{userStats.run_tot_activities}}</b></p>
            </div>
            <div class="column1">
              <p>Total Distance</p>
              <p ><b>{{userStats.run_tot_dist}}</b> mi</p>
            </div>
            <div class="column1">
              <p>Total Time</p>
              <p ><b>{{userStats.run_tot_hrs}}</b> hrs</p>
            </div>
          </div>
  
          <div class="row">
            <div class="column1">
              <p>Best Pace</p>
              <p ><b>{{userStats.run_max_pace}}</b> min/mi</p>
            </div>
  
            <div class="column1">
              <p>Longest Distance</p>
              <p ><b>{{userStats.run_max_dist}}</b> mi</p>
            </div>
            
            <div class="column1">
              <p>Most Time</p>
              <p ><b>{{userStats.run_max_time}}</b> hrs</p>
            </div>
          </div>
  
          <div class="row">
            <div class="column1">
              <p>Average Pace</p> 
              <p><b>{{userStats.run_average_pace}}</b> min/mi</p>
            </div>
  
            <div class="column1">
              <p>Average Distance</p>
              <p><b>{{userStats.run_average_dist}}</b> mi</p>
            </div>
  
            <div class="column1">
              <p>Average Time</p>
              <p ><b>{{userStats.run_average_time}}</b> hrs</p>
            </div>
          </div>
        </div>
  
        <div id="walk_stats" class="tabcontent" style="display:block;" *ngIf="userStats!=null && userStats.walk_tot_activities > 0">
          <div class="row">
            <div class="column1">
              <p>Total Walks</p>
              <p  ><b>{{userStats.walk_tot_activities}}</b></p>
            </div>
            <div class="column1">
              <p>Total Distance</p>
              <p ><b>{{userStats.walk_tot_dist}}</b> mi</p>
            </div>
            <div class="column1">
              <p>Total Time</p>
              <p ><b>{{userStats.walk_tot_hrs}}</b> hrs</p>
            </div>
          </div>
  
          <div class="row">
            <div class="column1">
              <p>Best Pace</p>
              <p ><b>{{userStats.walk_max_pace}}</b> min/mi</p>
            </div>
  
            <div class="column1">
              <p>Longest Distance</p>
              <p ><b>{{userStats.walk_max_dist}}</b> mi</p>
            </div>
            
            <div class="column1">
              <p>Most Time</p>
              <p ><b>{{userStats.walk_max_time}}</b> hrs</p>
            </div>
          </div>
  
          <div class="row">
            <div class="column1">
              <p>Average Pace</p> 
              <p ><b>{{userStats.walk_average_pace}}</b> min/mi</p>
            </div>
  
            <div class="column1">
              <p>Average Distance</p>
              <p ><b>{{userStats.walk_average_dist}}</b> mi</p>
            </div>
  
            <div class="column1">
              <p>Average Time</p>
              <p ><b>{{userStats.walk_average_time}}</b> hrs</p>
            </div>
          </div>
        </div>

        <div id="ride_stats" class="tabcontent" *ngIf="userStats!=null && userStats.ride_tot_activities > 0">
          <div class="row">
            <div class="column1">
              <p>Total Cycles</p>
              <p ><b>{{userStats.ride_tot_activities}}</b></p>
            </div>
            <div class="column1">
              <p>Total Distance</p>
              <p ><b>{{userStats.ride_tot_dist}}</b> mi</p>
            </div>
            <div class="column1">
              <p>Total Time</p>
              <p ><b>{{userStats.ride_tot_hrs}}</b> hrs</p>
            </div>
          </div>
  
          <div class="row">
            <div class="column1">
              <p>Best Pace</p>
              <p ><b>{{userStats.ride_max_pace}}</b> min/mi</p>
            </div>
  
            <div class="column1">
              <p>Longest Distance</p>
              <p ><b>{{userStats.ride_max_dist}}</b> mi</p>
            </div>
            
            <div class="column1">
              <p>Most Time</p>
              <p ><b>{{userStats.ride_max_time}}</b> hrs</p>
            </div>
          </div>
  
          <div class="row">
            <div class="column1">
              <p>Average Pace</p> 
              <p ><b>{{userStats.ride_average_pace}}</b> min/mi</p>
            </div>
  
            <div class="column1">
              <p>Average Distance</p>
              <p ><b>{{userStats.ride_average_dist}}</b> mi</p>
            </div>
  
            <div class="column1">
              <p>Average Time</p>
              <p ><b>{{userStats.ride_average_time}}</b> hrs</p>
            </div>
          </div>
        </div>     
      </div>
    </div>
  </ng-template>
  <ng-template #LoadingUserStatsBlock>
    <p>Nothing yet! Check back when you start logging activities.</p>
  </ng-template>
  
</div>