
<div class="row">
    <div class="column2">
        <mat-card class="example-card">
            <mat-card-header>
            <!--  <div mat-card-avatar style = "background-image: url({{userData.profile_url}}</b>);
  background-size: cover;"></div> -->
              <mat-card-title>Activities</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <br>
             <canvas id="lineCharts"></canvas>
             <br>
            </mat-card-content>
          </mat-card>
    </div>

     <div class="column2 " *ngIf="userStats.run_tot_activities > 0 && userStats.ride_tot_activities==0">
        <mat-card class="example-card ">
            <mat-card-header>
            <!--  <div mat-card-avatar style = "background-image: url({{userData.profile_url}}</b>);
  background-size: cover;"></div> -->
              <mat-card-title>Runs <i class="material-icons" style="color:#BC164D;">directions_run</i></mat-card-title>
            </mat-card-header>
            <mat-card-content>

             <div class="row">
          <div class="column1">
            <p>Total Runs</p>
            <p  style="color:#2C00A5;"><b>{{userStats.run_tot_activities}}</b></p>
          </div>
          <div class="column1">
            <p>Total Distance</p>
            <p style="color:#2C00A5;"><b>{{userStats.run_tot_dist}}</b> mi</p>
          </div>
          <div class="column1">
            <p>Total Time</p>
            <p style="color:#2C00A5;"><b>{{userStats.run_tot_hrs}}</b> hrs</p>
          </div>
      </div>

      <div class="row">
          <div class="column1">
            <p>Best Pace</p>
            <p style="color:#2C00A5;"><b>{{userStats.run_max_pace}}</b> min/mi</p>
          </div>

          <div class="column1">
            <p>Longest Distance</p>
            <p style="color:#2C00A5;"><b>{{userStats.run_max_dist}}</b> mi</p>
          </div>
          
          <div class="column1">
            <p>Most Time</p>
            <p style="color:#2C00A5;"><b>{{userStats.run_max_time}}</b> hrs</p>
          </div>
      </div>

      <div class="row">
          <div class="column1">
            <p>Average Pace</p> 
            <p style="color:#2C00A5;"><b>{{userStats.run_average_pace}}</b> min/mi</p>
          </div>

          <div class="column1">
            <p>Average Distance</p>
            <p style="color:#2C00A5;"><b>{{userStats.run_average_dist}}</b> mi</p>
          </div>

          <div class="column1">
            <p>Average Time</p>
            <p style="color:#2C00A5;"><b>{{userStats.run_average_time}}</b> hrs</p>
          </div>

          </div>

            </mat-card-content>
          </mat-card>
    </div>


     <div class="column2" *ngIf="userStats.run_tot_activities == 0 && userStats.ride_tot_activities > 0">
        <mat-card class="example-card">
            <mat-card-header>
            <!--  <div mat-card-avatar style = "background-image: url(<b>{{userData.profile_url}}</b>);
  background-size: cover;"></div> -->
              <mat-card-title>Cycles <i class="material-icons" style="color:#BC164D;">directions_bike</i></mat-card-title>
            </mat-card-header>
            <mat-card-content>

             <div class="row">
          <div class="column1">
            <p>Total Cycles</p>
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_tot_activities}}</b></p>
          </div>
          <div class="column1">
            <p>Total Distance</p>
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_tot_dist}}</b> mi</p>
          </div>
          <div class="column1">
            <p>Total Time</p>
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_tot_hrs}}</b> hrs</p>
          </div>
      </div>

      <div class="row">
          <div class="column1">
            <p>Best Pace</p>
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_max_pace}}</b> min/mi</p>
          </div>

          <div class="column1">
            <p>Longest Distance</p>
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_max_dist}}</b> mi</p>
          </div>
          
          <div class="column1">
            <p>Most Time</p>
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_max_time}}</b> hrs</p>
          </div>
      </div>

      <div class="row">
          <div class="column1">
            <p>Average Pace</p> 
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_average_pace}}</b> min/mi</p>
          </div>

          <div class="column1">
            <p>Average Distance</p>
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_average_dist}}</b> mi</p>
          </div>

          <div class="column1">
            <p>Average Time</p>
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_average_time}}</b> hrs</p>
          </div>

          </div>

            </mat-card-content>
          </mat-card>
    </div>

    <div class="column2" *ngIf="userStats.run_tot_activities > 0 && userStats.ride_tot_activities > 0">
        <mat-card class="example-card">
            <mat-card-header>
            <!--  <div mat-card-avatar style = "background-image: url(<b>{{userData.profile_url}}</b>);
  background-size: cover;"></div> -->
              <mat-card-title>Stats</mat-card-title>
            </mat-card-header>
            <mat-card-content>

            <div class="tab">
          <button class="tablinks" (click)="openStats(event, 'run_stats')">Run Stats</button>
          <button class="tablinks" (click)="openStats(event, 'ride_stats')">Ride Stats</button>
        </div>

        <!-- Tab content -->

        <div id="run_stats" class="tabcontent" style="display:block">
        <div class="row">
          <div class="column1">
            <p>Total Runs</p>
            <p  style="color:#2C00A5;"><b>{{userStats.run_tot_activities}}</b></p>
          </div>
          <div class="column1">
            <p>Total Distance</p>
            <p style="color:#2C00A5;"><b>{{userStats.run_tot_dist}}</b> mi</p>
          </div>
          <div class="column1">
            <p>Total Time</p>
            <p style="color:#2C00A5;"><b>{{userStats.run_tot_hrs}}</b> hrs</p>
          </div>
      </div>

      <div class="row">
          <div class="column1">
            <p>Best Pace</p>
            <p style="color:#2C00A5;"><b>{{userStats.run_max_pace}}</b> min/mi</p>
          </div>

          <div class="column1">
            <p>Longest Distance</p>
            <p style="color:#2C00A5;"><b>{{userStats.run_max_dist}}</b> mi</p>
          </div>
          
          <div class="column1">
            <p>Most Time</p>
            <p style="color:#2C00A5;"><b>{{userStats.run_max_time}}</b> hrs</p>
          </div>
      </div>

      <div class="row">
          <div class="column1">
            <p>Average Pace</p> 
            <p style="color:#2C00A5;"><b>{{userStats.run_average_pace}}</b> min/mi</p>
          </div>

          <div class="column1">
            <p>Average Distance</p>
            <p style="color:#2C00A5;"><b>{{userStats.run_average_dist}}</b> mi</p>
          </div>

          <div class="column1">
            <p>Average Time</p>
            <p style="color:#2C00A5;"><b>{{userStats.run_average_time}}</b> hrs</p>
          </div>

          </div>
          </div>

          <div id="ride_stats" class="tabcontent">

                         <div class="row">
          <div class="column1">
            <p>Total Cycles</p>
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_tot_activities}}</b></p>
          </div>
          <div class="column1">
            <p>Total Distance</p>
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_tot_dist}}</b> mi</p>
          </div>
          <div class="column1">
            <p>Total Time</p>
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_tot_hrs}}</b> hrs</p>
          </div>
      </div>

      <div class="row">
          <div class="column1">
            <p>Best Pace</p>
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_max_pace}}</b> min/mi</p>
          </div>

          <div class="column1">
            <p>Longest Distance</p>
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_max_dist}}</b> mi</p>
          </div>
          
          <div class="column1">
            <p>Most Time</p>
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_max_time}}</b> hrs</p>
          </div>
      </div>

      <div class="row">
          <div class="column1">
            <p>Average Pace</p> 
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_average_pace}}</b> min/mi</p>
          </div>

          <div class="column1">
            <p>Average Distance</p>
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_average_dist}}</b> mi</p>
          </div>

          <div class="column1">
            <p>Average Time</p>
            <p style="color:rgb(54, 162, 235);"><b>{{userStats.ride_average_time}}</b> hrs</p>
          </div>

          </div>
          </div>

            </mat-card-content>
          </mat-card>
    </div>

</div>