.UserStatsContentContainer {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

  .UserStatsCanvasContainer {
    width:100%;
  }
/*
  .UserStatsTableContainer {
    width:35%;
  }
*/


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  text-align: center;
  width: 20.00%;
  padding: 4px;
  height: 80px; /* Should be removed. Only for demonstration */
}



th, td {
  text-align: left;
  padding: 2px;
}
/*
.tr:nth-child(even) 
{
  background-color: #FFFFFF;
}*/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-flex;
  vertical-align: top;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.column1 {
  float: left;
  text-align: center;
  width: 33.00%;
  padding: 4px;
  height: 80px; /* Should be removed. Only for demonstration */
}

.column2 {
  float: left;
  text-align: center;
  width: 50.00%;
  padding: 4px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.column_wide {
  float: left;
  text-align: center;
  width: 99.00%;
  padding: 4px;
  height: 280px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}