.RegisterHeader {
    width:100%;
    margin-bottom:32px;
    
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: var(--tucan-green); 
 }