<div class="PageContainer DashboardContainer ">

  <ng-template [ngIf]="this._authService.isLoggedIn()" [ngIfElse]="MustLogIn">
    <!-- we produce a loading screen if either 1) both our navigation and content is loading, or 2) we're collecting race data -->
    <ng-template [ngIf]="this.loading" [ngIfElse]="DataLayer">
      <div class="DashboardInitialization">
        <h2>Loading...</h2>
      </div>
    </ng-template>
  
    <ng-template #DataLayer>
      <ng-template [ngIf]="this.raceData == null" [ngIfElse]="MainView">
        <div class="DashboardInitialization">
          <div class="mustLogInContainer">
            <div class="mustLogInNotice">
              <!-- 
                if our race data is null, we gotta mention why. Either 
                1) No race ID was provided
                2) we're not the owner, 
                3) we're the owner but the data isn't loaded
              -->
              <ng-template [ngIf]="this.raceID == null" [ngIfElse]="RaceIdExists">
                <h2>Error: Missing Race ID</h2>
                <p>No Race ID has been provided. This prevents us from accessing the necessary race data information.</p>
                <p>Please return to your profile and attempt to access the race dashboard for your race from there.</p>
                <div class="mustLogInButtons">
                  <button (click)="this.navigateTo('profile');">Return to Profile</button>
                </div>
              </ng-template>
              <ng-template #RaceIdExists>
                <ng-template [ngIf]="!this.isOwnerOrMod" [ngIfElse]="IsOwnerOrMod">
                  <h2>Error: Not Owner Or Moderator</h2>
                  <p>You are not the owner of the race you are trying to access.</p>
                  <p>Please navigate to a different page or contact the owner of the race for more information.</p>
                  <div class="mustLogInButtons">
                    <button (click)="this.navigateTo('profile');">Return to Profile</button>
                  </div>
                </ng-template>
                <ng-template #IsOwnerOrMod>
                  <p>No race data found. Please either click the button prompt below or reload the page.</p>
                  <div class="mustLogInButtons">
                    <button (click)="this.reloadData();">Reload Data</button>
                  </div>
                </ng-template>
              </ng-template>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #MainView>
        <div class="DashboardNavigation">
          <h1 class="RaceName">{{this.raceData.basics.name}}</h1>
          <ul>
            <li><button (click)="this.navigateToAdmin();"><span>Admin</span></button></li>
            <li><button (click)="this.navigateToRaceBasics();"><span>Race Basics</span></button></li>
            <li><button (click)="this.navigateToSettings();"><span>Settings</span></button></li>
          </ul>
        </div>
        <div class="DashboardContents" [ngSwitch]="this.page">
          <p *ngSwitchCase="'admin'">Admin</p>
          <div *ngSwitchCase="'basics'">
            <app-race-basics [raceID]="this.raceID" [raceData]="this.raceData.basics"></app-race-basics>
          </div>
          <div *ngSwitchCase="'settings'">
            <app-race-settings [raceID]="this.raceID" [raceData]="this.raceData.settings" [getRaceDataCallback]="this.getRaceData"></app-race-settings>
          </div>
        </div>
        <!--
        <h1>{{ this.raceName }} Dashboard</h1>
      
        <div *ngIf="this.childRaceData.length > 1">
          <div class="container">
            <label>Select Route</label>
            <select [(ngModel)]="selectedRaceID">
              <option *ngFor="let x of this.childRaceData" [value]="x.id" [selected]="selectedRaceID == x.id">{{x.name}}</option>
            </select>
          </div>
        </div>
        -->
      
        <!-- List of racers in this race -->
        <!--
        <app-race-dashboard-racer-list [raceID]="selectedRaceID" [raceName]="selectedRaceName"></app-race-dashboard-racer-list>
        -->
      
        <!-- Manage reported stories -->
        <!--
        <app-race-story-manage [raceID]="raceID"></app-race-story-manage>
        -->
      </ng-template>
    </ng-template>
  </ng-template>

  <ng-template #MustLogIn>
    <div class="mustLogInContainer">
      <div class="mustLogInNotice">
        <p>You must be logged in to access the Race Creation Dashboard. Please either log into or sign up for a Tucan Fitness account.</p>
        <div class="mustLogInButtons">
          <button (click)="this.openLogin();">Log In</button>
          <button (click)="this.openRegister();">Sign Up</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>