.PageContainer {
    margin-bottom:0px;
}

.checkmark-icon {
  background-image: url(../../../assets/icons/checkmark-invalid.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.checkmark-icon.valid {
  background-image:url(../../../assets/icons/checkmark-valid.svg);
}

.DashboardInitialization {
    position:relative;
    background-color: rgb(230,230,230);
    width:100%;
    height: calc(100vh - 80px);
    min-height: calc(100vh - 80px);

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.mustLogInContainer {
    position:relative;
    background-color: rgb(230,230,230);
    width:100%;
    min-height: 100%;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.mustLogInNotice {
    position:relative;
    max-width: 480px;
  }
    .mustLogInButtons {
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
      .mustLogInButtons button {
        margin:8px;
        background-color: white;
      }



.DashboardContainer {
    position:relative;
    background-color: rgb(255,255,255);
    height: calc(100vh - 80px);
    min-height: calc(100vh - 80px);

    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}
.DashboardNavigation, .DashboardContents {
    position:relative;
    padding:32px;
}
.DashboardNavigation {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 320px;
    height:100%;
    background-color: rgb(230,230,230);
}
  .DashboardNavigationList {
    list-style-type:none;
    padding-left:16px;
  }
    .DashboardNavigationItem {
      margin-bottom:8px;
      padding-left:0px;
      transition:padding-left 0.25s ease-in-out;
      position:relative;
    }
    .DashboardNavigationItem:hover {
      cursor:pointer;
      padding-left:4px;
    }
    .DashboardNavigationItem.selected h6 {
      text-decoration: underline;
    }
      .DashboardNavigationItemDropdownIndicator {
        background-image: url(../../../assets/icons/dropdown-icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width:16px;
        height:16px;
        position:absolute;
        top:50%;
        right:0px;
        transform:translateY(-50%) rotate(180deg);
        margin-left:8px;
        transition:transform 0.25s ease-in-out;
      }
        .DashboardNavigationItemDropdownIndicator:hover {
          cursor:pointer;
        }
      
      .DashboardNavigationSubItem {
        height:0;
        overflow:hidden;
        list-style-type: none;
        font-size: var(--h7);
      }
      .DashboardNavigationItem.opened .DashboardNavigationSubItem {
        height:auto;
        padding-top:8px;
        padding-bottom: 8px;
        padding-left:8px;
      }
      .DashboardNavigationItem.opened .DashboardNavigationItemDropdownIndicator {
        transform:translateY(-50%) rotate(0deg);
      }
      .DashboardNavigationSubItemRow {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
      }
      .DashboardNavigationSubItemRow.disabled {
        opacity:0.5;
      }
      .DashboardNavigationSubItemRow .DashboardNavigationSubItemRowStatusIcon {
        flex-shrink: 0;
        flex-basis: 12px;
        width:12px;
        height:12px;
      }
.DashboardContents {
    flex-shrink: 1;
    flex-basis: 100%;
    height:100%;
    background-color: rgb(255,255,255);
    overflow-y:auto;
}

.RaceName {
    /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}