<!-- Table, each row is : [rank, picture, name, distance, (follow)] -->
<div style="max-height:600px;">
 <div *ngIf="leaderboard.length >= 1">
  <div  style="overflow:auto; max-height:600px;">
    <div *ngFor="let group of leaderboard; let i=index">
      <div class="LeaderboardItem"  *ngIf="!group.isTeam" (click)="toggleDetails()">
          <div class="row">
              <div class="NumCol">
                <b *ngIf="i>2">{{i+1}}</b>
                <b  *ngIf="i==0">🥇</b>
                <b  *ngIf="i==1">🥈</b>
                <b  *ngIf="i==2">🥉</b>
              </div>
              <div class="PicCol">
                <img src="{{group.profile_url}}" width="30" height="30" class="roundImg">
              </div>
              <div class="NameCol">
                <app-user-profile-nav [username]="group.username" [displayName]="group.display_name"></app-user-profile-nav>
              </div>
              <div class="DistanceCol">
                <i *ngIf="group.isParent">{{group.total_distance}} {{group.distance_type}} </i>
              <i *ngIf="!group.isParent">{{group.display_time}}</i>
              </div>
              <div class="FollowCol">
                <app-user-follow [userID]=group.user_id [follows]=group.follows></app-user-follow>
              </div>
              <div class="dropDownCol">
                <span class="material-icons" style="font-size:12px;" *ngIf="!showMore">keyboard_arrow_down</span>
                <span class="material-icons"  style="font-size:12px;" *ngIf="showMore">keyboard_arrow_up</span>
              </div>

        </div>
          
        <div *ngIf="showMore">
          <div *ngFor="let routeStat of group.route_stats">
              <div class="row">
                <div class="NameCol">
                  {{routeStat.name}}
                </div>
                <div class="DistanceCol">
                  {{routeStat.display_time}}
                </div>
             </div>  
          </div>
        </div>     
      </div>
    w</div>

      <span class="link textControl" style="display:table; margin:0 auto;" (click)="getNextPage()">Load More...</span>
      <p>
        <br>
        <br>
        <br>
      </p>
    </div>
  </div>
</div>

