<div class='PageContainer'>

  <ng-template [ngIf]="!this._authService.isLoggedIn()" [ngIfElse]="LoggedInContent">
    <p>You are not logged in!</p>
  </ng-template>
  <ng-template #LoggedInContent>
    <ng-template [ngIf]="this.userData == null" [ngIfElse]="WelcomeContent">
      <p>Loading...</p>
    </ng-template>
  
    <ng-template #WelcomeContent>
      <div class='PageSegment PageHeaderSegment'>
        <h1 class="PageHeaderSegmentTitle">You're Registered! Welcome to Tucan Fitness!</h1>
      </div>
      
      <div class='WelcomeContainer PageSegment'>
        <div class='WelcomeMain'>
          <h2>How does this all work?</h2>
          <p>Welcome to Tucan Fitness! When your race starts, you will have access to a digital race where you can strive to win, interact with other racers, and visualize yours and others progress on a virtual map. We integrate with Strava to allow easy access to your fitness activities.</p>
          <p>Until race day begins and you have access to the race on your profile, you can sit back and relax (or train like crazy). <strong>We recommend that you use this time to do the action items below to best prep for race day.</strong></p>
        </div>
      </div>
    
      <div class='WelcomeContainer PageSegment'>
        <div class='WelcomeInfo' *ngIf="this._authService.isLoggedIn()">
          <h3>Upload a profile pic</h3>
          <p>Let other people in your race know who you are!</p>
          <app-profile-pic-form [userData]="this.userData" (formUpdated)="this.updateProfile()"></app-profile-pic-form>
        </div>
        <div class='WelcomeInfo'>
          <h3>Read our FAQs</h3>
          <p>Find out more about our platform and business</p>
          <img src= "../../assets/misc/fwd.png" class="FAQImage" style="max-width:210px;">
          <br>
          <button routerLink='/faqs'>FAQs</button>
        </div>
      </div>
      
      <div class='WelcomeContainer PageSegment' *ngIf="this._authService.isLoggedIn()">
        <div>
          <h3>Integrate Strava</h3>
          <p>Import your fitness activities from your favorite fitness app! If you don’t have Strava already, download it onto your phone from the app store, and make an account on your phone. Once you have an account, press the button below to connect it to our platform. This will allow your Strava activities to show up into the race. Only activities recorded after race start will be counted towards your race. Before race day, if you aren’t familiar with Strava, make sure you know how to <a href="https://support.strava.com/hc/en-us/articles/216917397-Recording-an-Activity" target="_blank">record your activities on your phone</a>. </p>
          <app-stravauth></app-stravauth>
        </div>  
      </div>
    
      <div class='PageSegment'>
        <button  *ngIf="this._authService.isLoggedIn()" [routerLink]="['/profile']">Go to my profile</button>
      </div>
    </ng-template>
  </ng-template>
</div>