<div class='PageContainer'>
  <div class='PageSegment PageHeaderSegment'>
    <img src= "../../assets/landing/tucan_main.png" class="TucanLogo" />
    <h1 class="PageHeaderSegmentTitle">Welcome to Tucan</h1>
  </div>
  <div class='PageSegment'>
  	<h3>How does this all work?</h3>
	diagram

  </div>
  <div class='PageSegment'>
  	<div  *ngIf="this._authService.isLoggedIn()">
	<h3>Integrate Strava</h3>
		<app-stravauth></app-stravauth>
	</div>
    <h3>Read our FAQs</h3>
	<a class="btn btn-outline" routerLink='/faqs'>FAQs</a>
  </div>

  <div class='PageSegment'>
	<a class="btn btn-outline"  [routerLink]="['/profile', {username: this._authService.username}]">Go to my profile</a>
</div>