  .column{
    float: center;
    width: 32%;
  }

    .column0{
    width: 70%;
  }
   .column1{
    width: 28%;
  }
  .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
 
@media only screen and (max-width:1092px) {
  	.btn-mobile
	 {
	 	font-size:50px;padding:20px;
	 }
	}