<!-- <app-map></app-map> -->
<div>


  <mat-sidenav-container>
    <mat-sidenav md-disable-backdrop='true' #menu mode="side">
      <div class="container" style="background-color: black; padding: 20px; text-align: center; color: white;">Create Race Form</div>
      <form [formGroup]="raceForm">
        <div class="form-group" style="text-align: left; padding: 5px;">
          <label name="Name">Name</label>
          <input class="form-control" type="text" placeholder="Name" formControlName="name"/>
        </div>
  
        <div class="form-group" style="text-align: left; padding: 5px;">
          <label name="start_date">Start Date</label>
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
          <input class="form-control" [matDatepicker]="startDatePicker" formControlName="startDate">
          
        </div>
  
        <div class="form-group" style="text-align: left; padding: 5px;">
          <label name="end_date">End Date</label>
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
          <input class="form-control" [matDatepicker]="endDatePicker" formControlName="endDate">
        </div>
  
        <div class="form-group" style="text-align: left; padding: 5px;">
          <label name="start_loc">Start Location</label>
          <input class="form-control" type="text" placeholder="Start Location" formControlName="startLoc" [matAutocomplete]="startLocAuto" (keyup)="locationFilter('startLoc')" />
          <mat-autocomplete #startLocAuto="matAutocomplete">
            <mat-option *ngFor="let option of startOptions" [value]="option.place_name" (click)="selectOption(option,'startLoc')">
              {{ option.place_name }}
            </mat-option>
          </mat-autocomplete>
        </div>
  
        <div class="form-group" style="text-align: left; padding: 5px;">
          <label name="end_loc">End Location</label>
          <input class="form-control" type="text" placeholder="End Location" formControlName="endLoc" [matAutocomplete]="endLocAuto" (keyup)="locationFilter('endLoc')"/>

          <mat-autocomplete #endLocAuto="matAutocomplete">
            <mat-option *ngFor="let option of endOptions" [value]="option.place_name" (click)="selectOption(option,'endLoc')">
              {{ option.place_name }}
            </mat-option>
          </mat-autocomplete>
        </div>
  
        <div class="form-group" style="text-align: left; padding: 5px;">
          <label name="route_file">Route File(optional)</label>
          <input type="file" formControlName="routeFile"/>
        </div>
  
        <div class="form-group" style="text-align: left; padding: 5px; float: left;">
          <label name="public_check">Public</label>
          <input class="form-control" type="checkbox" formControlName="public" />
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div *ngIf="isPreviewMode" style="text-align: center; padding: 10px;"
    class="alert alert-primary"> {{previewDistance}}</div>

        <div class="form-group" style="padding: 5px; position: relative;">
          <button class="btn btn-primary" mat-raised-button (click)="submitRaceForm()">Submit</button>
        </div>

        <div class="form-group" style="padding: 5px; position: relative;">
          <button class="btn btn-primary" mat-raised-button (click)="preview()">Preview</button>
        </div>

        <!-- <div class="form-group" style="padding: 5px; position: fixed; float: right;">
          <button class="btn btn-danger" mat-raised-button (click)="clearForm()">Clear</button>
        </div> -->
        
      </form>
      
      
    </mat-sidenav>
    <mat-sidenav-content>
      <app-map [coordinates]="coords" [displayUsers]="false"></app-map>
  
      <a class="btn btn-primary btn-customized open-menu" role="button" (click)="menu.toggle()">
        <i class="fas fa-align-left"></i> <span>Menu</span>
    </a>
  
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!-- Wrapper -->
  
      <!-- open sidebar menu -->
  
  </div>
  
  