<div class="table-container">

  <table mat-table [dataSource]="activities" class="activitiesTable">
    <ng-container matColumnDef="Name" style="padding: 5px;">
      <td mat-cell *matCellDef="let element" (click)="add(element)"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Distance" style="padding: 10px;">
      <td mat-cell *matCellDef="let element" (click)="add(element)"> {{element.converted_dist}} {{distance_unit}} </td>
    </ng-container>
  
    <!-- <tr mat-header-row *matHeaderRowDef="columns"></tr> -->
    <tr mat-row *matRowDef="let myRowData; columns: columns" [ngClass]="{'highlight': selectedRows.includes(myRowData.id)}" (click)=highlight(myRowData)></tr>
  </table>

<div *ngIf="activities.length < 1">
  <b><p style="text-align:center;font-family:Roboto; color:#2C007E;"><b>No new activities to import</b></p></b>
</div>

  <div *ngIf="activities.length > 0">
    <div style="padding: 5px; position: relative; text-align:center;">
    <button class="btn btn-primary btn-mobile" style="background-color:#2C00A5;" mat-raised-button (click)="importSelectedActs()">Add</button>
    </div>
  </div>
</div>
