<div class="table-container">
  <table mat-table [dataSource]="activities" class="activitiesTable">
    <ng-container matColumnDef="Name" style="padding: 5px;">
      <td mat-cell *matCellDef="let element" (click)="add(element)"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Distance" style="padding: 10px;">
      <td mat-cell *matCellDef="let element"> {{element.converted_dist}} {{distance_unit}} </td>
    </ng-container>
  
    <!-- <tr mat-header-row *matHeaderRowDef="columns"></tr> -->
    <tr mat-row *matRowDef="let myRowData; columns: columns" [ngClass]="{'highlight': selectedRows.includes(myRowData.id)}" (click)=highlight(myRowData)></tr>
  </table>

  
</div>
<br>
<div style="padding: 5px; position: relative; float: left;">
  <button class="btn btn-primary" mat-raised-button (click)="importSelectedActs()">Import</button>
</div>
<br>
<br>
<br>
<br><br><br>