<div class='PageContainer'>
	<div class="LandingPageSegment FirstSegment">
		<div class="LandingPageSegmentItem">
			<h1 class="PageHeaderSegmentTitle">Contact Us</h1>
		</div>
	</div>
	<div class='LandingPageSegment'>
		<!-- TO DO: Add a contact form so users can contact us directly through the site-->
		<!--<app-contact-form></app-contact-form> -->

		<div class="LandingPageSegmentItem">
			<img src= "../../assets/team.png"  style="max-width:360px;">
		</div>
		<div class="LandingPageSegmentItem">
			<h2>Our team is here to help</h2>
			<p>Interested in working with us? Or have a question about Tucan Fitness? Contact us directly!</p>
			<a href="mailto:admin@tucan.fitness" class="mailLink">admin@tucan.fitness</a>
			<div class='socialMediaLinks'>
				<a target="_blank" rel="noreferrer noopener" href="https://www.facebook.com/tucanfit"><img class="socialMedia" src= "https://www.flaticon.com/svg/static/icons/svg/174/174848.svg"></a>
				<a target="_blank" rel="noreferrer noopener" href="https://www.linkedin.com/company/tucan-fitness/"><img class="socialMedia" src= "https://www.flaticon.com/svg/static/icons/svg/174/174857.svg"></a>
			</div>
		</div>
	</div>
</div>