<div class="AboutTucanContainer">
      <div class="AboutTucanSegment AboutTucanLogo">
            <img src= "../../assets/landing/tucan_main.png" class="about-tucan-logo" />
            <h1 class="AboutTucanTitle">About Tucan Fitness</h1>
      </div>
      <div class="AboutTucanSegment">
            <h2>What is Tucan Fitness?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="AboutTucanSegment">
            <h2>Our Features</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="AboutTucanSegment">
            <h2>Our Value</h2>
            <div class='AboutTucanValuesContainer'>
                  <div class='AboutTucanValue'>
                        <h3>To Race Directors:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  
                  </div>
                  <div class='AboutTucanValue'>
                        <h3>To Fundraisers:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  
                  </div>
                  <div class='AboutTucanValue'>
                        <h3>To Racers:</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>  
                  </div>
            </div>
      </div>
      <div class="AboutTucanSegment">
            <h2>The Team</h2>
            <div class="AboutTucanTeam">
                  <div class="AboutTucanMember">
                        <img src= "../../assets/landing/billy.jpeg">
                        <h5 class="roboto-purple">
                              Billy<br />Grenis
                        </h5>
                        <p class="roboto-purple">
                              CEO, marathon runner
                        </p>
                        <a class="btn" href="https://www.linkedin.com/in/grenis/" target="_blank">
                              <img src= "https://image.flaticon.com/icons/svg/1384/1384046.svg" width="20" height="20">
                        </a>
                  </div>
                  <div class="AboutTucanMember">
                        <img src= "../../assets/landing/nathan.JPG">
                        <h5 class="roboto-purple">
                              Nathan<br />Cinnamond
                        </h5>
                        <p class="roboto-purple">
                              Engineer, avid runner
                        </p>
                        <a class="btn" href="https://www.linkedin.com/in/nathancinnamond/" target="_blank">
                              <img src= "https://image.flaticon.com/icons/svg/1384/1384046.svg" width="20" height="20">
                        </a>
                  </div>
                  <div class="AboutTucanMember">
                        <img src= "../../assets/landing/katie.jpg">
                        <h5 class="roboto-purple">
                              Katie<br />Donahoe
                        </h5>
                        <p class="roboto-purple">
                              Engineer, daily walker
                        </p>
                        <a class="btn" href="https://www.linkedin.com/in/katie-donahoe-90a241121/" target="_blank">
                              <img src= "https://image.flaticon.com/icons/svg/1384/1384046.svg" width="20" height="20">
                        </a>
                  </div>
                  <div class="AboutTucanMember">
                        <img src= "../../assets/landing/alex.JPG">
                        <h5 class="roboto-purple">
                              Alex<br />Popeil
                        </h5>
                        <p class="roboto-purple">
                              Engineer, likes to code
                        </p>
                        <a class="btn" href="https://www.linkedin.com/in/alexander-popeil-b4440410b/" target="_blank">
                              <img src= "https://image.flaticon.com/icons/svg/1384/1384046.svg" width="20" height="20">
                        </a>
                  </div>
            </div>
      </div>
</div>