.AboutTucanValuesContainer {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: nowrap;
}
	.AboutTucanValue {
		width:30%;
	}
.AboutTucanTeam {
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: nowrap;
}
.AboutTucanMember {
	width:22.5%;
}
	.AboutTucanMember img {
		width:100%;
	}

@media only screen and (max-width: 600px) {
	.AboutTucanValuesContainer {
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
	}
		.AboutTucanValue {
			width:100%;
		}

}

