 <img src= "../../assets/landing/tucan_main.png" class="logo">


 <div class="row">
<div class="text-center">

            <img src= "../../assets/landing/billy.jpeg" width="120" height="120">
            <h5 class="roboto-purple">Billy Grenis</h5>
            <p class="roboto-purple">CEO, marathon runner</p>
             <a class="btn" href="https://www.linkedin.com/in/grenis/" target="_blank"><img src= "https://image.flaticon.com/icons/svg/1384/1384046.svg" width="20" height="20"></a>
       
</div>

<div class="text-center">

            <img src= "../../assets/landing/nathan.JPG" width="120" height="120">
            <h5 class="roboto-purple">Nathan Cinnamond</h5>
            <p class="roboto-purple">Engineer, avid runner</p>
            <a class="btn" href="https://www.linkedin.com/in/nathancinnamond/" target="_blank"><img src= "https://image.flaticon.com/icons/svg/1384/1384046.svg" width="20" height="20"></a>
       
</div>
<div class="text-center">

            <img src= "../../assets/landing/katie.jpg" width="120" height="120">
            <h5 class="roboto-purple">Katie Donahoe</h5>
            <p class="roboto-purple">Engineer, daily walker</p>
            <a class="btn" href="https://www.linkedin.com/in/katie-donahoe-90a241121/" target="_blank"><img src= "https://image.flaticon.com/icons/svg/1384/1384046.svg" width="20" height="20"></a>
       
</div>

<div class="text-center">

            <img src= "../../assets/landing/alex.JPG" width="120" height="120">
            <h5 class="roboto-purple">Alex Popeil</h5>
            <p class="roboto-purple">Engineer, likes to code </p>
            <a class="btn" href="https://www.linkedin.com/in/alexander-popeil-b4440410b/" target="_blank"><img src= "https://image.flaticon.com/icons/svg/1384/1384046.svg" width="20" height="20"></a>
       
</div>



</div>