.socialMedia{
  max-width:24px;
  margin:4px;
}
.masthead {

  height: calc(100vh - 64px);

  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: stretch;
}


.split {
  position:relative;
  z-index: 2;
  width:50%;

  padding-left:16px;
  padding-right:16px;
  box-sizing: border-box;

  background-color: white;
}

.splitImg {
  position:relative;
  z-index: 2;
  width:50%;

  padding-left:16px;
  padding-right:16px;
  box-sizing: border-box;
  color:black;
}

.split.left {
}
.split.right {
  position: relative;
  overflow:hidden;
  /* background-image: url("../../assets/landing/main.jpg"); */
}

.LandingMain {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width:75%;
  min-width: 300px;
  padding-top:40px;
  padding-bottom:40px;
  box-sizing: border-box;
}
  .LandingMain p {
    margin-top:16px;
    margin-bottom:0;
    color:black;
  }

  .LandingMainBlack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width:50%;
  min-width: 250px;
  padding-top:40px;
  padding-bottom:40px;
  box-sizing: border-box;
}
  .LandingMainBlack p {
    margin-top:16px;
    margin-bottom:0;
    color:black;
  }
.LandingHeaderText, .centered p {
  color:black;
}

.LandingHeaderTextWhite, .centered p {
  color:white;
}
.LandingHeaderTextGreen, .centered p {
  color:var(--tucan-green);
}
.LandingTucanLogo {
  margin-bottom:40px;
  width:90%;
}
.LandingSubheading {
  margin-bottom:16px;
}
.LandingAboutButton {
  margin-top:8px;
}
.landingImage {
  position: absolute;
  z-index: 1;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  max-width: 100%;
}

.FeatureHeading {
  margin:16px;
}
.LandingSubheadingButtons {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.LandingSubheadingButtons button, .LandingSubheadingButtons .button {
  margin:8px;
}

/*
article, aside, figcaption, figure, footer,b header, hgroup, main, nav, section {
  display: block;
}
*/

.btn-outline {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 10px 22px;
  font-size: 16px;
  cursor: pointer;
}


.AboutTucanValuesContainer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.AboutTucanFeaturesContainer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.AboutTucanFeatureImg{
  max-height: 60%;
    max-width: 60%;
}

.AboutTucanValue {
  width:30%;
}


.AboutTucanFeatures {
  width:49%;
}

.AboutTucanFooter1{
  width:49%;
}

.AboutTucanFooter2{
  width:24%;
}
@media only screen and (max-width: 600px) {
  .masthead {
    flex-direction: column;
    justify-content: flex-end;
  }
  .split {
    width:100%;
  }
  .split.left {
    position: relative;
    z-index: 1;
  
    height:300px;

  }
  .split.right {
    position: absolute;
    top:0;
    left:0;
    right:0;
    z-index: 0;

    height:100vh;
  }
  .landingImage {
    top:0;
    max-width:200px;
    transform:translateX(-50%);
  }


    .AboutTucanValuesContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

    .AboutTucanValue {
      width:100%;
    }
    .AboutTucanFeatures {
      width:100%;
    }
    .AboutTucanFooter1 {
      width:0%;
    }
    .AboutTucanFooter2 {
      width:100%;
    }
    .AboutTucanFeatureImg{
      max-height: 25%;
        max-width: 25%;
    }

}