<!-- Masthead-->
<ng-template [ngIf]="!this._authService.isLoggedIn()" [ngIfElse]="LoggedInLanding">
    <div class="masthead" id="race">
        <div class="split left">
            <div class='TucanContainer'>
                <div class="LandingMain">
                    <img src= "../../assets/logos/tucan-logo-01.png" class="TucanLogo LandingTucanLogo">
                    <h3 class='LandingHeaderText'>We bring community to virtual racing</h3>
                    <div class='LandingSubheading'>
                        <p>Tucan fitness is a social fitness platform for race and fundraiser organizers to engage their community virtually from anywhere in the world.</p>
                      <!--  <a class="button lightButton LandingAboutButton" routerLink='/about-tucan'>About Tucan Fitness</a> -->
                    </div>
    
                    <div *ngIf="!this._authService.isLoggedIn()" class='LandingSubheadingButtons'>
                        <button (click)="openModal('custom-modal-1')">Log In</button>
                        <button (click)="openModal('custom-modal-2')">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="split right">
            <img class='landingImage' src='../../assets/landing/main.png' alt='Image' style="max-width:450px;">
        </div>
    </div>

    <div class="row1">
        <div class="column">
            <div class='TucanContainer'>
                <div class="LandingMainBlack">
                     <img src= "../../assets/fitness.png" class="AboutTucanFeatureImg" style="max-width:250px;">                   
                </div>
            </div>
        </div>
        <div class="column">
            <div class='TucanContainer'>
                <div class="LandingMainBlack">
                    <h3 class='LandingHeaderTextBlack'>Bring out your competitive side</h3>
                    <div class='LandingSubheading'>
                        <p>Tucan Fitness helps you achieve your personal goals, whether it's to be healthy or climb the leaderboard.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="row">
        
        <div class="column">
            <div class='TucanContainer'>
                <div class="LandingMainBlack">
                    <h3 class='LandingHeaderTextBlack'>Get fit with your community</h3>
                    <div class='LandingSubheading'>
                        <p>Tucan Fitness is built around community, with the goal that you can participate and engage with others from anywhere in the world</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class='TucanContainer'>
                <div class="LandingMainBlack">
                     <img src= "../../assets/community.png" class="AboutTucanFeatureImg" style="max-width:250px;">                   
                </div>
            </div>
        </div>
    </div>

     <div class="row1">
        <div class="column">
            <div class='TucanContainer'>
                <div class="LandingMainBlack">
                     <img src= "../../assets/social.png" class="AboutTucanFeatureImg" style="max-width:250px;">                   
                </div>
            </div>
        </div>
        <div class="column">
            <div class='TucanContainer'>
                <div class="LandingMainBlack">
                    <h3 class='LandingHeaderTextBlack'>Share your progress</h3>
                    <div class='LandingSubheading'>
                        <p>Tucan Fitness is a social platform that allows you to share pictures, videos, and your hard work with others</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <div class="row">
       
        <div class="column">
            <div class='TucanContainer'>
                <div class="LandingMainBlack">
                    <h3 class='LandingHeaderTextBlack'>Give back to your org</h3>
                    <div class='LandingSubheading'>
                        <p>Tucan Fitness allows you to raise money for a cause you care about and support your community</p>
                    </div>
                </div>
            </div>
        </div>
         <div class="column">
            <div class='TucanContainer'>
                <div class="LandingMainBlack">
                     <img src= "../../assets/social-good.png" class="AboutTucanFeatureImg" style="max-width:250px;">                   
                </div>
            </div>
        </div>
    </div>


    <div class="row">
       
        <div class="column3">
           
        </div>
        <div class="column3">
           
        </div>
         <div class="column3">
            <div class='TucanContainer'>
                <div class="LandingMainBlack">
                    <h3 class='LandingHeaderTextBlack'>Company</h3>
                    <div class='LandingSubheading'>
                        <a routerLink="/about-tucan" routerLinkActive="active">About Tucan</a><br>
                        <a routerLink="/public-races" routerLinkActive="active">Public Races</a><br>
                        <a routerLink="/faqs" routerLinkActive="active">FAQS</a><br>
                        <a routerLink="/contact" routerLinkActive="active">Contact</a><br>
                        <app-terms-of-service></app-terms-of-service>

                    </div>
                </div>
            </div>
        </div>

       <div class="column3">
            <div class='TucanContainer'>
                <div class="LandingMainBlack">
                    <h3 class='LandingHeaderTextBlack'>Get in touch</h3>
                    <div class='LandingSubheading'>
                        <a href="mailto:admin@tucan.fitness">admin@tucan.fitness</a>
                        <p>
                        <br>
                        </p>
                        <a href="https://www.facebook.com/tucanfit"><img class="socialMedia" src= "https://www.flaticon.com/svg/static/icons/svg/174/174848.svg"></a>
                        <a href="https://www.linkedin.com/company/tucan-fitness/"><img class="socialMedia" src= "https://www.flaticon.com/svg/static/icons/svg/174/174857.svg"></a>
                    </div>
                </div>
            </div>
        </div>
</div>




</ng-template>
<ng-template #LoggedInLanding>
    <app-user-page></app-user-page>
</ng-template>