<div class='PageContainer CreateRacePageContainer'>
  <div class='formGroup formGroupHeader'>
    <h2>Update Race Map</h2>
    <div>
      <button class="formButton resetButton" (click)="this.resetForm()">Reset Changes</button>
    </div>
  </div>

  <ng-template [ngIf]="this.raceID == null || this.raceData == null" [ngIfElse]="FormView">
    <p>MISSING RACE INFORMATION</p>
  </ng-template>
  <ng-template #FormView>
    <ng-template [ngIf]="this.loading" [ngIfElse]="LoadedForm">
      <p>Loading Race Map Update form...</p>
    </ng-template>

    <ng-template #LoadedForm>
      <form [formGroup]="this.form" class="MapForm" name="MapForm" (ngSubmit)="this.onFormSubmit()">
        
        <p>Tucan Races require the following information:</p>
        <ul>
          <li>Starting and ending locations (written out by you), and </li>
          <li>a JSON / GPX file that contains your race route data.</li>
        </ul>
        <p class="italics">If you do not have a JSON or GPX file with you, we can generate one for you.</p>
        
        <h6>Race Starting Location: <span class="color-red">*</span></h6>
        <div class='formGroup'>
          <div class='formInputContainer'>
            <input 
              id="startLoc" 
              class='formTextInput'
              [ngClass]="{'errorTextInput':this.form.controls.startLoc.errors != null}"
              type='text'
              formControlName="startLoc" 
              (keyup)="this.findClosestLocations('startLoc');"
              autocomplete="off"
            >
            <div *ngIf="this.locations.startLoc.options!=null" class='locationOptions'>
              <div class='locationOptionsInnerContainer'>
                <div class="locationOptionsHeaderContainer">
                  <p class="italics margin-0px locationOptionsHeader">Please select one of the options below:</p>
                  <p class="italics h7 margin-left-8px locationOptionsClose" (click)="this.clearLocationOptions('startLoc');">Close Dropdown</p>
                </div>
                <option *ngFor="let option of this.locations.startLoc.options" class='locationOption' [value]="option.place_name" (click)="this.selectLocationOption(option,'startLoc')">
                  {{ option.place_name }}
                </option>
              </div>
            </div>
            <p class="margin-0px italics h7" *ngIf="this.locations.startLoc.selectedLoc==null; else selectedStart"><span class="bold-text">Chosen location:</span> (not selected)</p>
            <ng-template #selectedStart>
              <p class="margin-0px italics h7"><span class="bold-text">Chosen location:</span> {{this.locations.startLoc.selectedLoc.place_name}}</p>
            </ng-template>
            <div class='formErrorMessage redText' *ngIf="this.form.get('startLoc').invalid">
              <p *ngIf="this.form.get('startLoc').hasError('missing')" class="margin-0px">A race starting location is required.</p>
              <p *ngIf="this.form.get('startLoc').hasError('unselected')" class="margin-0px">A race starting location must be selected.</p>
            </div>
          </div>
        </div>
        
        <h6>Race Ending Location: <span class="color-red">*</span></h6>
        <div class='formGroup'>
          <div class='formInputContainer'>
            <input 
              id="endLoc" 
              class='formTextInput'
              [ngClass]="{'errorTextInput':this.form.controls.endLoc.errors != null}"
              type='text' 
              formControlName="endLoc" 
              (keyup)="this.findClosestLocations('endLoc');"
              autocomplete="off"
            />
            <div *ngIf="this.locations.endLoc.options!=null" class='locationOptions'>
              <div class='locationOptionsInnerContainer'>
                <div class="locationOptionsHeaderContainer">
                  <p class="italics margin-0px locationOptionsHeader">Please select one of the options below:</p>
                  <p class="italics h7 margin-left-8px locationOptionsClose" (click)="this.clearLocationOptions('endLoc');">Close Dropdown</p>
                </div>
                <option *ngFor="let option of this.locations.endLoc.options" class='locationOption' [value]="option.place_name" (click)="selectLocationOption(option,'endLoc')">
                  {{ option.place_name }}
                </option>
              </div>
            </div>
            <p class="margin-0px italics h7" *ngIf="this.locations.endLoc.selectedLoc==null; else selectedEnd"><span class="bold-text">Chosen location:</span> (not selected)</p>
            <ng-template #selectedEnd>
              <p class="margin-0px italics h7"><span class="bold-text">Chosen location:</span> {{this.locations.endLoc.selectedLoc.place_name}}</p>
            </ng-template>
            <div class='formErrorMessage redText' *ngIf="this.form.get('endLoc').invalid">
              <p *ngIf="this.form.get('endLoc').hasError('missing')" class="margin-0px">A race end location is required.</p>
              <p *ngIf="this.form.get('endLoc').hasError('unselected')" class="margin-0px">A race end location must be selected.</p>
            </div>
          </div>
        </div>

        <div class='formGroup formGroupWithLeftBorder formGroupAlignedTop formGroupColumn'>
          <p>Need to generate a route file? Click below to generate and download a JSON route file.</p>
          <p class="italics">Note: For a route file to successfully generate, you need to have a starting and ending location <strong>chosen</strong>, not simply typed out.</p>
          <button class="formButton margin-top-8px" (click)="this.generateRouteFile();">Generate JSON route file</button>
        </div>

        <h6>Map File Upload <span class="color-red">*</span></h6>
        <div class='formGroup formGroupAlignedTop formGroupColumn'>
          <p>Only ".json" or ".gpx" files are allowed</p>
          <div class='formInputContainer'>
            <input 
              type="file" 
              formControlName="mapFile" 
              (change)="onSelectMapFileChange($event)"
              accept=".json,.gpx"
            />
          </div>
        </div>
        <hr />

        <h6>Race Map Preview:</h6>
        <div class="MapRoutePreview" *ngIf="this.coords!=null">
          <!-- <app-map [useLoader]="false" [coordinates]="this.coords" [displayUsers]="false"></app-map> -->
        </div>
      </form>
    </ng-template>
  </ng-template>

</div>
