<div>
  <h2>Reported Stories</h2>

  <div class="table-container ex3" style="overflow:hidden;">
  
      <table mat-table [dataSource]="reportedStories" class="feedTable">
        
        <ng-container matColumnDef="ProfilePic" style="padding: 10px;">
          <td mat-cell *matCellDef="let element">
            <img width="50px" src="{{ element.profile_url }}">
          </td>
        </ng-container>
    
        <ng-container matColumnDef="Data" style="padding: 10px;">
    
          <td mat-cell *matCellDef="let element">
            <app-user-profile-nav [username]=element.username [displayName]=element.display_name></app-user-profile-nav>
            <small>{{ this.get_created_ts(element.created_ts) }}</small>
    
            <div class="container" *ngIf="element.story_image">
              <img width="200px" src="{{ element.story_image }}">
            </div>
    
            <div class="container" *ngIf="element.story_text">
              <p>{{ element.story_text }}</p>
            </div>

            <div class="container">
              <p>Reported: {{ element.report_count }} times</p>
            </div>

            <div class="container" style="display:flex;align-content: right;right:0;">
              <button mat-raised-button (click)="closeCase(element.story_id)">Close Case</button>
              <button mat-raised-button color="warn" (click)="openDeleteStoryDialog(element.story_id)">Delete</button>
            </div>
          </td>
    
        </ng-container>
    
        <tr mat-row *matRowDef="let myRowData; columns: columns"></tr>
      </table>
    
    </div>
</div>


