/* You can add global styles to this file, and also import other style files */
/*
@font-face {
	font-family:Mulish;
	src:url(./fonts/Mulish/Mulish-Regular.ttf);
}
@font-face {
	font-family:Mulish-Italic;
	src:url(./fonts/Mulish/Mulish-Italic.ttf);
}
@font-face {
	font-family:Mulish-Bold;
	src:url(./fonts/Mulish/Mulish-Bold.ttf);
}
*/

:root {
  --partial_mobile_width: 992px;
  --mobile_width: 600px;

  --main-background-color: #36343C;
  --primary-darkgrey: #36343C;
  --primary-lightgrey: rgb(200,200,200);

  --tucan-orange:#ed6a11;
  --tucan-green:#7FCC92;
  --slate-tint:#C4C4C4;
  --input-background-color: #EBEBEB;

  --common-box-shadow: 0px 0px 5px 2px rgb(200,200,200);

  --h1:64px;
  --h2:33.75px;
  --h3:26px;
  --h4:24px;
  --h5:22px;
  --h6:20px;
  --h7:12px;
}

/*
* {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s; PENIS LOL
}
*/

html, body { 
  height: 100%;
  color: var(--primary-darkgrey);
}
body { 
  margin: 0; 
  font-family: 'Mulish', Roboto, "Helvetica Neue", sans-serif !important; 
  font-size: 16px;
}


h1, .h1 {	font-size: 64px;	}
h2, .h2 {
  font-size: 33.75px !important;
  color: var(--tucan-orange);
}
h3, .h3 {
  font-size: 26px !important;
  color: var(--tucan-orange);
}
h4, .h4 {
  font-size: 24px !important;
}
h5, .h5 {
  font-size: 22px !important;
}
h6, .h6 {
  font-size: 20px !important;
}
.h7 {
  font-size:12px;
}

input[type=text], input[type=password], input[type=email], input[type=number], input[type=date], input[type=url], input[type=time], input[type=tel], input[type=search], textarea {
  background-color: var(--input-background-color);
}

button:hover, .button:hover, a:hover {
  cursor:pointer;
}

button, .button {
  display:inline-block;
  padding:4px 8px 4px 8px;
  box-sizing: border-box;

  border-radius: 8px !important;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200,200,200);
  outline-width: 0;

  background-color:inherit;
  color: var(--primary-darkgrey);
}
button.darkButton, .button.darkButton {
  background-color: var(--primary-darkgrey);
  border-color:white;
  color:white;
}

button.strippedWhite{
  display:inline-block;
  padding:1px;
  border-width: 0px;
  
  background-color:white;
  color: var(--primary-darkgrey);
}

button.orangeButton, .button.orangeButton {
  background-color: var(--tucan-orange);
  color:black;
}


button.transparentWhiteButton{
  background-color:inherit;
  border-color:white;
  color:white;
}

button.smallButton, .button.small {
  font-size: 12px;
}

button.lightButton, .button.lightButton {
  background-color:white;
}
button.fatButton, .button.fatButton {
  padding: 8px 16px 8px 16px;
}
button.shadowButton, .button.shadowButton {
  box-shadow: 0px 0px 1px 1px rgba(100,100,100,0.5);
}
button:hover, .button:hover {
  cursor:pointer;
}
button.shadowButton:hover, .button.shadowButton:hover {
  box-shadow: 0px 0px 5px 1px rgba(100,100,100,0.5);
}
button.buttonWithIcon, .button.buttonWithIcon {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
button.wideButton, .button.wideButton {
  padding-left:64px;
  padding-right:64px;
}

.color-white {
  color:white;
}
.bold-text {
  font-weight: bold;
}

.margin-0px, .margin-top-bottom-0px, .margin-top-0px    { margin-top: 0px;  }
.margin-0px, .margin-top-bottom-0px, .margin-bottom-0px { margin-bottom:0px !important; }
.margin-0px, .margin-left-right-0px, .margin-left-0px   { margin-left:0px;  }
.margin-0px, .margin-left-right-0px, .margin-right-0px  { margin-right: 0px;  }

.margin-4px, .margin-top-bottom-4px, .margin-top-4px    { margin-top:4px; }
.margin-4px, .margin-top-bottom-4px, .margin-bottom-4px { margin-bottom:4px !important; }
.margin-4px, .margin-left-right-4px, .margin-left-4px   { margin-left:4px;  }
.margin-4px, .margin-left-right-4px, .margin-right-4px  { margin-right:4px !important;  }

.margin-8px, .margin-top-bottom-8px, .margin-top-8px    { margin-top:8px; }
.margin-8px, .margin-top-bottom-8px, .margin-bottom-8px { margin-bottom:8px !important; }
.margin-8px, .margin-left-right-8px, .margin-left-8px   { margin-left:8px;  }
.margin-8px, .margin-left-right-8px, .margin-right-8px  { margin-right:8px;  }

.margin-16px, .margin-top-bottom-16px, .margin-top-16px    { margin-top:16px; }
.margin-16px, .margin-top-bottom-16px, .margin-bottom-16px { margin-bottom:16px !important; }
.margin-16px, .margin-left-right-16px, .margin-left-16px   { margin-left:16px;  }
.margin-16px, .margin-left-right-16px, .margin-right-16px  { margin-right:16px;  }

.margin-32px, .margin-top-bottom-32px, .margin-top-32px    { margin-top:32px; }
.margin-32px, .margin-top-bottom-32px, .margin-bottom-32px { margin-bottom:32px; }
.margin-32px, .margin-left-right-32px, .margin-left-32px   { margin-left:32px;  }
.margin-32px, .margin-left-right-32px, .margin-right-32px  { margin-right:32px;  }


.textAlignCenter {  text-align: center; }
.alignItemsFlexStart {  align-items: flex-start;  }
.justifyContentSpaceEvenly { justify-content: space-evenly; }

/* ---- General Use ---- */
.TucanContainer {
  position:relative;
  width:100%;
  height:100%;
}
.position_absolute_middle {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.TucanFormSegmentContainer, .TucanFormSegment {
  margin-bottom:24px;
}
.TucanFormSegment {
  width:100%;
}
.TucanFormLabelSegment {
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.TucanFormSegmentContainer {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}
  .TucanFormSegmentContainer .TucanFormSegment {
    flex-shrink:1;
    margin-left:16px;
    margin-right:16px;
    margin-bottom:0;
  }
  .TucanFormSegmentContainer .TucanFormSegment:first-child {
    margin-left:0;
  }
  .TucanFormSegmentContainer .TucanFormSegment:last-child {
    margin-right:0;
  }
.InputLabel {
  margin-top:0px;
  margin-bottom:8px;
}

.custom-modal-container {
  /* modals are hidden by default */
  display: none;
}
body.custom-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}

.redText {
  color:red !important;
}
.italics {
  font-style: italic;
}

.dropdown {
  position:relative;
  overflow:hidden;
}
  .dropdown:hover {
    cursor:pointer;
  }
.dropdown .dropdownContents {
  position:absolute;
  top:100%;
  left:0;
  height:0;
  overflow:hidden;
  width:max-content;

  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:stretch;
  flex-wrap: nowrap;
}
.dropdown.dropdownOpen, .dropdown:hover, .dropdown.dropdownVisible.dropdownOpen {
  overflow:visible !important;
}
.dropdown.dropdownVisible:hover {
  overflow:hidden;
}
.dropdown.dropdownVisible:hover .dropdownContents {
  height:0;
}
.dropdown:hover .dropdownContents, .dropdown.dropdownOpen .dropdownContents, .dropdown.dropdownVisible.dropdownOpen .dropdownContents {
  height:auto;
}
.dropdownItem {
  display:block;
  padding:8px 16px 8px 16px;
  box-sizing: border-box;
  border-bottom:1px solid rgb(200,200,200);
}
.dropdownItem:last-child {
  border-bottom:none;
}

/* ---- Global Elements ---- */
.TucanLogo {
  width:280px;
}
.PageContainer {
  position:relative;

  height:auto;
  width:100%;
  margin-bottom:64px;

  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.PageSegment {
  position:relative;
  padding:16px;
  box-sizing: border-box;

  width:100%;
  min-width: 360px;
  max-width: 800px;
  margin-left:auto;
  margin-right:auto;
}

.ImageSegment {
  position:relative;
  box-sizing: border-box;

  width:100%;
  min-width: 360px;
  max-width: 800px;
  margin-left:auto;
  margin-right:auto;
}
.PageHeaderSegment {
  height:auto;
  min-height: 154px;
  max-width: 100%;
  margin-left:0;
  margin-right:0;
  margin-bottom:32px;

  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;

  background-color: var(--main-background-color);
  color:white;
}
img.PageHeaderSegmentImage {
	width:160px;
}
h1.PageHeaderSegmentTitle {
	margin-top:8px;
	margin-bottom:0;
	font-weight: bold;
}

.Slideshow {
  position: relative;

  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
.SlideshowHeader {
  flex-shrink:0;
  flex-grow:1;
  flex-basis: 32px;

  margin-bottom:12px;

  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}
.SlideshowButton {
  margin-right:8px;
  outline-width: 0;
  font-size:14px;
}

.SlideshowSlide {
  height:0;
  visibility: hidden;
  opacity:0;
  overflow:hidden;
  display:none;
}
.SlideshowSlide.Slideshow-CurrentSlide {
  height:auto;
  visibility: visible;
  opacity:1;
  display:initial;
}

.RaceLocationsContainer {
  position:relative;
  /*
  padding-top:16px;
  padding-bottom:16px;
  */

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
  .RaceLocationsContainer .RaceLocation {
    position: relative;
    z-index: 2;
    flex-grow:0;
    flex-shrink: 1;
    flex-basis:30%;

    margin-bottom:0;
  }
  .RaceLocationsContainer .RaceDistanceLine {
    flex-grow: 1;
    width:100%;
    border-bottom:1px solid rgb(200,200,200);
    margin-left:32px;
    margin-right:32px;
  }
    .RaceLocationsContainer .RaceDistanceLine p {
      text-align:center;
      margin:0 !important;
      opacity:0.5;
    }

.CalendarDaysContainer {
  position:relative;

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
  .CalendarDaysLine {
    flex-grow: 1;
    width:100%;
    border-bottom:1px solid rgb(200,200,200);
    margin-left:32px;
    margin-right:32px;
  }
    .CalendarDaysLine p {
      text-align:center;
      margin:0 !important;
      opacity:0.5;
    }
  .CalendarDay {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis:48px;
    
    position: relative;
    background-color: white;
    border: 1px solid rgb(200,200,200);
    border-radius: 8px;

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;

    overflow:hidden;

    width:48px;
    height:48px;
  }
    .CalendarDay .CalendarDayM {
      flex-shrink: 0;
      background-color: var(--primary-darkgrey);
      color:white;
    }
      .CalendarDay .CalendarDayM p {
        text-align: center;
        margin:0;
      }
    .CalendarDay .CalendarDayD {
      position: relative;
      flex-grow: 1;
    }
      .CalendarDay .CalendarDayD p {
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        margin:0;
      }


/* .mat-drawer-backdrop.mat-drawer-shown {
    background: none;
} */
.btn-outline{
 border: 2px solid black;
  background-color: white;
  color: black;
  padding: 10px 22px;
  font-size: 16px;
  cursor: pointer;
}
/****** Leaflet Icons *****/
.location-pin img {
    width: 46px;
    height: 46px;
    margin: -26px 0 0 -13px;
    z-index: 10;
    position: absolute;
    border-radius: 50%;
    background: #32383e;
  }

.pin {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 0;
  background: #32383e;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -43px 0 0 -30px;
}

.cluster-pin-2 img {
  width: 23px;
  height: 23px;
  margin: -12px 0 0 -3px;
  z-index: 10;
  position: absolute;
  border-radius: 50%;
  background: #32383e;
}

.cluster-pin-3 img {
  width: 20px;
  height: 20px;
  margin: -12px 0 0 0px;
  z-index: 10;
  position: absolute;
  border-radius: 50%;
  background: #32383e;
}

.cluster-pin-4 img {
  width: 18px;
  height: 18px;
  margin: -11px 0 0 1px;
  z-index: 10;
  position: absolute;
  border-radius: 50%;
  background: #32383e;
}

.pin:after {
  content: '';
  width: 26px;
  height: 26px;
  margin: 2px 0 0 2px;
  position: absolute;
  border-radius: 50%;
}

.pulse {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 15px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}

.pulse:after {
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -16px 0 0 -13px;
  animation: pulsate 2.5s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  background: rgba(94, 190, 255, 0.5);
  box-shadow: 0 0 1px 2px #2d99d3;
  animation-delay: 1.1s;
}

.route-pin img {
  object-fit: contain;
  display: block;
  width: 44px;
  height: 44px;
  z-index: 10;
  position: absolute;
  border-radius: 25%;
  background: #32383e;
}

.rounded-pin {
  width: 50px;
  height: 50px;
  border-radius: 25% 25% 25% 0;
  position: absolute;
  background: #32383e;
  left: 50%;
  top: 50%;
  margin: -18px 0 0 -18px;
}

.pos0of2 { transform: rotate(45deg) translate(13px) rotate(-45deg); }
.pos1of2 { transform: rotate(-135deg) translate(13px) rotate(135deg); }

.pos0of3 { transform: translate(13px);}
.pos1of3 { transform: rotate(-135deg) translate(13px) rotate(135deg);}
.pos2of3 { transform: rotate(135deg) translate(13px) rotate(-135deg); }

.pos0of4 { transform: translate(14px); }
.pos1of4 { transform: rotate(90deg) translate(14px) rotate(-90deg); }
.pos2of4 { transform: translate(-14px) }
.pos3of4 { transform: rotate(-90deg) translate(14px) rotate(90deg); }


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #C4C4C4; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #36343C; 
}


@media only screen and (max-width: 600px) {
	.PageHeaderSegment {
		align-items: center;
	}
	h1.PageHeaderSegmentTitle {
		font-size:24px;
		font-weight: 550;	/* semi-bold */
	}
}