.MapContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;

  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.MapSidebar {
  position: relative;
  height:100%;
  background-color: grey;

  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}

.MapSidebarWidthBig{
  width:28%;
  min-width: 320px;
}

.MapSidebarWidthSmall{
   width:0%;
}
  .MapHeaderContainer, .MapFeedContainer, .MapActionsContainer {
    padding:16px;
    box-sizing: border-box;
    background-color:white;
  }

    .LogContainer {
    padding:12px;
    box-sizing: border-box;
    background-color:var(--tucan-green);
    color:white;
    text-align: center;
  }

  .buttonContainer {
    position: absolute;
    left: 0;
    top: 2px;

    z-index: 500;
 }

  .MapHeaderContainer, .MapActionsContainer {
    /* border-bottom:1px solid grey; */
    text-align:center;
  }

    .MapHeaderTitle {
      margin-bottom:12px;
      
      overflow:hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .MapHeaderButtonsContainer {
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
    }
      .MapHeaderButton {
        margin-left:8px;
        margin-right:8px;
      }
      .MapHeaderButton:first-child {
        margin-left:0;
      }
      .MapHeaderButton:last-child {
        margin-right:0;
      }
  .MapActionsContainer {
    background-color: var(--tucan-green);
  }
  .MapFeedContainer {
    flex-grow: 1;
    flex-basis: 0;
  }
    .MapFeedInputContainer {
      margin-bottom:16px;
      
      display:flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      flex-wrap: nowrap;
    }
      .MapFeedInputProfileContainer {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 70px;

        position: relative;
        display:block;
        width:70px;
        height:70px;
        background-color:grey;
        border-radius: 50%;

        overflow:hidden;

        margin-right:8px;
      }
      .MapFeedInputProfile {
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        width:100%;
      }
      .MapFeedInputTextContainer {
        flex-grow: 1;
        flex-basis: 0;
        position: relative;
      }

.MapGreaterContainer {
  flex-grow:1;
  flex-shrink: 0;
  flex-basis: 0;

  position: relative;
  width:auto;
  height:100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.logActivity{
  height:80px;
  width:100%;
  background-color:var(--tucan-green);
  text-align:center;
}

.leaderboard-col{
  width:20%;
}

.map-col{
  width:80%;
}


.ActionsContainer {
    position: absolute;
    padding: 20px;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: 500;
    width: 100%;
    background-color: rgba(91, 90, 92,50%);
    padding-bottom: 3.5rem;
 }

 .LeftActions {
    left: 0;
    top: 0;
 }
  .RightActions {
    right: 0;
    top: 0;
 }


.row {
  display: flex;
  flex-wrap: wrap;
}

.row-status {
  padding:4px;
  display: flex;
  flex-wrap: wrap;
}

.me-col {
  width:30%;
}

.story-col {
  width:70%;
}


.main-col {
  width:62%;
}

.side-col {
  width:38%;
  display:flex;
  align-content: right;
  right:0;
}

.material-icons{
  font-size:14px;
}