.MapContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;

  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.MapSidebar {
  position: relative;
  height:100%;
  width:20%;
  min-width: 320px;
  background-color: grey;

  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
  .MapHeaderContainer, .MapFeedContainer, .MapActionsContainer {
    padding:16px;
    box-sizing: border-box;
    background-color:white;
  }
  .MapHeaderContainer, .MapActionsContainer {
    border-bottom:1px solid grey;
  }
    .MapHeaderTitle {
      margin-bottom:16px;
      
      overflow:hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .MapHeaderButtonsContainer {
      margin-bottom:16px;

      display:flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
    }
      .MapHeaderButton {
        margin-left:8px;
        margin-right:8px;
      }
      .MapHeaderButton:first-child {
        margin-left:0;
      }
      .MapHeaderButton:last-child {
        margin-right:0;
      }
  .MapActionsContainer {

  }
  .MapFeedContainer {
    flex-grow: 1;
    flex-basis: 0;
  }

.MapGreaterContainer {
  flex-grow:1;
  flex-shrink: 0;
  flex-basis: 0;

  position: relative;
  width:auto;
  height:100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.logActivity{
  height:80px;
  width:100%;
  background-color:var(--tucan-green);
  text-align:center;
}

.leaderboard-col{
  width:20%;
}

.map-col{
  width:80%;
}


.ActionsContainer {
    position: absolute;
    padding: 20px;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: 500;
    width: 100%;
    background-color: rgba(91, 90, 92,50%);
    padding-bottom: 3.5rem;
 }

 .LeftActions {
    left: 0;
    top: 0;
 }
  .RightActions {
    right: 0;
    top: 0;
 }


.row {
  display: flex;
  flex-wrap: wrap;
}

.row-status {
  padding:20px;
  display: flex;
  flex-wrap: wrap;
}

.me-col {
  width:30%;
}

.story-col {
  width:70%;
}


.main-col {
  width:62%;
}

.side-col {
  width:38%;
  display:flex;
  align-content: right;
  right:0;
}