<!-- <app-map></app-map> -->
<div>

<app-loader [isActive]="loading"></app-loader>
<mat-sidenav-container>
  <mat-sidenav md-disable-backdrop='true' #menu mode="side" style="overflow-y: hidden;">
    <mat-tab-group>
      <mat-tab label="Import">
        <mat-tab-group>
          <mat-tab label="API">
            <app-activities-menu [activities]="activities" [distance_unit]="progress.distance_type" (addAct)="addAct($event)" (importActs)="importActs($event)"></app-activities-menu>
          </mat-tab>
          <mat-tab label="Manual">
            <app-manual-entry (uploadManualEntry)="uploadManualEntry($event)"></app-manual-entry>
          </mat-tab>
        </mat-tab-group>
        
      </mat-tab>
      <mat-tab label="L">
        <mat-tab-group>
          <mat-tab label="Distance">
            <app-leaderboard [leaderboard]="leaderboard"></app-leaderboard>
          </mat-tab>
          <mat-tab label="Pace">

          </mat-tab>
        </mat-tab-group>
        
      </mat-tab>
      <mat-tab label="Social">
        <app-race-feed [feedItems]="all_user_data"></app-race-feed>>
      </mat-tab>
    </mat-tab-group>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <app-map [coordinates]="coords" [userData]="all_user_data"></app-map>

    <a class="btn btn-primary btn-customized open-menu" role="button" (click)="menu.toggle()">
      <i class="fas fa-align-left"></i> <span>Menu</span>
  </a>

  <a class="btn btn-primary btn-customized activitiestoggle" data-toggle="modal" data-target="#activitiesModal" (click)="showModal('#activitiesModal')">
      <span style="color:white">Import Activities</span>
      <span class="badge badge-light"></span>
    </a>

<a class="btn btn-primary btn-customized leaderboardtoggle" data-toggle="modal" data-target="#leaderboardModal" (click)="showModal('#leaderboardModal')">
    <span style="color:white">Leaderboard</span>
  </a>

<a class="btn btn-primary btn-customized inviteToggle" data-toggle="modal" data-target="#inviteModal" (click)="showModal('#inviteModal')">
  <span style="color:white">Invite</span>
</a>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- Wrapper -->

    <!-- open sidebar menu -->

</div>

<div class="modal fade" id="activitiesModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select Activities You'd Like to Apply Towards This Race</h4>
        <button type="button" class="close" (click)="hideModal('#activitiesModal')">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <table class="actsTable table table-striped" id='activities_table'>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>

            </tr>
          </thead>
          <tbody>
              <tr class="activityRow" *ngFor="let act of activities" (click)="addAct(act)">
                  <td scope="row">{{act.name}}</td>
                  <td>{{act.converted_dist}} {{ progress.distance_type }}</td>
                  <td>{{act.start_date}}</td>
                </tr>
          </tbody>
        </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="importActs()" >Import</button>
        <button type="button" class="btn btn-danger" (click)="hideModal('#activitiesModal')">Close</button>

        <!-- this button is hidden, used to close from typescript -->
        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="leaderboardModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Leaderboard</h4>
        <button type="button" class="close" (click)="hideModal('#leaderboardModal')">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Modal body..
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="sendModal()" >Send</button>
        <button type="button" class="btn btn-danger" (click)="hideModal('#leaderboardModal')">Close</button>

        <!-- this button is hidden, used to close from typescript -->
        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="inviteModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Invite Followers!</h4>
        <button type="button" class="close" (click)="hideModal('#inviteModal')">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <table class="table table-striped" id='invite_table'>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"></th>

            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let follower of followers">
                  <td><img src="#" width="50px" height="50px"></td>
                  <td scope="row">{{follower.first_name}} {{follower.last_name}}</td>
                  <td></td>
                  <td></td>
                </tr>
          </tbody>
        </table>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="sendModal()" >Send</button>
        <button type="button" class="btn btn-danger" (click)="hideModal('#inviteModal')">Close</button>

        <!-- this button is hidden, used to close from typescript -->
        <button type="button" id="close-modal" data-dismiss="modal" style="display: none">Close</button>
      </div>
    </div>
  </div>
</div>
    


<app-user-progress [progress]="progress"></app-user-progress>
