.RaceViewContainer {
    position:relative;
    overflow:hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;   
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.leaderboard-col{
  width:20%;
}

.map-col{
  width:80%;
}

.MapContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
}


.ActionsContainer {
    position: absolute;
    padding: 20px;
    left: 0;
    top: 0;
    opacity: 0.8;
    z-index: 500;
    width: 100%;
    background-color: rgba(91, 90, 92,50%);
    padding-bottom: 3.5rem;
 }

 .LeftActions {
    left: 0;
    top: 0;
 }
  .RightActions {
    right: 0;
    top: 0;
 }


 .leaderboardContainer {
    position: absolute;
    right: 0;
    top: 10px;

    z-index: 500;
    width: 19%;
    background-color: rgba(255,255,255,95%);
    padding-bottom: 1rem;
 }

  .feedContainer {
    position: absolute;

    left: 0;
    top: 20px;
    z-index: 500;
    width: 23%;
    background-color: rgba(255,255,255,90%);
    
 }


.row {
  display: flex;
  flex-wrap: wrap;
}

.row-status {
  padding:20px;
  display: flex;
  flex-wrap: wrap;
}

.me-col {
  width:30%;
}

.story-col {
  width:70%;
}


.main-col {
  width:62%;
}

.side-col {
  width:38%;
  display:flex;
  align-content: right;
  right:0;
}