@media only screen and (max-width:1024px) {
  	.btn-mobile
	 {
	 	font-size:50px;left-padding:8px;right-padding:8px
	 }
	}


.row {
  display: flex;
  flex-wrap: wrap;
}


.status-col {
  width:80%;
}

.pic-col {
  width:20%;
}
