<div class='PageContainer'>

  <div class='PageSegment PageHeaderSegment'>
   <!-- <img class='PageHeaderSegmentImage FAQsHeaderImage' src= "../../assets/svg.png" alt="FAQs" /> -->
    <h1 class="PageHeaderSegmentTitle">Frequently asked questions</h1>
  </div>
  <!-- <div class='ImageSegment'>
    <p style="text-align:center;">
      <img src= "../../assets/question.png" class="FAQImage" style="max-width:300px;">
    </p>
  </div> -->
  <div class='PageSegment'>
    <h2 class='margin-bottom-16px'>Using Tucan Fitness</h2>
    
    <div class='faqAccordian'>
      <div class='faqHeader' (click)="this.ToggleQuestion('actually_run')">
        <p class='margin-bottom-4px'> <span class="material-icons">keyboard_arrow_right</span> <b> Do I actually run the route on the Map?</b></p>
      </div>
      <div class='faqContent' [ngClass]="{'open':this.IsOpen('actually_run')}">
        <p class='margin-bottom-0px'>Most of our races do NOT require you running the route on the map. Assume you are running in your own neighborhood unless your race director specifies that it's a "hybrid" race, which means that you will run the routes, but on your own time.</p>
      </div>
    </div>
    
    <div class='faqAccordian'>
      <div class='faqHeader' (click)="this.ToggleQuestion('where')">
        <p class='margin-bottom-4px'><span class="material-icons">keyboard_arrow_right</span> <b>It's race day, where do I go?</b></p>
      </div>
      <div class='faqContent' [ngClass]="{'open':this.IsOpen('where')}">
        <p class='margin-bottom-0px'>Navigate to your profile, and under "Current Races" click "view map".</p>
      </div>
    </div>

    <div class='faqAccordian'>
      <div class='faqHeader' (click)="this.ToggleQuestion('strava')">
        <p class='margin-bottom-4px'><span class="material-icons">keyboard_arrow_right</span> <b>How do I use and connect with Strava?</b></p>
      </div>
      <div class='faqContent' [ngClass]="{'open':this.IsOpen('strava')}">
        <ol>
          <li>If you don't have Strava, download Strava from the app store and setup a Strava account on your phone (don't worry, it's free).</li>
          <li>After creating your Strava account, go back to our site, Tucan Fitness. Go to your profile and click "Authenticate with Strava" and follow the steps to attach your account.</li>
          <li>This will pull in any Strava activities you do, and you can access them by clicking "Log activities" on the map page.</li>
        </ol>
        <p class='margin-bottom-0px'>If you are confused about how to record activities with Strava, read more on the <a href="https://support.strava.com/hc/en-us/articles/216917397-Recording-an-Activity">Strava site</a>.</p>
      </div>
    </div>

    <div class='faqAccordian'>
      <div class='faqHeader' (click)="this.ToggleQuestion('manual')">
        <p class='margin-bottom-4px'><span class="material-icons">keyboard_arrow_right</span> <b>How do I manually add my miles?</b></p>
      </div>
      <div class='faqContent' [ngClass]="{'open':this.IsOpen('manual')}">
        <p class='margin-bottom-0px'>Click "Log activities" on the map page, and enter your activity information!</p>
      </div>
    </div>

    <div class='faqAccordian'>
      <div class='faqHeader' (click)="this.ToggleQuestion('strava_activities')">
        <p class='margin-bottom-4px'><span class="material-icons">keyboard_arrow_right</span> <b>Help, my strava activities aren’t showing up!</b></p>
      </div>
      <div class='faqContent' [ngClass]="{'open':this.IsOpen('strava_activities')}">
        <p class='margin-bottom-0px'> Strava sometimes takes a while to send activities to us, especially biking activities. If this persists for over 24 hours, go to your profile, unauthenticate from Strava, and reauthenticate with Strava. If issues persist, please email us at <a href="mailto:admin@tucan.fitness">admin@tucan.fitness</a>.</p>
      </div>
    </div>

    <div class='faqAccordian'>
      <div class='faqHeader' (click)="this.ToggleQuestion('wrong_amount')">
        <p class='margin-bottom-4px'><span class="material-icons">keyboard_arrow_right</span> <b>Help, I entered the wrong amount of miles!</b></p>
      </div>
      <div class='faqContent' [ngClass]="{'open':this.IsOpen('wrong_amount')}">
        <p class='margin-bottom-0px'>
          Occasionally, this may happen. As of right now, we do not support users removing their own miles.
          <br />
          Please email us at <a href="mailto:admin@tucan.fitness">admin@tucan.fitness</a> with the amount of miles you added and the amount of miles you meant to add. We'll fix it for you.
        </p>
      </div>
    </div>

    <div class='faqAccordian'>
      <div class='faqHeader' (click)="this.ToggleQuestion('payment_issue')">
        <p class='margin-bottom-4px'><span class="material-icons">keyboard_arrow_right</span> <b>What should I do if I have a payment issue?</b></p>
      </div>
      <div class='faqContent' [ngClass]="{'open':this.IsOpen('payment_issue')}">
        <p class='margin-bottom-0px'>
          Contact us directly at <a href="mailto:admin@tucan.fitness">admin@tucan.fitness.</a> We can refund you via Paypal if needed.
          <br />
          If you dispute the claim with Paypal, it deducts $20 from the fundraiser or race you are associated with, and no one wants that.
        </p>
      </div>
    </div>
  </div>


    <div class='PageSegment'>
    <h2 class='margin-bottom-16px'>About Tucan Fitness races</h2>
    
    <div class='faqAccordian'>
      <div class='faqHeader' (click)="this.ToggleQuestion('actually_run')">
        <p class='margin-bottom-4px'> <span class="material-icons">keyboard_arrow_right</span> <b>What is a virtual race?</b></p>
      </div>
      <div class='faqContent' [ngClass]="{'open':this.IsOpen('actually_run')}">
        <p class='margin-bottom-0px'>Whether you’re running in the city, your neighborhood, or your own backyard, you’re also sharing a digital route with other participants and racers. Tucan Fitness removes borders and boundaries of race participation so that racers can participate from anywhere in the world, without all the hassle of parking, scheduling, traffic, (and port-a-potties) but with the benefit of a worldwide community working together towards common fitness and fundraising goals.</p>
      </div>
    </div>
    
    <div class='faqAccordian'>
      <div class='faqHeader' (click)="this.ToggleQuestion('where')">
        <p class='margin-bottom-4px'><span class="material-icons">keyboard_arrow_right</span> <b>What is a hybrid race?</b></p>
      </div>
      <div class='faqContent' [ngClass]="{'open':this.IsOpen('where')}">
       <p class='margin-bottom-0px'>Race directors wanted to take virtual racing to the next level, and we listened. Introducing… a whole new kind of race, hybrid racing. You have a set time period to run real physical trails in a selected city. You choose the timing and the order in which you complete each trail in-person. You can run the distance in one day or you can take the entire race duration. Our platform brings together participants with social features, statistics, and leaderboards. Compete with friends, the clock, and yourself!</p>
      </div>
    </div>
  </div>

  <div class='PageSegment'>
    <h2 class='margin-bottom-16px'>About Tucan Fitness business</h2>
    
    <div class='faqAccordian'>
      <div class='faqHeader' (click)="this.ToggleQuestion('why_tucan')">
        <p class='margin-bottom-4px'><span class="material-icons">keyboard_arrow_right</span> <b>Why Tucan Fitness?</b></p>
      </div>
      <div class='faqContent' [ngClass]="{'open':this.IsOpen('why_tucan')}">
        <p class='margin-bottom-0px'>
          At Tucan, we are passionate about fitness and bringing people together. We believe fundraising and racing (fund-racing) should not be limited to the physical world.
          <br />
          Our virtual platform is inclusive of all fitness levels and fits right into your busy schedule. Ask us about how to set up your race or fundraiser today.
        </p>
      </div>
    </div>

    <div class='faqAccordian'>
      <div class='faqHeader' (click)="this.ToggleQuestion('how_much')">
        <p class='margin-bottom-4px'> <span class="material-icons">keyboard_arrow_right</span> <b> How much are your services? </b></p>
      </div>
      <div class='faqContent' [ngClass]="{'open':this.IsOpen('how_much')}">
        <p class='margin-bottom-0px'>
          It varies on the race duration and amount of participants, but it will generally cost between 5-10$/person.
          <br />
          For instance, we had a race with 500 people for 1 month, and each user paid $7 to the platform, and the rest went to the organization. Not too shabby! Contact us for a quote.
        </p>
      </div>
    </div>

    <div class='faqAccordian'>
      <div class='faqHeader' (click)="this.ToggleQuestion('setup_race')">
        <p class='margin-bottom-4px'><span class="material-icons">keyboard_arrow_right</span> <b>What do I need to setup a race?</b></p>
      </div>
      <div class='faqContent' [ngClass]="{'open':this.IsOpen('setup_race')}">
        <p>Talk with us and we'll let you know more! If you decide to do a race with us, we need you to:</p>
        <ul class='margin-bottom-0px'>
          <li>Determine the distance, dates, and timing of the race</li>
          <li>Customize the route, personalize it for your organization or community</li>
          <li>Set entry price and donations</li>
          <li>Decide whether people compete as individuals or a team</li>
          <li>Market the race to your community</li>
        </ul>
      </div>
    </div>

    <div class='faqAccordian'>
      <div class='faqHeader' (click)="this.ToggleQuestion('where_o')">
        <p class='margin-bottom-4px'><span class="material-icons">keyboard_arrow_right</span> <b>Where's the O in "Tucan"?</b></p>
      </div>
      <div class='faqContent' [ngClass]="{'open':this.IsOpen('where_o')}">
        <p class='margin-bottom-0px'>Who wants to know??</p>
      </div>
    </div>

  </div>
  <div class='PageSegment'>
    <h2>Is your question still not answered?</h2>
    <p> Email us:<a href="mailto:admin@tucan.fitness">admin@tucan.fitness</a>.</p>
  </div>
</div>
