img.PageHeaderSegmentImage.FAQsHeaderImage {
    width:100px;
}

.faqAccordian {
    border-bottom: solid;
    border-color: var(--primary-lightgrey);
    padding-left: 8px;

}
.faqHeader {
    margin-bottom:8px;
}
    .faqHeader:hover {
        cursor:pointer;
        color:black;
    }
.faqContent {
    padding-left:16px;
    box-sizing: border-box;

    height:0;
    overflow:hidden;
}
.faqContent.open {
    height:auto;
    padding-top:8px;
    padding-bottom:8px;
}

span {
    display: inline-flex;
    vertical-align: middle;
    font-size:18px;
    color: var(--tucan-orange);
}