<div class='PageContainer'>
  <div class='PageSegment PageHeaderSegment'>
    <img src= "../../assets/landing/tucan_main.png" class="TucanLogo" />
    <h1 class="PageHeaderSegmentTitle">Frequently Asked Questions</h1>
  </div>
  <div class='PageSegment'>
    <h2>Using Tucan Fitness</h2>
    <h3>Do I actually run the route on the Map?</h3>
    <p> Most of our races do NOT require you running the route on the map. Assume you are running in your own neighborhood unless your race director specifies that it's a "hybrid" race, which means that you will run the routes, but on your own time.</p>
    <h3>How do I use and connect with Strava?</h3>
    <p>If you don't have Strava, download Strava from the app store and setup a Strava account on your phone (don't worry, it's free) After creating your Strava account, go back to our site, Tucan Fitness. Go to your profile and click "Authenticate with Strava" and follow the steps to attach your account. This will pull in any Strava activities you do, and you can access them by clicking "Log activities" on the map page. If you are confused about how to record activities with Strava, read more on the <a href="https://support.strava.com/hc/en-us/articles/216917397-Recording-an-Activity">Strava site</a>.</p>
    <h3>How do I manually add my miles?</h3>
    <p>Click "Log activities" on the map page, and enter your activity information!</p>
    <h3>How do I make or join a team?</h3>
    <p>Click asdsadsad on the map page and asdasdadsad</p>
    <h3>Help my strava activities aren’t showing up</h3>
    <p> Strava sometimes takes a while to send activities to us, especially biking activities. If this persists for over 24 hours, go to your profile, unauthenticate from Strava, and reauthenticate with Strava. If issues persist, please email us at <a href="mailto:admin@tucan.fitness">admin@tucan.fitness</a>.</p>
    <h3>Help I entered the wrong amount of miles</h3>
    <p>Hey, it happens. As of right now, we do not support users removing their own miles. Please email us at <a href="mailto:admin@tucan.fitness">admin@tucan.fitness</a> with the amount of miles you added and the amount of miles you meant to add. We'll fix it for you.</p>
     <h3>What should I do if I have a payment issue?</h3>
    <p>Contact us directly at <a href="mailto:admin@tucan.fitness">admin@tucan.fitness.</a> We can refund you via Paypal if needed. If you dispute the claim with Paypal, it deducts $20 from the fundraiser or race you are associated with, and no one wants that.</p>

  </div>
  <div class='PageSegment'>
    <h2>About Tucan Fitness Business</h2>
    <h3>Why Tucan Fitness?</h3>
    <h3>How much are your services?</h3>
    It varies on the race duration and amount of participants, but it will generally cost between 5-10$/person. For instance, we had a race with 500 people for 1 month, and each user paid $7 to the platform, and the rest went to the organization. Not too shabby!
    <h3>What do I need to setup a race?</h3>

      Talk with us and we'll let you know more! If you decide to do a race with us, we need you to:
      <ul>
        <li>Determine the distance, dates, and timing of the race</li>
        <li>Customize the route, personalize it for your organization or community</li>
        <li>Set entry price and donations</li>
        <li>Decide whether people compete as individuals or a team</li>
        <li>Market the race to your community</li>
      </ul>
      and our job is to make your race reality.


    <h3>Where's the O in "Tucan"?</h3>
    <p> silly answer here</p>

  </div>
  <div class='PageSegment'>
    <h2>Is your question still not answered?</h2>
    <p> Email us:<a href="mailto:admin@tucan.fitness">admin@tucan.fitness</a>.</p>
  </div>
</div>
