<div class='PageContainer'>
  <div class='PageSegment PageHeaderSegment'>
    <img src= "../../assets/landing/tucan_main.png" class="TucanLogo" />
    <h1 class="PageHeaderSegmentTitle">Frequently Asked Questions</h1>
  </div>
  <div class='PageSegment'>
    <h2>Using Tucan Fitness</h2>
    <h3>How do I use and connect with Strava?</h3>
    <p>If you don't have Strava, download Strava from the app store and setup a Strava account on your phone (don't worry, it's free) After creating your Strava account, go back to our site, Tucan Fitness. Go to your profile and click "Authenticate with Strava" and follow the steps to attach your account. This will pull in any Strava activities you do, and you can access them by clicking "Log activities" on the map page. If you are confused about how to record activities with Strava, read more on the <a href="https://support.strava.com/hc/en-us/articles/216917397-Recording-an-Activity">Strava site</a>.</p>
    <h3>How do I manually add my miles?</h3>
    <p>Click "Log activities" on the map page, and enter your activity information!</p>
    <h3>How do I make or join a team?</h3>
    <p>Click asdsadsad on the map page and asdasdadsad</p>
    <h3>Help my strava activities aren’t showing up</h3>
    <p> Strava sometimes takes a while to send activities to us, especially biking activities. If this persists for over 24 hours, go to your profile, unauthenticate, and reauthenticate with Strava. If issues persist, please email us at <a href="mailto:admin@tucan.fitness">admin@tucan.fitness</a>.</p>

  </div>
  <div class='PageSegment'>
    <h2>About Tucan Fitness Business</h2>
    <h3>I'm interested in doing a race with you. What now?</h3>
    <p>We're happy to talk with you! Please email us at <a href="mailto:admin@tucan.fitness">admin@tucan.fitness</a>.</p>
    <h3>Where's the O in "Tucan"?</h3>
    <p> silly answer here</p>

  </div>
  <div class='PageSegment'>
    <h2>Is your question still not answered?</h2>
    <p>Email us: <a href="mailto:admin@tucan.fitness">admin@tucan.fitness</a>.</p>
  </div>
</div>
