.UserRaceHeaderRow {
  margin-bottom:16px;

  display:flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  flex-wrap: nowrap;
}
  .UserRaceHeader {
    flex-shrink: 1;
    flex-basis: 100%;
  }
  .UserRaceHeaderCreateContainer {
    flex-shrink: 0;
    flex-basis: auto;
  }

.UserRaceItem {
  display:block;
  margin-bottom:8px;
}

.UserRaceItemContents {
  position: relative;
  width:100%;
  height:auto;
  padding:16px;
  box-sizing: border-box;
}
  .UserRaceItemHeader {
    position:relative;
    height:160px;
    width:100%;
    overflow:hidden;
    margin-bottom:8px;
  }

  .UserRaceItemImage {
    position: absolute;
    left:0;
    top:0;
    z-index: 1;
    width:100%;
  }
  .UserRaceItemNameContainer {
    position: relative;
    z-index: 2;
    height:100%;
    width:100%;

    background:linear-gradient(transparent,rgba(0,0,0,0.9));
  }
    .UserRaceItemName {
      position: absolute;
      bottom:0px;
      left:0px;
      
      padding:16px;
      box-sizing: border-box;

      color:white;
      width:100%;
      margin-bottom:0px;

      overflow:hidden;
      white-space: nowrap;
      text-overflow:ellipsis;
    }
  .UserRaceItemCalendarDaysContainer {
    position: absolute;
    z-index: 2;
    top:0;
    right:0;

    padding:16px;
    box-sizing: border-box;
  }

  .UserRaceItemLocationsContainer {
    margin-bottom:8px;
  }

  .UserRaceItemButtons {
      display:flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
  }
    .UserRaceItemButtons button, .UserRaceItemButtons .button {
      margin-right:8px;
      margin-bottom:8px;
    }

@media only screen and (max-width: 992px) {
  .TucanRaceItemDescription {
    flex-direction: column;
    align-items: stretch;
  }

  .TucanRaceItemDetails {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .TucanRaceItemSpecificInfo {
    width:100%;
  }

  .TucanRaceItemButtons {
    
    width:100%;
  }
}