<div class='Feed' *ngIf="comments">
  <div *ngFor="let element of comments" class='FeedItem'>
    <div class='FeedProfileImgCell'>
      <div class='FeedProfileImgContainer'>
        <img class="FeedProfileImg" src="{{ element.profile_url }}">
      </div>
    </div>
    <div class='FeedProfileContentCell'>
      <div class='FeedMessageHeader'>
        <p class='FeedMessageName'><app-user-profile-nav [username]=element.username [displayName]=element.display_name></app-user-profile-nav></p>
        <span class='h7'>{{ this.get_created_ts(element.created_ts) }}</span>
      </div>
      <div class='FeedMessageContent'>
        <p class='margin-bottom-4px'>{{ element.body }}</p>
      </div>
    </div>
  </div>
</div>
<app-comments-form *ngIf="this._authService.isLoggedIn()" [storyID]="storyID" (commentPosted)="newCommentPosted()"></app-comments-form>
