<ng-template [ngIf]="!this.reportSuccess" [ngIfElse]="ReportSuccessful">
  <button class='formButton margin-bottom-24px' (click)="this.closeDialog()">Close</button>
  
  <form class='form' [formGroup]="reportForm" (submit)="this.onSubmit($event)">
    
    <h2>Make a Report</h2>
    <p>You can report the post by checking the box next to the most applicable offence and clicking Report. The person who is being reported will not get a notification from you.</p>

    <div class='formGroup formGroupColumn formGroupAlignedTop'>
        <div class='formInputContainer margin-bottom-0px' *ngFor="let offence of this.offencesList">
          <input 
            id="{{'report_index_'+offence.id}}"
            type="radio"
            name="offence"
            class="formCheckboxInput"
            value="{{offence.id}}"
            formControlName="offence"
          />
          <label for="{{'report_index_'+offence.id}}">{{offence.type}}</label>
        </div>
        <div class='inputErrorContainer' *ngIf="this.submitted && !this._isFormValid()">
          <p>Please select one checkbox only.</p>
        </div>
    </div>
    <div class='formGroup submitFormGroup forGroupAlignedTop'>
      <input 
        type="submit"
        class="button formButton formSubmitButton"
        [ngClass]="{'disabled':(this.checkingValidity || !this._isFormValid())}"
        [disabled]="this.checkingValidity || !this._isFormValid()"
        [readonly]="this.checkingvalidity || !this._isFormValid()"
        value="Report"
      />
      <p class="redText h7 margin-bottom-0px margin-top-4px" *ngIf="this.submitted && this.reportError != null">{{this.reportError.error}}</p>
    </div>
  </form>

</ng-template>

<ng-template #ReportSuccessful>
  <h2>Report Received</h2>
  <p>Your report has been received successfully. Thanks for helping to keep our community safe!</p>
  <button (click)="this.closeDialog()">Close</button>
</ng-template>