<h6> Order Total: ${{price}}</h6>.
<p>By placing your order, you agree to Tucan's <app-terms-of-service></app-terms-of-service>. Ensure your shipping address is correct when connecting with paypal, because that is where we'll ship your items!</p>
<div id='paypal-view'>
  <app-loader [isActive]="loading"></app-loader>
</div>
<div *ngIf="paymentError"
    class="alert alert-danger">
    
    <div>
       Your Transaction did not go through, please try again. If you continue to have problems email us at admin@tucan.fitness
    </div>
    </div>
