<h3>Share an Update</h3>
<textarea  id="storyImageCaption" name="storyImageCaptionField" maxlength="100" placeholder="What's on your mind?"  required style="width:100%;"></textarea>

<input type="file" id="storyImage" name="storyImageField" accept="image/*" (change)="onSelectFile($event)">

<div class="wrapper" *ngIf="storyImage">
	<img [src]="this.storyImage" width="100px">
</div>

<button (click)="uploadStory()">Add Story</button>
<button class="CloseLogin" (click)="closeDialog()">Close</button> 

