.ContactTitle {
	margin-top:32px;
	margin-bottom:0;
	text-align: center;
	line-height: initial !important
}

.ContactTucanImg{
	max-height: 20%;
    max-width: 20%;
}

.ImgCol{
    width: 60%;
    margin: 1px;
  }
.ContentCol{
    width: 35%;
    margin: 1px;
  }
    .row {
  display: flex;
  flex-wrap: wrap;
}

.socialMedia{
	max-width:24px;
	margin:4px;
}