<div class='PageContainer'>
	<div class="PageSegment PageHeaderSegment">
		<!-- <img src= "../../assets/landing/tucan_main.png" class="TucanLogo" /> -->
		<h1 class="PageHeaderSegmentTitle">Contact Us</h1>
	</div>
	<div class='PageSegment'>
		<!--<h2>Reach out!</h2>
		<app-contact-form></app-contact-form> -->

		<div class="row">
			<div class="ImgCol">
				 <p style="text-align:center;">
			      <img src= "../../assets/team.png"  style="max-width:360px;">
			    </p>
			</div>
			<div class="ContentCol">
				<h2>Our team is here to help</h2>
				<p>Interested in working with us? Or have a question about Tucan Fitness? Contact us directly!</p>
			
				<a href="mailto:admin@tucan.fitness" style="color:var(--tucan-green);">admin@tucan.fitness</a>
				<p>
				<br>
			    </p>
				<a href="https://www.facebook.com/tucanfit"><img class="socialMedia" src= "https://www.flaticon.com/svg/static/icons/svg/174/174848.svg"></a>
				<a href="https://www.linkedin.com/company/tucan-fitness/"><img class="socialMedia" src= "https://www.flaticon.com/svg/static/icons/svg/174/174857.svg"></a>

			</div>
		</div>

		

		
	</div>
</div>